@model ShareHoderFrontEndV2.Models.ChangePasswordModel

@{
    ViewBag.Title = Resources.Resource.changePassword
}

<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")"  type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="main-content" style="margin-top: 30px;">
<div class="main-content" >
    <div class="left-menu">
        @Html.Partial("ProfileLeftMenuPartial")
    </div>
    <div class="contentLogin">
        @Html.ValidationSummary(true, @Resources.UserInterface.unsuccessfulPasswordChange)

        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "ChangePasswordFrm" }))
        {
            <fieldset>
                <br />
                <b><div style="margin-left:20px;color:#2F77FD">@Resources.Resource.changePassword</div></b>
                <table>
                    <tr>
                        <td>@Resources.Resource.currentPassword</td>
                        <td> @Html.PasswordFor(m => m.OldPassword)</td>
                        <td>@Html.ValidationMessageFor(m => m.OldPassword)</td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.newPassword</td>
                        <td>@Html.PasswordFor(m => m.NewPassword)</td>
                        <td>@Html.ValidationMessageFor(m => m.NewPassword)</td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.confirmPass</td>
                        <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                        <td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
                    </tr>
                </table>
                <div>            
                    <div class="buttonwrapper">
                        <a class="submitbutton" id="submitButton" style="cursor:pointer;margin-bottom: 10px;" title="@Resources.ValidationMessage.changePassword"><span >@Resources.ValidationMessage.changePassword</span></a>
                    </div>
                </div>
            </fieldset>
        }
     </div>
</div>
<script type="text/javascript">
    $("#submitButton").click(function () {
        submitForm();
    });

    function submitForm() {
        $("#ChangePasswordFrm").submit();
    }
</script>