@model ShareHoderFrontEndV2.Models.ChangePasswordModel

@{
    ViewBag.Title = @Resources.UserInterface.changePassword;
}

        @Html.ValidationSummary(true, @Resources.UserInterface.unsuccessfulPasswordChange)

        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "ChangePasswordFrm" }))
        {
              <div data-role="fieldcontain" class="ui-hidden-accessible" theme="e" data-mini="true">
                        @Html.LabelFor(m => m.OldPassword)
                        @Html.PasswordFor(m => m.OldPassword)
                        @Html.ValidationMessageFor(m => m.OldPassword)
              </div>
              <div data-role="fieldcontain" class="ui-hidden-accessible" theme="e" data-mini="true">
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)
               </div>
                <div data-role="fieldcontain" class="ui-hidden-accessible" theme="e" data-mini="true">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
             </div>
            <div data-role="controlgroup" data-type="horizontal" >
                <a href="../Home" data-role="button" data-icon="back" data-theme="e" title="@Resources.UserInterface.goBackHint">@Resources.UserInterface.goBack</a>
                <input type="submit"  value='Đổi MK' title="@Resources.ValidationMessage.changePassword" data-icon="check" data-theme="e"/>
            </div>               
        }