@model ShareHoderFrontEndV2.Models.ResetPasswordModel

@{
    ViewBag.Title = @Resources.UserInterface.resetPassword;
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


        @Html.ValidationSummary(true, "Tìm lại mật khẩu không thành công.")

        @using (Html.BeginForm())
        {
            
            <fieldset>
                <legend>@Resources.UserInterface.resetPassword</legend>
                    <div data-role="fieldcontain" class="ui-hidden-accessible" theme="e" data-mini="true">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>                
                <input type="submit" value='@Resources.UserInterface.send' title="@Resources.UserInterface.send" data-role="button" data-icon="check" data-theme="e" />
            </fieldset>
        }

