@model ShareHoderFrontEndV2.Models.ResetPasswordModel

@{
    ViewBag.Title = @Resources.UserInterface.changePassword;
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

   <div style="padding-left:10px;margin-top: 30px">
   <div class="contentLogin">
        @Html.ValidationSummary(true, @Resources.Resource.resetPasswordSuccessfully)

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "ResetPasswordFrm" }))
        {
            <fieldset style="margin-bottom:10px">
            <br /> 
            <div style="margin-left:20px;"><strong>@Resources.Resource.resetPasswordMsg</strong></div>      
                <table>
            <tr>
                <td>@Resources.Resource.emailAddress</td>
                <td>@Html.TextBoxFor(m => m.Email, new { style="width:250px" })</td>
                <td>@Html.ValidationMessageFor(m => m.Email)</td>
            </tr>
            </table>   
             
            <div>            
                    <div class="buttonwrapper">
                        <a class="submitbutton" id="submitButton" style="cursor:pointer" title="@Resources.Resource.resetPassword"><span>@Resources.Resource.resetPassword</span></a>
                    </div>
             </div>
                
            </fieldset>
        }
    </div>
    </div>
  <script type="text/javascript">

      $("#submitButton").click(function () {
          submitForm();
      });

      function submitForm() {
          $("#ResetPasswordFrm").submit();
      }
</script>