@{
    ViewBag.Title = "Xin chào bạn đến quản trị Aquila";
}
<div id="content">

            <h2><span>Danh sách thông tin khách sạn</span></h2>

            <!-- tab -->
            <ul id="tab">
                <li class="Active"><span>@string.Format("Tổng cộng khách sạn")</span></li>
            </ul>
            <!-- tab.end -->

            <!-- panel -->
            <div class="Panel">

                <!-- functions -->
                <ul class="Functions">
                    <li>@Html.ActionLink("New", "New_Hotel", "Home")</li>
                    <li><a href="#" title="Delete" name="deleteHotelLink"  class="deleteHotelLink">Delete</a></li>
                    <li><a href="#" title="View">View</a></li>
                    <li>
                        <span>Actions</span>
                        <ul>
                            <li><a href="#" title="Approve property">Approve property</a></li>
                            <li><a href="#" title="View facilities">View facilities</a></li>
                            <li>
                                <span>Translation</span>
                                <ul>
                                    <li><a href="#" title="Tiếng Việt">Tiếng Việt</a></li>
                                    <li><a href="#" title="French">French</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- functions.end -->

                <!-- pager -->
               
                <!-- pager.end -->

            </div>
            <!-- panel.end -->

            <!-- mainContent -->
            <div id="mainContent">
                <fieldset>
                    <div class="Filter">
                       
                    </div>

                    <!-- filter -->
                    <div id="newFilter">
                        <div id="filter">
                            <h3><span>Define your filter</span></h3>
                            <fieldset>
                                <div>
                                    <label for="keyword">Description:</label>
                                    <input type="text" id="keyword" name="keyword" class="TextInput2" />
                                </div>
                                <ul>
                                    <li>
                                        <select id="description" name="description" class="DropDown1">
                                            <option>Description</option>
                                        </select>
                                        <select id="operator1" name="operator1" class="DropDown2">
                                            <option>Like</option>
                                            <option>=</option>
                                            <option>&gt;=</option>
                                            <option>&lt;=</option>
                                        </select>
                                        <input type="text" id="keyword1" name="keyword1" class="TextInput1" />
                                        <select id="logical1" name="logical1" class="DropDown2">
                                            <option>Or</option>
                                            <option>And</option>
                                            <option>Not</option>
                                        </select>
                                    </li>
                                    <li>
                                        <select id="price" name="price" class="DropDown1">
                                            <option>Price</option>
                                        </select>
                                        <select id="operator2" name="operator2" class="DropDown2">
                                            <option>Like</option>
                                            <option>=</option>
                                            <option>&gt;=</option>
                                            <option>&lt;=</option>
                                        </select>
                                        <input type="text" id="keyword2" name="keyword2" class="TextInput1" />
                                        <select id="logical2" name="logical2" class="DropDown2">
                                            <option>Or</option>
                                            <option>And</option>
                                            <option>Not</option>
                                        </select>
                                    </li>
                                    <li>
                                        <select id="leased" name="leased" class="DropDown1">
                                            <option>Leased</option>
                                        </select>
                                        <select id="operator3" name="operator3" class="DropDown2">
                                            <option>Like</option>
                                            <option>=</option>
                                            <option>&gt;=</option>
                                            <option>&lt;=</option>
                                        </select>
                                        <input type="text" id="keyword3" name="keyword3" class="TextInput1" />
                                        <select id="logical3" name="logical3" class="DropDown2">
                                            <option>Or</option>
                                            <option>And</option>
                                            <option>Not</option>
                                        </select>
                                    </li>
                                </ul>
                                <div class="Submit">
                                    <span class="Button"><span><input type="submit" value="Search" /></span></span>
                                    <span class="Button"><span><input type="button" value="Save and Close" /></span></span>
                                    <span class="Button"><span><input type="button" value="Close" /></span></span>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!-- filter.end -->
                      @( Html.EJ().Grid<AquilaAd.Models.HotelModelEJ>("Filtering")
                                   .Datasource((IEnumerable<object>)ViewBag.datasource)
                                        .AllowPaging()
                                        .EnableHeaderHover()
                                        .AllowSorting()
                                        .ToolbarSettings(toolbar => { toolbar.ShowToolbar().ToolbarItems(item => { item.AddTool(ToolBarItems.Search); }); })
                                        .AllowFiltering()
                                        .FilterSettings(fitersetting => { fitersetting.FilterType(FilterType.Menu); })
                                        .Columns(col =>
                                {
                                    col.Field("HotelName").HeaderText("Tên Khách sạn").TextAlign(TextAlign.Left).Width(90).CssClass("").Add();
                                    col.Field("MostView").HeaderText("Ưa chuộng?").TextAlign(TextAlign.Center).Width(30).Add();
                                    col.Field("Star").HeaderText("Sao").TextAlign(TextAlign.Right).Width(30).Add();
                                    col.Field("Price").HeaderText("Giá phòng").TextAlign(TextAlign.Right).Format("{0:N0}").Width(30).Add();                                    
                                    col.Field("URLImange").HeaderText("Hình").TextAlign(TextAlign.Center).Width(30).Add();
                                    col.Field("DetailURL").HeaderText("Edit").TextAlign(TextAlign.Center).Width(20).Add();
                                })
                                )
                                
                            
                       
                    
                </fieldset>
            </div>
            <!-- mainContent.end -->

            <!-- panel -->
            <div class="Panel">

                <!-- functions -->
                <ul class="Functions">
                    <li>@Html.ActionLink("New", "New_Hotel", "Home")</li>
                     <li><a href="#" title="Delete" name="deleteHotelLink"  class="deleteHotelLink">Delete</a></li>
                    <li><a href="#" title="View">View</a></li>
                    <li>
                        <span>Actions</span>
                        <ul>
                            <li><a href="#" title="Approve property">Approve property</a></li>
                            <li><a href="#" title="View facilities">View facilities</a></li>
                            <li>
                                <span>Translation</span>
                                <ul>
                                    <li><a href="#" title="Tiếng Việt">Tiếng Việt</a></li>
                                    <li><a href="#" title="French">French</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- functions.end -->

                <!-- pager -->
                <ul class="Pager">
                    <li class="RangePrevious"><a href="#" title="Previous range">&lt;&lt;</a></li>
                    <li class="Previous"><a href="#" title="Previous">&lt;</a></li>
                  
                    <li class="Next"><a href="#" title="Next">&gt;</a></li>
                    <li class="RangeNext"><a href="#" title="Next range">&gt;&gt;</a></li>
                </ul>
                <!-- pager.end -->

            </div>
            <!-- panel.end -->

        </div>
         
<script type="text/javascript">


    $().ready(function () {
        $(".deleteHotelLink").click(function (e) {
            var selected = "";
            $("input:checkbox[name=checkBoxDeltelHotel]:checked").each(function () {
                //            selected.push($(this).val());
                selected = selected + ";" + $(this).val()
            });
            url = '@Url.Action("Delete")';
            //alert(url);
            $.ajax({
                type: 'POST',
                url: url,
                data: { "id": selected },
                success: function () { }
            });

            //window.location.reload(true);
        });
    });

</script>

