 
 <!-- DC Breadcrumbs Start -->
                  <ul id="tsc_breadcrumb-1">
            
                  @*  <li>@Html.ActionLink("Price", "HotelWithPaging", "DestinationSearchResult", new { pageNumber = 1, sort = "Price", orderby = "orderbyHotel", }, new { @class = "ActionLinkOrderByPrice" }) </li>*@
                  <li><a  href="#" id="ActionLinkOrderByPrice" title="@ViewData["PriceSortActiveTitle"]">Price</a></li>
                   <li><a href="javascript:void()" id="ActionLinkSortStylePrice" title="@ViewData["SortOrderbyPriceTitle"]">@*@ViewData["SortOrderbyPriceTitle"]*@</a></li>
                  <li><a href="#" id="ActionLinkOrderByStar" title="@ViewData["StarSoftActiveTitle"]">Star</a></li>
                  <li ><a href="javascript:void()" id="ActionLinkSoftStyleStar" title="@ViewData["SortOrderbyStarTitle"]">@*@ViewData["SortOrderbyStarTitle"]*@</a></li>
                   @* <li>@Html.ActionLink("Price", "HotelWithPaging", "DestinationSearchResult", new { pageNumber = 1, sort = "Price", orderby = "orderbyHotel", }, new { @class = "ActionLinkOrderByStar" })</li>*@
           
                    @*<li style="margin-left:10px">Sort by: Star | ascending</li>*@

                    <li style="float:right; border-radius: 10px">
                        @Html.ActionLink("Sắp xếp", "HotelWithPaging", "DestinationSearchResult", new { pageNumber = 1, price = "PriceSortActive", orderbyprice = "SortOrderbyPrice", star = "StarSoftActive", orderbystar = "SortOrderbyStar" }, new { @class = "DefaultSort", id = "LinkActionSortAll" }) </li>

                    </li>
                
                  </ul>


<script type="text/javascript">
    $("#ActionLinkOrderByPrice").toggleClass('@ViewData["PriceSortActive"]');
    $("#ActionLinkSortStylePrice").toggleClass('@ViewData["SortOrderbyPrice"]');
    $("#ActionLinkOrderByStar").toggleClass('@ViewData["StarSoftActive"]');
    $("#ActionLinkSoftStyleStar").toggleClass('@ViewData["SortOrderbyStar"]');

</script>
 <script type="text/javascript">
     $("#ActionLinkOrderByPrice").click(function (e) {
//         $(this).toggleClass("DefaultSort SortClick");
         $(this).attr('title') == 'Price' ? $(this).attr('title', '') : $(this).attr('title', 'Price');
     });
     $("#ActionLinkSortStylePrice").click(function (e) {
         $(this).toggleClass("DefaultSortImage SortClickImage");
         $(this).attr('title') == 'ASC' ? $(this).attr('title', 'DESC') : $(this).attr('title', 'ASC');
//         $(this).text() == 'ASC' ? $(this).text('DESC') : $(this).text('ASC');
     });
     $("#ActionLinkOrderByStar").click(function (e) {
//         $(this).toggleClass("DefaultSort SortClick");
         $(this).attr('title') == '' ? $(this).attr('title', 'Star') : $(this).attr('title', '');
     });
     $("#ActionLinkSoftStyleStar").click(function (e) {
         $(this).toggleClass("DefaultSortImage SortClickImage");
         $(this).attr('title') == 'ASC' ? $(this).attr('title', 'DESC') : $(this).attr('title', 'ASC');
//         $(this).text() == 'ASC' ? $(this).text('DESC') : $(this).text('ASC');


     });

     $("#LinkActionSortAll").click(function (e) {
         var price = $("#ActionLinkOrderByPrice").attr('title');
         var orderprice = $("#ActionLinkSortStylePrice").attr('title');
         var star =  $("#ActionLinkOrderByStar").attr('title');
         var orderstar =  $("#ActionLinkSoftStyleStar").attr('title');
         this.href = this.href.replace("PriceSortActive", price).replace("SortOrderbyPrice", orderprice).replace("StarSoftActive", star).replace("SortOrderbyStar", orderstar);
     });
 </script>