@model IEnumerable<ShareHolderCore.Domain.Model.HotelExtent>
@{
    ViewBag.Title = @Resources.Resource.home;
}
<link href="../../Content/tsc_pagination.css" rel="stylesheet" type="text/css" />
<link href="../../Content/tsc_breadcrumbs.css" rel="stylesheet" type="text/css" />
    <div class="box-main">
		<div class="box-left">
		        @Html.Partial("_LongSearchPartial")
		</div><!--box-left-->
		<div class="box-right">
		    <div class="slider">	   
                 @Html.Partial("_SliderPartial")
		    </div>
		</div><!--box-right-->
		        </div><!--box-main-->
          <div class="boxforSorting"> @*the box was sort by star and less price*@
               @Html.Partial("_SortPartial")
        <!-- DC Breadcrumbs End -->
             </div><!--box-->
    <div class="box-main">
    @{
        if (Model.ToList().Count == 0)
        {
           @:  <div class="box" style="height:212px">
           @: <div style="margin-top:10px; margin-left:20px"></div>
           @: <div style="margin-left:20px;color:#2F77FD"><b>@Resources.Resource.noResultFound</b></div>
           @: <br /><br />
           @: <div style="margin-left:20px;color:Red"><b><i>@Resources.Resource.noResultFound1</i></b></div>
           @:</div><!-box->
       }
        int currentPageforCss = 0; 
        if(Request.QueryString["pageNumber"] == null)
        {
            currentPageforCss = 1;
        }
        else
        {
            currentPageforCss = int.Parse(Request.QueryString["pageNumber"]);
        }
   }
   @{
       if (Session["countlistShowAvailability"] == null)
       {
           Session["countlistShowAvailability"] = "1";
       }
       if (Session["countlistShowAvailability"].ToString() == "0")
       {
               @:<div id="StatusBox">
                @:<div id="AdminStatus" runat="server" style=""></div>
                @:</div>
       }
   }
  
    @foreach (var item in Model)
    {
		    <div class="box">
                           
            
		        <div class="title">@Html.ActionLink(@item.Name, "", "Book/Details/" + @item.HotelId)
                      <span id="star">
                            @for (int i = 0; i < @item.Star; i++)
                            {
                                <img src="../../images/star.png" alt="star" />
                            }
                        </span>
                                <span style="float:right">@Resources.Resource.addToCompareList&nbsp;</span>
                        @{   
        
                            if (User.Identity.IsAuthenticated)
                            {


                                if (ViewData["listcompareLogin"] == null || !((List<int>)ViewData["listcompareLogin"]).Contains(@item.HotelId))
                                {
                                    @:<input type="image" class="ImageAddAjax" src="../../images/icon.jpg" name="Add" style="float:right; width:22px; height:22px"  alt="@item.HotelId"  id="compareAdd-@item.HotelId"/>
                                }
                                else
                                {
                                    @:<input type="image" class="ImageAddAjax" src="../../images/remove.jpg" name = "Remove" style="float:right; width:22px; height:22px"  alt="@item.HotelId" id="compareRemove-@item.HotelId"/>
                                }
                            }
                            else
                            {
                                if (HttpContext.Current.Session["comparelistold"] == null || !((List<int>)HttpContext.Current.Session["comparelistold"]).Contains(@item.HotelId))
                                {
                                    @:<input type="image" class="ImageAddAjax" src="../../images/icon.jpg" name="Add" style="float:right; width:22px; height:22px"  alt="@item.HotelId"  id="compareAdd-@item.HotelId"/>
                                }
                                else
                                {
                                    @:<input type="image" class="ImageAddAjax" src="../../images/remove.jpg" name = "Remove" style="float:right; width:22px; height:22px"  alt="@item.HotelId" id="compareRemove-@item.HotelId"/>
                                }
                            }
                        }
                </div>
                                
		        <div class="text">
		            <div class="travel-main">
		            <div class="travel-left">
		                @*<a href="../Book/Details/@item.HotelId"><img src="../../images/Hotel/@item.ImagePath" alt="" /></a>*@
                        <a href="../Book/Details/@item.HotelId"><img src="@ShareHoderFrontEndV2.Ext.ApplicationHelper.ImageDirectoryHotel/@item.ImagePath" alt="" /></a>
                        
                        
		                <h3>@Html.ActionLink(@item.Name, "", "Book/Details/" + @item.HotelId)</h3>
                       
                        
                      
                        <h3></h3>

		                <strong>@Resources.Resource.address</strong>
                            @Html.DisplayFor(modelItem => item.HotelAddress)
		                <br />
		                <strong>@Resources.Resource.Description: </strong> @Html.DisplayFor(modelItem => item.ShortDesc)
		            </div>
		            <div class="travel-right cols">
		                <label><span>@Resources.Resource.priceFrom</span></label>@string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", @item.price)<br />
		                <label><span>@Resources.Resource.ReviewHotel</span></label>@string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", @item.review)<br />
		                <label><span>@Resources.Resource.Comments</span></label>(@item.CountComment)<br />
		                @*<label>&nbsp;</label><span>@Html.ActionLink(@Resources.Resource.Booknow, "Index", "Book")</span>*@
                        <label>&nbsp;</label><span> <a  href="../Book/Details/@item.HotelId">@Resources.Resource.Booknow</a></span>
		            </div>
		            </div>	
		        </div>
            
		    </div><!--box-->
    }
    <div class="boxforPaging"> @*box phân trang*@
        <div class="pagingForDestinationSearchResult">
            <table>
                <tr>
                @{
                    if(ViewData["hotelwithImagePagingCount"] !=null)
                    {
                        int pageCurrent = 1;
                        int pageprevious = 1;
                        int pageNext = 1;
                        int pagestart = 1;
                        int pageend = 1;
                        int pagenumber = ShareHoderFrontEndV2.Ext.ApplicationHelper.PageNumber(int.Parse(ViewData["hotelwithImagePagingCount"].ToString()));
                        if (Request.QueryString["pageNumber"]!=null)
                        {
                            pageCurrent = int.Parse(Request.QueryString["pageNumber"]);
                            if(pageCurrent == pagenumber)
                            {
                                pageend = pagenumber -1;
                            }
                            for (int i = pageCurrent; i <= pagenumber; i++)
                            {
                                if(i%10 ==0)
                                {
                                    pageend = i; break;
                                }
                                else if(i ==pagenumber)
                                {
                                    pageend = i; break;
                                }
                            }
                            if(pageend>10)
                            {
                                pagestart = pageend - 10;
                                pageprevious = pagestart - 1;
                            }
                            else
                            {
                                pagestart = 1;
                                pageprevious = 1;
                            }
                           
                                
                        }
                        else{
                            pagestart = 1;
                            pageend = 1;
                            pageprevious = 1;
                            for (int i = 1; i <= pagenumber; i++)
                            {
                                 if(i%10 ==0)
                                {
                                    pageend = i; break;
                                }
                                else if(i ==pagenumber)
                                {
                                    pageend = i; break;
                                }
                            }
                            
                        }
                        
                        @:<ul class="tsc_pagination tsc_paginationB tsc_paginationB01">
                        @: <li>@Html.ActionLink(@Resources.Resource.previous, "HotelWithPaging", "DestinationSearchResult", new { pageNumber = pageprevious, price = "PriceSortActive", orderbyprice = "SortOrderbyPrice", star = "StarSoftActive", orderbystar = "SortOrderbyStar" }, new { @class = "LinkPagingSort" })</li>
                        
                        for (int ii = pagestart ; ii <= pageend; ii++)
                        {
                            
                            @:<li>@Html.ActionLink(ii.ToString(), "HotelWithPaging", "DestinationSearchResult", new { pageNumber = ii , price = "PriceSortActive", orderbyprice = "SortOrderbyPrice", star = "StarSoftActive", orderbystar = "SortOrderbyStar" }, new { @class="LinkPagingSort", id = "ActionLinkPaging" + ii }) </li>
                            
                        }
                        
                        @: <li>@Html.ActionLink(@Resources.Resource.next, "HotelWithPaging", "DestinationSearchResult", new { pageNumber = pageend + 1, price = "PriceSortActive", orderbyprice = "SortOrderbyPrice", star = "StarSoftActive", orderbystar = "SortOrderbyStar" }, new { @class = "LinkPagingSort" })</li>
                            
                        @:</ul>
                    }
                }
                    
                </tr>
                               
            </table>
        </div>
     </div><!--box-->
             <script type="text/javascript">
                 $(document).ready(function () {
                     $(".ImageAddAjax").click(function () {
//                         var DirImage = $(this).attr("src");
//                         if (DirImage.substring(13) == "icon.jpg") {
//                             $(this).attr("src", "../../images/remove.jpg")
//                         } else {
//                             $(this).attr("src", "../../images/icon.jpg")
//                         }



                     });
                 });
                 
            </script>

      <script type="text/javascript">
          $(document).ready(function () {
              $(".ImageAddAjax").click(function () {
                  var DirImage = $(this).attr("src");
                  var txtne = DirImage.substring(13);
                  var prefix = $(this).attr("id");
                  $.get('@Url.Action("Add", "CompareList")',
                          {
                              hotelid: $(this).attr("alt")
                          }, function (data) {

                              if (data == "A") {
                                  alert('Thêm vào danh sách so sánh thành công');
                                  $('#' + prefix).attr("src", "../../images/remove.jpg");
                              }
                              else if (data == "R") {
                                  alert('Loại khỏi danh sách so sánh thành công');
                                  $('#' + prefix).attr("src", "../../images/icon.jpg");
                              } else {
                                  alert('Chỉ thêm tối đa 3 khách sạn');
                              }
                          })

              });
          });
      </script>
		</div><!--box-main-->

        <script type="text/javascript">
            $("#ActionLinkPaging" + '@currentPageforCss').addClass("current");
            $('.LinkPagingSort').click(function (e) {
                var price = $("#ActionLinkOrderByPrice").attr('title');
                var orderprice = $("#ActionLinkSortStylePrice").attr('title');
                var star = $("#ActionLinkOrderByStar").attr('title');
                var orderstar = $("#ActionLinkSoftStyleStar").attr('title');               
                this.href = this.href.replace("PriceSortActive", price).replace("SortOrderbyPrice", orderprice).replace("StarSoftActive", star).replace("SortOrderbyStar", orderstar);
            });
        </script>
                                     

        
       