  <div id="RecheckRoomParticalDiv">
    <table cellpadding="0" cellspacing="0" class="table-re">
                <tr>
                    
                    <th>@Resources.Resource.RoomType</th>                    
                    <th>@Resources.Resource.PriceHotel</th>
                    <th>@Resources.Resource.NoRoom</th>
                    <th>&nbsp;</th>
                </tr>

                @{
                    int iid = 0;
                    foreach (var item in (IList<ShareHolderCore.Domain.Model.Availability>)ViewData["listAvailability"])
                    {
                        iid++; 
                        <tr>
                         @{ // danh sach tinh trang phong                      
                    
                               @* <td>@Html.ActionLink(" ", "Add", "CompareList", new { hotelid = @Model.HotelId }, new { title = @Resources.Resource.CompareList, style = "background: url('" + Url.Content("~/images/compare.jpg") + "') no-repeat center right; display:block; height:37px; width:37px; margin-left:10px;" })</td>*@
                                <td>@item.RoomType.Name</td>
                             <td>@string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0:#,##}", @item.Price)</td>
                             <td>
                           
                    
                             <select name="select1" style="width:40px!important;" class="defaultOption"  id="optionselect-@iid">
                                 @{
                        for (int i = 0; i <= @item.Quantity; i++)
                        {
                                @: <option >
                                @: @i
                                @:</option>
                        }
                                    }
                              </select>
                            
                               @* @item.Quantity*@
                             </td>                                                          
                             
                             <td>@Html.ActionLink(@Resources.Resource.Booknow, "AddCart", "ShoppingCart", new { idbooking = @item.AvailabilityId, noRoom = "selectNoRoom" }, new { id = "bookAdd-" + iid.ToString(), style = "float:none", @class = "botton-book" })</td>
                                                          
                            }
        
                                
                  
                        </tr>
                    }

                    Session["iid"] = iid;
                }

            </table>

            </div>

            <script type="text/javascript">
                $().ready(function () {
                    $(".botton-book").click(function (e) {
                        var prefix = $(this).attr("id");
                        if ($('#optionselect-' + prefix.substr(-1)).val() == 0) {
                            $("#messageinfo").dialog("open");
                            e.preventDefault();
                            return;
                        } else {
                            var ipvalue = $('#optionselect-' + prefix.substr(-1)).val();
                            this.href = this.href.replace("selectNoRoom", ipvalue);
                        }
                        
                    });
                   
                });
               



            </script>