    <div class="box"> <!--recheck number room-->
            <div class="title">@Resources.Resource.checkPrice</div>
            <div class="text" style="height:35px">
            @using (Ajax.BeginForm("CheckPriceOFRoomSearch", "Book", new AjaxOptions {
                                                                            HttpMethod = "get",
                                                                            InsertionMode = InsertionMode.Replace,
                                                                            UpdateTargetId = "RecheckRoomParticalDiv"
                                                                            
                                                                            
                                                                                        }, new { id = "formSearchRecheck" }))
            {
                <div class="search">
                  <table width="100%">
                        <tr>
                            <td><label for="txtFromDateRecheck">@Resources.Resource.fromDate</label></td>
                            <td><input style="width:80px;float:left" type="text" id="txtFromDateRecheck" name="txtFromDateRecheck" value="" title="@Resources.Resource.checkinDateTitle" /></td>
                            <td><label for="txtToDateRecheck">@Resources.Resource.toDate</label></td>
                            <td><input style="width:80px;float:left" type="text"  id="txtToDateRecheck" name="txtToDateRecheck" value="" title="@Resources.Resource.checkoutDateTitle"/></td>
                            <td>@Resources.Resource.numberOfDate</td>
                            <td><label id="valueTotalDateRecheck">0</label></td>
                            <td><input type="submit" id="submitSearchRecheck" class = "botton" value="@Resources.Resource.SearchDestination" style = "float:left; width:80px; height:35px; padding: 0px; margin-top:-1px;color:White" title="@Resources.Resource.searchTitle"/></td>
                        </tr>
    
                    </table>
                    </div>
                    <input type="hidden" id="hotelIdSearchRoom" value="@ViewData["hotelIdResearch"]" name="hotelIdSearchRoom" />
            }
                  </div>          
                </div>
              <div id="messageinfodateRecheck" title="Thông tin" style="display:none">
              <p id>
                <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0; "></span>
                    @Resources.Resource.searchWarning
              </p>
              @*<p>
                Currently using <b>36% of your storage space</b>.
              </p>*@
            </div>


                 <script type="text/javascript">
                     $().ready(function () {


                         $('#txtFromDateRecheck').datepicker({
                             dateFormat: 'dd/mm/yy',
                             buttonImage: '@Url.Content("~/Content/themes/calendar.gif")',
                             buttonImageOnly: true,
                             showOn: 'both',
                             minDate: "0"
                         });
                     });
                     $().ready(function () {

                         $('#txtToDateRecheck').datepicker({
                             dateFormat: 'dd/mm/yy',
                             buttonImage: '@Url.Content("~/Content/themes/calendar.gif")',
                             buttonImageOnly: true,
                             showOn: 'both',
                             minDate: "0"
                         });
                     });
                 
                </script>
             <script type="text/javascript">
                 $().ready(function () {
                     $("#submitSearchRecheck").click(function (e) {
                         if ($("#txtFromDateRecheck").val() == '' || $("#txtToDateRecheck").val() == '') {

                             //                          || $("#txtFromDate").val() == '' || $("#txtToDate").val() == ''
                             
                             $("#messageinfodateRecheck").dialog("open");
                             e.preventDefault();
                         }

                     });
                     $("#messageinfodateRecheck").dialog({
                         autoOpen: false,
                         modal: true,
                         buttons: {
                             Ok: function () {
                                 $(this).dialog("close");
                             }
                         }
                     });
                 

                 // condition of datetime piker

                   
                         if ($("#txtFromDateRecheck").val() != '' || $("#txtToDateRecheck").val() != '') {
                             var fromdate = $('#txtFromDateRecheck').datepicker("getDate").valueOf();
                             var todate = $('#txtToDateRecheck').datepicker("getDate").valueOf();
                             var resual = (todate - fromdate) / 86400000;
                             $('#valueTotalDateRecheck').text(resual);
                         }
                         $('#txtToDateRecheck').change(function () {
                             if ($("#txtFromDateRecheck").val() != '') {
                                 var fromdate = $('#txtFromDateRecheck').datepicker("getDate").valueOf();
                                 var todate = $('#txtToDateRecheck').datepicker("getDate").valueOf();
                                 var resual = (todate - fromdate) / 86400000;
                                 if (resual < 0) {
                                     alert('@Resources.Resource.fromDateGreaterToDate');
                                     $('#txtToDateRecheck').datepicker("setDate", $('#txtFromDateRecheck').datepicker("getDate"))
                                     $('#valueTotalDateRecheck').text(0);
                                 }
                                 else {
                                     $('#valueTotalDateRecheck').text(resual);
                                 }
                             }
                         });
                         $('#txtFromDateRecheck').change(function () {
                             if ($("#txtToDateRecheck").val() != '') {
                                 var fromdate = $('#txtFromDateRecheck').datepicker("getDate").valueOf();
                                 var todate = $('#txtToDateRecheck').datepicker("getDate").valueOf();
                                 var resual = (todate - fromdate) / 86400000;
                                 if (resual < 0) {
                                     alert('@Resources.Resource.fromDateGreaterToDate');
                                     $('#txtToDateRecheck').datepicker("setDate", $('#txtFromDateRecheck').datepicker("getDate"))
                                     $('#valueTotalDateRecheck').text(0);
                                 }
                                 else {
                                     $('#valueTotalDateRecheck').text(resual);
                                 }
                             }
                         });
                     });
            </script>
           