 <ul class="menu-left">
        <li><a href="#"><b>@Resources.Resource.CompareList</b></a></li>        
        @{
            if (ViewData["listhotelcompare"] != null)
            {
                foreach (var item in ((IList<ShareHolderCore.Domain.Model.Hotel>)ViewData["listhotelcompare"]))
                {
                    <li>@Html.ActionLink(@item.Name, "", "Book/Details/" + @item.HotelId)</li>           
                }
            }
        }
        <li>            
            @Html.ActionLink(@Resources.Resource.Compare, "Index", "CompareList", null, new { @class = "botton" })
        </li>
</ul>
