
 <style>
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}
</style>
 <div class="box">
    <div class="title"><label for="searchInput">@Resources.Resource.WhereAndCheckRoom</label></div>
    <div class="text">
    <div class="search">
            @using (Html.BeginForm("", "DestinationSearchResult", FormMethod.Get, new { id = "formSearch" }))
                {
                 <p><b>@Resources.Resource.Destination</b>                                      
                 @Html.TextBox("searchInput", Session["HotelNameofShortSeach"], new { id = "searchInput", style = "width:160px;font-weight:bold; color:#1B75BB" })
                 </p>
                <table width="100%" style="height:80px">
                        <tr>
		                    <td style="width:60px"><label for="txtFromDate">@Resources.Resource.fromDate</label></td>
                            <td style="padding-bottom:2px;">
                                  <input style="width:95px" type="text" id="txtFromDate" name="txtFromDate" value="@Session["txtFromDate"]" title="@Resources.Resource.checkinDateTitle" />
                            </td>
                        </tr>
                       <tr>
		                    <td><label style="font-size:14px"><label for="txtToDate">@Resources.Resource.toDate</label></label></td>
                            <td>
                               <input type="text" style="width:95px" id="txtToDate" name="txtToDate" value="@Session["txtToDate"]" title="@Resources.Resource.checkoutDateTitle" />
                            </td>                        
                        </tr>
                         <tr>
                            <td>@Resources.Resource.numberOfDate</td>
                            <td><label id="valueTotalDate">0</label></td>
                            <td>                               

                                 @*<a id = "buttonsubmit" style="cursor:pointer; width:80px; height:31px" title = "@Resources.Resource.SearchDestination" >@Resources.Resource.SearchDestination</a>*@

                                 <input type="submit" id="submitSearch" class = "botton" value="@Resources.Resource.SearchDestination" style = "float:right; width:80px; height:35px; color:White" title="@Resources.Resource.searchTitle"/>

                                 @*@Html.ActionLink("Book", "", "DestinationSearchResult", null, new { style = "float:none; width:97px; height:30px", @class = "botton" })*@

                                 
                            </td>
                        </tr>
                        
                        
                </table>
     }
            
    </div>
    </div>
    </div><!--box-->
        <div id="dialog-message" title="Tìm khách sạn" style="display:none">
              <p id>
                <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0; "></span>
                    Bạn chưa điền nơi bạn muốn đến
              </p>
              @*<p>
                Currently using <b>36% of your storage space</b>.
              </p>*@
            </div>

            <script type="text/javascript">
                $().ready(function () {


                    $('#txtFromDate').datepicker({
                        dateFormat: 'dd/mm/yy',
                        buttonImage: '@Url.Content("~/Content/themes/calendar.gif")',
                        buttonImageOnly: true,
                        showOn: 'both',
                        minDate: "0"
                    });
                });
                $().ready(function () {

                    $('#txtToDate').datepicker({
                        dateFormat: 'dd/mm/yy',
                        buttonImage: '@Url.Content("~/Content/themes/calendar.gif")',
                        buttonImageOnly: true,
                        showOn: 'both',
                        minDate: "0"
                    });
                });
                 
                </script>
             <script type="text/javascript">
                 $().ready(function () {
                     $("#formSearch").submit(function (e) {
                         if ($("#searchInput").val() == '') {
//                          || $("#txtFromDate").val() == '' || $("#txtToDate").val() == ''
                             $("#dialog-message").dialog("open");
                             e.preventDefault();
                         }

                     });
                     $("#dialog-message").dialog({
                         autoOpen: false,
                         modal: true,
                         buttons: {
                             Ok: function () {
                                 $(this).dialog("close");
                             }
                         }
                     });
                 });
               
            </script>
            <script type="text/javascript">
                $().ready(function () {
                    if ($("#txtFromDate").val() != '' || $("#txtToDate").val() != '') {
                        var fromdate = $('#txtFromDate').datepicker("getDate").valueOf();
                        var todate = $('#txtToDate').datepicker("getDate").valueOf();
                        var resual = (todate - fromdate) / 86400000;
                        $('#valueTotalDate').text(resual);
                    }


                    $('#txtToDate').change(function () {
                        if ($("#txtFromDate").val() != '') {
                            var fromdate = $('#txtFromDate').datepicker("getDate").valueOf();
                            var todate = $('#txtToDate').datepicker("getDate").valueOf();
                            var resual = (todate - fromdate) / 86400000;
                            if (resual < 0) {
                                alert("Ngày về phải lớn hơn ngày đi");
                                $('#txtToDate').datepicker("setDate", $('#txtFromDate').datepicker("getDate"))
                                $('#valueTotalDate').text(0);
                            }
                            else {
                                $('#valueTotalDate').text(resual);
                            }
                        }
                    });
                    $('#txtFromDate').change(function () {
                        if ($("#txtToDate").val() != '') {
                            var fromdate = $('#txtFromDate').datepicker("getDate").valueOf();
                            var todate = $('#txtToDate').datepicker("getDate").valueOf();
                            var resual = (todate - fromdate) / 86400000;
                            if (resual < 0) {
                                alert("Ngày về phải lớn hơn ngày đi");
                                $('#txtToDate').datepicker("setDate", $('#txtFromDate').datepicker("getDate"))
                                $('#valueTotalDate').text(0);

                            }
                            else {
                                $('#valueTotalDate').text(resual);
                            }
                        }
                    });

                    $(function () {
                        $("#searchInput").autocomplete({
                            source: function (request, response) {
                                $.ajax({
                                    url: "../../Home/FetchLocationList/?data=" + $("#searchInput").val(),
                                    data: {},
                                    dataType: "json",
                                    type: "POST",
                                    contentType: "application/json; charset=utf-8",
                                    dataFilter: function (data) { return data; },
                                    success: function (data) {

                                        response($.map(data, function (item) {
                                            //alert(item.LocationName);
                                            return {

                                                value: item.LocationNameViet
                                            }
                                        }))
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
//                                        alert(textStatus);
                                    }
                                });
                            },
                            minLength: 1
                        });
                    });
                });
               
                 
                </script>

