@model ShareHolderCore.Domain.Model.Availability
@{
    ViewBag.Title = "Sửa phòng trống";
}
<link href="../../Content/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script> @*load date time picker*@

<div id="content">

            <h2><span>Property : Property List</span></h2>

            <!-- tab -->
            <ul id="tab">
                <li><a href="#" title="Property 100 (rows)">Property 100 (rows)</a></li>
                <li class="Active">
                    <span>New property</span>
                    <a href="#" title="Close" class="Close">Close</a>
                </li>
            </ul>
            <!-- tab.end -->

            <!-- panel -->
            <div class="Panel">

                <!-- functions -->
                <ul class="Functions">
                    <li><a href="#" id="submit_link">Save</a>
                    @*<li>@Html.ActionLink("Save", "Save", "Home", new { actionpage = "Save", idhotel = "" }, null)</li>*@
                    <li>@Html.ActionLink("Save & New", "Save", "Home", new { actionpage = "SaveNew", idhotel = "" }, null)</li>
                    <li>@Html.ActionLink("Cancel", "Cancel", "Availability", new { actionpage = "Cancel", idhotel = "" }, null)</li>
                    <li>
                        <span>Actions</span>
                        <ul>
                            <li><a href="#" title="Approve property">Approve property</a></li>
                            <li><a href="#" title="View facilities">View facilities</a></li>
                            <li>
                                <span>Translation</span>
                                <ul>
                                    <li><a href="#" title="Tiếng Việt">Tiếng Việt</a></li>
                                    <li><a href="#" title="French">French</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- functions.end -->

            </div>
            <!-- panel.end -->

            <!-- subtab -->
            <ul id="subtab">
                <li class="Active"><span>General Info</span></li>
                <li><a href="#" title="Detail Info">Detail Info</a></li>
            </ul>
            <!-- subtab.end -->

            <!-- mainContent -->
            
            <div id="mainContent">
             @using (Html.BeginForm("Edit", "Availability", FormMethod.Post, new { id = "Submitform" }))
             {
                 @Html.ValidationSummary()
                <fieldset>
                 <div>                     
                     <input type="hidden" value="@Model.AvailabilityId" id="GetAvailabilityId" name="GetAvailabilityId" />  
                    </div>
                    <div class="Input">
                        <label for="unit">Khách sạn:</label>
                       
                        @Html.DropDownListFor(m => m.Hotel.HotelId, (SelectList)ViewBag.listHotel, " ", new { id = "ProviceHotel", @class = "Large" })
                    </div>
                  <div class="Input">
                        <label for="unit">Loại phòng</label>
                       
                        @Html.DropDownListFor(m => m.RoomType.RoomTypeId, (SelectList)ViewBag.listRoomType, " ", new { id = "ProviceHotel", @class = "Medium" })
                    </div>
                     <div class="Input">
                        <label for="price">Từ ngày:</label>
                        
                        @Html.TextBoxFor(m => m.FromDate, new { id = "txtFromDate", name = "txtFromDate", @class = "Medium" })
                        
                    </div>
                      <div class="Input">
                        <label for="price">Đến ngày:</label>
                        
                        @Html.TextBoxFor(m => m.ToDate, new { id = "txtToDate", name = "txtToDate", @class = "Medium" })
                        
                    </div>
                      <div class="Input">
                        <label for="price">Số lượng phòng:</label>
                        @Html.TextBoxFor(m => m.Quantity, new { id = "m.Price", @class = "Medium" })
                    </div>
                    <div class="Input">
                        <label for="currency">Loại tiền tệ:</label>
                        
                        @Html.DropDownListFor(m => m.CurrencyType.CurrencyTypeId, (SelectList)ViewBag.listCurrencyType,  new { id = "ProviceHotel", @class = "Small" })
                    </div>
                    <div class="Input">
                        <label for="price">Giá phòng:</label>
                        
                        @Html.TextBoxFor(m => m.Price, new { value= "10000", id = "m.Price", @class = "Medium" })
                    </div>
                         <div class="Input">
                        <label for="IsHotDeal">Hot Deal?:</label>
                        @Html.DropDownListFor(m => m.IsHotDeal, (SelectList)ViewBag.HotDealHotel,  new { id = "MostView", @class = "Small" })
                    </div>
                    <div class="Input">
                        <label for="price">Ngày tạo:</label>
                        <input type="date" id="CreatedDate" name="CreatedDate" class="Medium" value='@AquilaAd.Ext.CustomHelpers.parstFormatToYYYY_MM_DD(Model.CreatedDate)' />
                        
                    </div>
                    <div class="Input">
                        <label for="code">Người tạo:</label>                        
                         @Html.TextBoxFor(m => m.CreatedBy, new { id = "CreatedBy", name = "CreatedBy", @class = "Medium" })
                    </div>
                    @*<input type="submit" value="sumit" id="submittest" style="background:none"/>*@
                </fieldset>                 
             }
                
            </div>
            <!-- mainContent.end -->

            <!-- panel -->
            <div class="Panel">

                <!-- functions -->
                <ul class="Functions">
                    <li><a href="#" id="submit_link">Save</a>
                        
                    </li>
                    <li>@Html.ActionLink("Save & New", "Save", "Availability")</li>
                    <li>@Html.ActionLink("Cancel", "Cancel", "Availability")</li>
                    <li>
                        <span>Actions</span>
                        <ul>
                            <li><a href="#" title="Approve property">Approve property</a></li>
                            <li><a href="#" title="View facilities">View facilities</a></li>
                            <li>
                                <span>Translation</span>
                                <ul>
                                    <li><a href="#" title="Tiếng Việt">Tiếng Việt</a></li>
                                    <li><a href="#" title="French">French</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- functions.end -->

            </div>
            <!-- panel.end -->

        </div>
<script type="text/javascript">
    $(function () {
        $('a#submit_link').click(function () {
            $('form#Submitform').submit();
        });
    });
</script>
 <script type="text/javascript">
     $().ready(function () {
         $('#txtFromDate').datepicker({
             dateFormat: 'dd/mm/yy',
             buttonImage: '@Url.Content("~/Content/themes/calendar.gif")',
             buttonImageOnly: true,
             showOn: 'both',
             minDate: "0"


         });
     });
     $().ready(function () {

         $('#txtToDate').datepicker({
             dateFormat: 'dd/mm/yy',
             buttonImage: '@Url.Content("~/Content/themes/calendar.gif")',
             buttonImageOnly: true,
             showOn: 'both',
             minDate: "0"
         });
     });
                 
    </script>
      <script type="text/javascript">
          $().ready(function () {
              if ($("#txtFromDate").val() != '' || $("#txtToDate").val() != '') {
                  var fromdate = $('#txtFromDate').datepicker("getDate").valueOf();
                  var todate = $('#txtToDate').datepicker("getDate").valueOf();
                  var resual = (todate - fromdate) / 86400000;
                  $('#valueTotalDate').text(resual);
              }
              $('#txtToDate').change(function () {
                  if ($("#txtFromDate").val() != '') {
                      var fromdate = $('#txtFromDate').datepicker("getDate").valueOf();
                      var todate = $('#txtToDate').datepicker("getDate").valueOf();
                      var resual = (todate - fromdate) / 86400000;
                      if (resual < 0) {
                          alert("Ngày về phải lớn hơn ngày đi ");
                          $('#txtToDate').datepicker("setDate", $('#txtFromDate').datepicker("getDate"))
                          $('#valueTotalDate').text(0);
                      }
                      else {
                          $('#valueTotalDate').text(resual);
                      }
                  }
              });
              $('#txtFromDate').change(function () {
                  if ($("#txtToDate").val() != '') {
                      var fromdate = $('#txtFromDate').datepicker("getDate").valueOf();
                      var todate = $('#txtToDate').datepicker("getDate").valueOf();
                      var resual = (todate - fromdate) / 86400000;
                      if (resual < 0) {
                          alert("Ngày về phải lớn hơn ngày đi");
                          $('#txtToDate').datepicker("setDate", $('#txtFromDate').datepicker("getDate"))
                          $('#valueTotalDate').text(0);
                      }
                      else {
                          $('#valueTotalDate').text(resual);
                      }
                  }
              });
          });
               
                 
                </script>