@{
    ViewBag.Title = ViewBag.StockCode + ": " + ViewBag.StockName + " https://cungphim.com";
    Layout = "~/Views/Shared/_Layout_Ticker.cshtml";
}
@section scripts{        
    <script src="~/Scripts/jquery.timeago.js"></script>   
}

<input type="hidden" id="titleHidenPage" value='@ViewBag.StockCode @ViewBag.StockName https://cungphim.com' />
<input type="hidden" id="stockHidenPage" value='@ViewBag.StockCode' />

<input type="hidden" id="HiddentCureentUserId" value='@ViewBag.CureentUserId' />
@*<input type="hidden" id="HiddentUserName" value='@ViewBag.UserName' />
    <input type="hidden" id="HiddentAvataEmage" value='@ViewBag.AvataEmage' />*@
<div id="CommentForKoLoad">
    <div class="area-center">
        <div id="top-status-box" class="bg-white status-box">
            <div class="avata-comment">
                <img src="@ViewBag.AvataEmage?width=35&height=35&mode=crop" class="img-rounded" alt="avatar">
            </div>
            <div class="input-status">
                <form id="frmStatus" name="frmStatus" method="GET">
                    <div id="input-status-text" class="input-status-text">
                        <textarea data-bind="value : newMessage, valueUpdate : 'afterkeydown' , limitCharacters : 140" class="status-cm" name="status" rows="5" placeholder="$Cổ phiếu | &#64;Username" id="status" title="Search" autocomplete="off" rows="5"></textarea>
                    </div>
                    <div class="status-control">
                        @{
                            if (User.Identity.IsAuthenticated)
                            {                               
                            
                                <div class="choose_file f-left">
                                    <i class="fa fa-camera"></i>
                                    <input id="idchartFileUpload" name="Select File" accept="image/*" type="file" onchange="uploadPreview(files)" />
                                    <div class="chartImage">
                                        <a class="mb3-close chart-close" onclick="removeFileChart()" href="javascript:void(0)">x</a>
                                        <img class="mb3-chart-thumb" src="">
                                    </div>
                                </div>
                        
                                <div id="radio" class="switch3button f-left">
                                    <input type="radio" id="radio1" name="BullBear" value="2">
                                    <label for="radio1" class="divBull ">Tăng</label>
                                    <input type="radio" id="radio3" name="BullBear" value="1">
                                    <label for="radio3" class="divBear">Giảm</label>
                                    
                            
                                </div>
                                <div id="btnPhim" class="f-right">
                                    <span data-bind="text : count"></span>                            
                                    <button id="btAddPost" style="cursor:pointer" class="button-phim" data-bind="click : addPost,  enable: enablePhimHang " >PHÍM</button>
                                </div>
                                }
                            else
                            {
                                // must login
                                   
                                    <div id="btnPhim" class="f-right">                                        
                                        <a class="logoutbutton" href="/Account/Register?ReturnUrl=/Ticker/@ViewBag.StockCode">Đăng nhập</a>
                                        <a class="logoutbutton" href="/Account/Login?ReturnUrl=/Ticker/@ViewBag.StockCode">Đăng ký</a>
                                    </div>
                            }
                        }
                    </div>
                </form>
            </div>
        </div>
        <div class="bg-white" style="padding-top: 10px; padding-bottom: 3px;">
            <div class="filer-bar">
                @*<div class="toSpan filer-bar-label">Hiển thị theo: </div>*@
                <div class="toSpan filer-bar-item"> <a data-bind="click : FilterAll('ALL')" href="#" class="active">TẤT CẢ</a> </div>
                <div class="toSpan filer-bar-item"> <a data-bind="click : FilterAll('CHA')" href="#">BIỂU ĐỒ</a> </div>
                <div class="toSpan filer-bar-item"> <a data-bind="click : FilterAll('STM')" href="#">TĂNG/GIẢM</a></div>
                <div id="linklikeFacebook" style="float: right; overflow: hidden; " class="fb-like" data-href="https://cungphim.com/Ticker/@ViewBag.StockCode" data-layout='button_count' data-action='like' data-show-faces='true' data-share='true'></div>
                @*<div class="fb-like"
                     data-share="true"
                     data-width="450"
                     data-show-faces="true">
                </div>*@
                @*<div class="toSpan filer-bar-item">
                    <a id="btn-option-more" href="#" data-dropdown="#dropdown-2">
                        Tùy chọn khác
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="dropdown-2" class="dropdown dropdown-tip dropdown-anchor-left dropdown-relative">
                        <ul class="dropdown-menu">
                            <li><a href="#4">Item 4</a></li>
                            <li><a href="#5">Item 5</a></li>
                            <li><a href="#5">Item 6</a></li>
                        </ul>
                    </div>
                </div>*@
            </div>
            <div class="ajaxLoadingInit" style="text-align:center"><img src="~/images/ajax-loader_cungphim.gif" /></div>
        </div>

        <div class="list-status">
            <!--pin ma co phieu o day-->            
            <div data-bind="foreach : postPins">
                <div class="bg-white">
                    <div class="list-item-status" tabindex="-1" data-bind=" click: function(data, event) { $parent.detailPost(data, event); }">
                        @*click: function(data, event) { $parent.detailPost; event.stopPropagation(); }*@
                        <div class="avata-genaral-size">
                            <img data-bind="attr: { src: PostedByAvatar }" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">
                            <div class="list-item-date" data-bind="text : PostedDate"></div>
                            <div class="list-item-username" style="width:0%">
                                <a style="cursor:pointer" onclick='selectMe(event,"#")' data-bind="attr : { href : '/' + PostedByName }, text : PostedByName"></a>
                            </div>
                            <span>
                                <span data-bind="html : Stm"></span>
                                
                            </span>
                            <div class="list-item-status-content" data-bind="html : Message"></div>
                            <div class="list-item-control">
                                @*<a style="border-color:transparent; background-color:transparent" class="button" href="#"><i data-bind="text :notification, visible: notification() > 0" class="fa fa-comments"></i></a>*@
                                <a class="button btn-answer" href="#" title="Trả lời">Trả lời</a>
                                <a class="button btn-answer" target="_self" onclick="window.open(this.href, 'chia sẻ lên facebook', 'left=100,top=100,width=600,height=400,toolbar=1,resizable=0'); selectMe(event, '#'); return false;" data-bind="attr : { href : 'https://www.facebook.com/sharer/sharer.php?u=@ViewBag.AbsolutePathHostName/PostDetail?postid='+ PostId +'&display=popup&ref=plugin' }" title="Chia sẻ lên facebook">Chia sẻ</a>
                                <a class="button" href="#" style="cursor:text" data-bind="visible: SumReply() > 0"><i class="fa fa-comments" data-bind=" text : SumReply"></i></a>                                
                                <span class="likeAndPin">
                                    <a class="button" href="#" title="Pin"><img src="/images/pintab.png" /></a> 
                                        <span data-bind="text : SumLike, visible : SumLike() > 0 "></span>
                                        <button class="fa fa-thumbs-o-up" data-bind=" click : function(data, event) { $parent.AddLike(data, event) ;   } , attr : {id : 'PostId' + PostId} , enable : DiableLike"></button>
                                        <!--click like thi doi class thanh fa fa-thumbs-o-up-->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
           
            <!---->
            <!--So bai phim moi-->
            <!---->
            <div class="bg-white-custom" data-bind="visible :newPosts().length > 0 ">
                <div class="filer-new-status">
                    <div class="filer-new-status-button-bar">
                        <div class="text-label">
                            <a href="#" style="font-size: 14px; color: #CF000F" data-bind=" click : loadNewPosts"> <strong data-bind="text: newPosts().length"></strong> bài phím mới </a>
                        </div>
                    </div>
                </div>
            </div> 
            
            @*<div data-bind="foreach : {data: posts, afterAdd: afterAdd }"> hieu ung slow*@ 
            <div data-bind="foreach : {data: posts }">
                <div class="bg-white">
                    <div class="list-item-status" tabindex="-1" data-bind=" click: function(data, event) { $parent.detailPost(data, event); }">
                        @*click: function(data, event) { $parent.detailPost; event.stopPropagation(); }*@
                        <div class="avata-genaral-size">
                            <img data-bind="attr: { src: PostedByAvatar }" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">
                            <div class="list-item-date" data-bind="text : PostedDate"></div>
                            <div class="list-item-username" style="width:0%">
                                <a style="cursor:pointer" onclick='selectMe(event,"#")' data-bind="attr : { href : '/' + PostedByName  }, text : PostedByName"></a>
                            </div>
                            <span data-bind="html : Stm"></span>
                            <div class="list-item-status-content" data-bind="html : Message"></div>
                            <div class="list-item-control">

                                <a class="button btn-answer" href="#" title="Trả lời">Trả lời</a>
                                <!--share popup of facebook-->
                                <a class="button btn-answer" target="_self" onclick="window.open(this.href, 'chia sẻ lên facebook', 'left=100,top=100,width=600,height=400,toolbar=1,resizable=0'); selectMe(event, '#'); return false;" data-bind="attr : { href : 'https://www.facebook.com/sharer/sharer.php?u=@ViewBag.AbsolutePathHostName/PostDetail?postid='+ PostId +'&display=popup&ref=plugin' }" title="Chia sẻ lên facebook">Chia sẻ</a>
                                <a class="button" href="#" style="cursor:text" data-bind="visible: SumReply() > 0"><i class="fa fa-comments" data-bind=" text : SumReply"></i></a>
                                <div id="cm-3" class="dropdown dropdown-tip dropdown-anchor-left dropdown-relative">
                                    <ul class="dropdown-menu">
                                        <li><a href="#" title="Chia sẻ">Chia sẻ</a></li>
                                        <li><a href="#" title="Vi phạm">Vi phạm</a></li>
                                    </ul>
                                </div>
                                <span class="likeAndPin" style="">

                                    <span data-bind="text : SumLike, visible : SumLike() > 0 "></span>
                                    <button class="fa fa-thumbs-o-up" data-bind=" click : function(data, event) { $parent.AddLike(data, event) ;   } , attr : {id : 'PostId' + PostId} , enable : DiableLike"></button>
                                    <!--click like thi doi class thanh fa fa-thumbs-o-up-->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ajaxLoadingImage" style="text-align:center"></div>
    </div>
    
    <!--post detail & reply-->
    <div id="dialog" title="Basic dialog">
        <div class="bg-white open">
            <div class="list-item-status" tabindex="-1">
                <div class="avata-genaral-size">
                    <img id="idImgPostDetail" class="img-rounded" alt="avatar">
                </div>
                <div class="list-item-detail">
                    <div class="list-item-date" id="idPostedDateDetail" ></div>
                    <div onclick='selectMe(event,"#")' class="list-item-username" style="width:0%">
                        <div id="idPostNameDetail"></div>
                    </div>
                    <span id="idStmDetail"></span>
                    <div class="list-item-status-content" id="idPostMessenge"></div>
                 

                    <div class="list-item-control">
                        @*<a class="button" href="#"><i class="fa fa-comments"></i></a>*@
                        <div id="facebookLikeAndShare"></div>
                    
                    </div>                    
                </div>
            </div>
            <div style="display: block;" class="list-comment">
                <div class="comment-item">
                    <div class="avata-genaral-size">
                        <img style="left:15px" src="@ViewBag.AvataEmage?width=35&height=35&mode=crop" class="img-rounded" alt="avatar">
                    </div>
                    <div id="input-comment" class="input-status">
                        <form name="frmComment">                     
                            <div class="input-status-text">
                                <textarea data-bind="value : newReply, valueUpdate : 'afterkeydown' , limitCharacters : 140" class="status-cm" id="comment-text" name="comment" rows="5" placeholder="Nhập trả lời ở đây" title="Search" autocomplete="off"></textarea>
                            </div>
                            <div class="status-control">
                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                           <div id="btnPhim" class="f-right">
                                            <span data-bind="text : countReply"></span>
                                            <button id="btAddReply" style="cursor:pointer" class="button-phim" data-bind=" enable: enablePhimHangReply , click : addReply ">Trả lời</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="btnPhim" class="f-right">
                                            <a class="logoutbutton" href="/Account/Register?ReturnUrl=/Ticker/@ViewBag.StockCode">REGISTER</a>
                                            <a class="logoutbutton" href="/Account/Login?ReturnUrl=/Ticker/@ViewBag.StockCode">LOGIN</a>
                                        </div>
                                    }
                                }
                             
                            </div>
                        </form>
                    </div>
                </div>
                <div class="scroll-div">
                    <div data-bind="foreach : replys">
                        <div class="comment-item">
                            <div class="avata-genaral-size">
                                <img data-bind="attr: { src: ReplyByAvatar },click : function() {  location.href='/' + ReplyByName  }" class="img-rounded" alt="avatar">
                            </div>
                            <div class="list-item-detail">
                                <div class="list-item-date" data-bind="text : ReplyDate"></div>
                                <div class="list-item-username">
                                    <a style="cursor:pointer" data-bind="attr : { href : '/' + ReplyByName  }, text : ReplyByName"></a>
                                </div>
                                <div class="list-item-status-content" data-bind="html: ReplyMessage"></div>
                                <div class="list-item-control-cm">
                                    <a class="button f-right" href="#" title="Vi phạm">Vi phạm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-loadmore">
                    <a id="IdLoadMoreConversation" href="#" target="_blank">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- gia co phieu real time-->

<!-- Comment-->
@Scripts.Render("~/bundles/Ticker")

<!--Auto complete-->