@model ShareHolderCore.Domain.Model.Company

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
   
   @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    @using (Html.BeginForm()) {
       
        <fieldset>
            <legend>Company</legend>
    
            
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ShareSymbol)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ShareSymbol)
                @Html.ValidationMessageFor(model => model.ShareSymbol)

            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.EnglishName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EnglishName)
                @Html.ValidationMessageFor(model => model.EnglishName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Martket)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Martket)
                @Html.ValidationMessageFor(model => model.Martket)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.TotalShare)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TotalShare)
                @Html.ValidationMessageFor(model => model.TotalShare)
                
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Telephone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Telephone)
                @Html.ValidationMessageFor(model => model.Telephone)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Fax)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Fax)
                @Html.ValidationMessageFor(model => model.Fax)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Website)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Website)
                @Html.ValidationMessageFor(model => model.Website)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Capital)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Capital)
                @Html.ValidationMessageFor(model => model.Capital)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.IssueDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IssueDate)
                @Html.ValidationMessageFor(model => model.IssueDate)
            </div>
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
