@model ShareHolderCore.Domain.Model.Company
        
<fieldset>
    <legend>Company</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShareSymbol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShareSymbol)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EnglishName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnglishName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Martket)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Martket)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalShare)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalShare)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Capital)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capital)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IssueDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IssueDate)
    </div>
</fieldset>
<p data-theme="e">
    
    @Html.ActionLink("Back to List", "Index")
</p>
