@model PhimHang.Models.UserLogin

<div class="user-info2">
    <div class="user-profile">
        <div class="user-img-2">
            <img id="AvataImage" src="@ViewBag.AvataImageUrlCurrent?w=190&h=190&mode=crop" alt="cover">
            @{
                if (User.Identity.IsAuthenticated && ViewBag.CheckUserExist == "E")
                {
                    
                        <div class="covertEditAvata">
                            <div class="uploadFile">
                                <input id="idchartFileUpload" name="Select File" accept="image/*" type="file" onchange="uploadAvata(files)" />
                            </div>
                        </div>
                        <script>
                            function uploadAvata(files) {
                                file = files[0];
                                if (file == null) {
                                    return;
                                }
                                if (file.size > 3000000) {
                                    showNotification('File hình quá lớn, xin vui lòng chọn hình khác?');
                                    return;
                                }
                                var ext = file.name.split('.').pop().toLowerCase();
                                if ($.inArray(ext, ['png', 'jpg', 'jpeg']) == -1) {
                                    showNotification('File hình không đúng định dạng!. Chỉ hỗ trợ file hình png, jpg, jpeg');
                                    return;
                                }
                                // Add the uploaded image content to the form data collection
                                if (files.length > 0) {
                                    var formData = new FormData();
                                    formData.append("UploadedImage", file);
                                    //upload via ajax
                                    $.ajax({
                                        url: '/Account/AvataUpload',
                                        type: 'POST',
                                        data: formData,
                                        cache: false,
                                        contentType: false,
                                        processData: false,
                                        crossDomain: false,
                                        beforeSend: function (xhr) {
                                            $('.uploadStatus').html('<img src="/img/uploading.gif" />');
                                        },
                                        success: function (data) {
                                            if (data === "error") {
                                                showNotification('Có lỗi khi upload ảnh, vui lòng thử lại');
                                                $('#avataInput').val('');
                                                return
                                            }
                                            else {
                                                $('#AvataImage').attr("src", "../" + data.replace("YES|", "") + "?w=190&h=190&mode=crop");
                                                showNotification('Cập nhật avata thành công');
                                                $('#avataInput').val('');
                                            }
                                            $('.uploadStatus').html('');
                                        },
                                        fail: function () {
                                            showNotification('Có lỗi khi upload ảnh, vui lòng thử lại:');
                                            $('#avataInput').val('');
                                        }
                                    })

                                }
                            }
                        </script>                    
                }
            }
            
        </div>
    </div>

    <div class="user-name2">@Model.FullName
       
        @{
            if (@Model.BrokerVIP == true)
            {
                <i title="Xác thực đây là dân phím chuyên ngiệp" class="fa fa-check-circle"></i>
            }          
        }
        <br />
        <a href="/@Model.UserNameCopy">&#64;@Model.UserNameCopy</a><br />
      @{
            if (User.Identity.IsAuthenticated && ViewBag.CheckUserExist == "E")
            {
                <a href="/account/profile"><i title="Chỉnh sửa trang cá nhân" style="color: rgb(163, 163, 163);" class="fa fa-pencil"></i></a>
            }
        }
    </div>
    
    <div class="user-info-detail">
        <div class="user-info-intro">            
            
            @{
                if (string.IsNullOrEmpty(Model.Status))
                {
                    @: Status:...
                }
                else
                {
                    @: @Model.Status
                }
            }
        </div>       
        <div>
            <i class="fa fa-area-chart"></i>Trường phái:
            @{
                if (Model.PhilosophyMarket != null)
                {
                    @: @Model.Philosophy.PhilosophyName
                }
                else
                {
                    @: ...
                }
            }
        </div>
        <div>
            <i class="fa fa-black-tie"></i> Nghề nghiệp:
            @{
                if (Model.JobTitle != null)
                {
                    @: @Model.JobTitile.JobName
                }
                else
                {
                    @: ...
                }
            }
        </div>
        <div>
            <i class="fa fa-coffee"></i> Kinh nghiệm:
            @{

                if (Model.NumberExMarketYear != null)
                {
                    @:@Model.NumberExMarketYear năm
                }
                else
                {
                    @: ...
                }
            }
        </div>
        <div><i class="fa fa-user"></i> Giới thiệu:       
            @{
                if (string.IsNullOrEmpty(Model.CVInfo))
                {
                    @: ...
                }
                else
                {
                    @: @Model.CVInfo
                }
            }
     </div>
        <div class="user-info-mypage">
            <p><i class="fa fa-facebook-official"></i> Trang cá nhân:</p>
            @{
                if (!string.IsNullOrEmpty(Model.URLFacebook))
                {
                    @: <a target="_blank" href="https://@Model.URLFacebook.Replace("https://", "").Replace("http://", "").Replace("www.", "")">@Model.URLFacebook</a>    
                    @*@: <a target="_blank" href="/../@Url.Action(@Model.URLFacebook)">@Html.Raw(@Model.URLFacebook)</a>*@
                }
                else
                {
                    @: ...
                }
                
            }
        </div>
        <div class="user-info-mypage">
            <div style="float: left; overflow: hidden" class="fb-like" data-href="@Request.Url.AbsoluteUri" data-colorscheme='dark' data-layout='button_count' data-action='like' data-show-faces='true' data-share='true'></div>
        </div>
    </div>
</div>
          