<input type="hidden" id="titleHidenPage" value="@ViewBag.UserName home page | https://phochungkhoan.com " />
<input type="hidden" id="HiddentUserId" value='@ViewBag.UserId' />
<input type="hidden" id="HiddentShortUserId" value='@ViewBag.CureentUserId' />
<input type="hidden" id="HiddentCharacterLimit" value='@ViewBag.CharacterLimit' />
<div id="CommentForKoLoad">
    <div class="area-center-user">
        @{
            if (User.Identity.IsAuthenticated && ViewBag.CheckUserExist == "E")
            {
            <div id="top-status-box" class="bg-white status-box">
                <div class="avata-comment">
                    <img src="@ViewBag.AvataEmage?width=35&height=35&mode=crop" class="img-rounded" alt="avatar">
                </div>
            
                <div class="input-status">
                    <form id="frmStatus" name="frmStatus" method="GET">
                        <div id="input-status-text" class="input-status-text">
                            <textarea data-bind="value : newMessage, valueUpdate : 'afterkeydown' , limitCharacters : 140" class="status-cm" name="status" rows="5" placeholder="$Cổ phiếu | &#64;Username" id="status" title="Viết bài ở đây, chú ý: thêm $MãChứngKhoán để bài viết được đưa lên toàn thị trường hoặc &#64;TênĐăngNhập để gửi tin nhắn cho người sử dụng khác" autocomplete="off" rows="5"></textarea>
                        </div>
                        <div class="status-control">
                            <div class="choose_file f-left">
                                <i class="fa fa-camera"></i>
                                <input title="Chọn ảnh biều đồ kỹ thuật" id="idchartFileUpload" name="Select File" accept="image/*" type="file" onchange="uploadPreview(files)" />
                                <div class="chartImage">
                                    <a class="mb3-close chart-close" onclick="removeFileChart()" href="javascript:;">x</a>
                                    <img class="mb3-chart-thumb" src="">
                                </div>
                            </div>
                            <div id="radio" class="switch3button f-left">
                                <input type="radio" id="radio1" name="BullBear" value="2">
                                <label title="Nhận định thị trường TĂNG" for="radio1" class="divBull ">Tăng</label>
                                <input type="radio" id="radio3" name="BullBear" value="1">
                                <label title="Nhận định thị trường GIẢM" for="radio3" class="divBear">Giảm</label>
                            </div>
                            <div id="btnPhim" class="f-right">
                                <span data-bind="text : count"></span>
                                <button title="Nhập trên 6 ký tự để được tạo bài viết" id="btAddPost" style="cursor:pointer" class="button-phim" data-bind="click : addPost,  enable: enablePhimHang ">PHÍM</button>
                            </div>
                        </div>
                    </form>
                </div>
              
            </div>
            }
        }
        <div class="bg-white" style="padding-top: 10px; padding-bottom: 3px;">
            <div class="filer-bar">
                @*<div class="toSpan filer-bar-label">Hiển thị theo: </div>*@
                <div class="toSpan filer-bar-item"> <a data-bind="click : FilterAll('ALL')" href="#" class="active" title="Tất cả các bài viết">TẤT CẢ</a> </div>
                <div class="toSpan filer-bar-item"> <a data-bind="click : FilterAll('CHA')" href="#" title="Tìm kiếm bài viết có biểu đồ">BIỂU ĐỒ</a> </div>
                <div class="toSpan filer-bar-item"> <a data-bind="click : FilterAll('STM')" href="#" title="Tìm kiếm bài viết có nhận định tăng hoặc giảm">TĂNG/GIẢM</a></div>                
            </div>
            <div class="ajaxLoadingInit" style="text-align:center"><img src="~/images/ajax-loader_cungphim.gif" /></div>
        </div>

        <div class="list-status">
            <!--pin ma co phieu o day-->
            <!--So bai phim moi-->
            <div class="bg-white-custom" data-bind="visible :newPosts().length > 0 ">
                <div class="filer-new-status">
                    <div class="filer-new-status-button-bar">
                        <div class="text-label">
                            <a href="#" data-bind=" click : loadNewPosts"> <strong data-bind="text: newPosts().length"></strong> bài phím mới </a>
                        </div>
                    </div>
                </div>
            </div> 
            
            <div data-bind="foreach : posts">
                <div class="bg-white">
                    <div class="list-item-status" tabindex="-1" data-bind=" click: function(data, event) { $parent.detailPost(data, event); }">
                        @*click: function(data, event) { $parent.detailPost; event.stopPropagation(); }*@
                        <div class="avata-genaral-size">
                            <img data-bind="attr: { src: PostedByAvatar }" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">
                            <div class="list-item-date" data-bind="text : PostedDate"></div>
                            <div class="list-item-username">
                                <a style="cursor:pointer" onclick='selectMe(event,"#")' data-bind="attr : { href : '/' + PostedByName  }, text : PostedByName"></a>
                                <span class="itemVerify" data-bind="html: BrkVip"></span>
                            </div>
                            <span data-bind="html : Stm"></span>
                            <div class="list-item-status-content" data-bind="html : Message"></div>
                            <div class="list-item-control">
                                @*<a style="border-color:transparent; background-color:transparent" class="button" href="#"><i data-bind="text :notification, visible: notification() > 0" class="fa fa-comments"></i></a>*@
                                <a class="button btn-answer" href="#" title="Trả lời">Trả lời</a>
                                <a class="button btn-answer" target="_self" onclick="window.open(this.href, 'chia sẻ lên facebook', 'left=100,top=100,width=600,height=400,toolbar=1,resizable=0'); selectMe(event, '#'); return false;" data-bind="attr : { href : 'https://www.facebook.com/sharer/sharer.php?u=@ViewBag.AbsolutePathHostName/PostDetail?postid='+ PostId +'&display=popup&ref=plugin' }" title="Chia sẻ lên facebook">Chia sẻ</a>
                                <!--Load more tool: delete post & report -->
                                <a class="button" onclick='selectMe(event,"#")' href="javascript:;" title="more" data-bind=" click: function(data, event) { $parent.loadToolMore(data, event); } ,attr : { id : 'loadToolMoreId' + PostId   },"><i class="fa fa-caret-down"></i></a>
                                <!--End load more tool-->
                                <a class="button" href="#" style="cursor:text" data-bind="visible: SumReply() > 0" title="Tổng số trả lời"><i title="Tổng số trả lời" class="fa fa-comments" data-bind=" text : SumReply"></i></a>                                                               
                                <span class="likeAndPin">
                                    <span data-bind="text : SumLike, visible : SumLike() > 0 "></span>
                                    <button class="fa fa-thumbs-o-up" data-bind=" click : function(data, event) { $parent.AddLike(data, event) ;   } , attr : {id : 'PostId' + PostId} , enable : DiableLike"></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ajaxLoadingImage" style="text-align:center"></div>
    </div>

    <!--post detail & reply-->
    <div id="dialog" title="Basic dialog">
        <div class="bg-white open">
            <div class="list-item-status" tabindex="-1">
                <div class="avata-genaral-size">
                    <img id="idImgPostDetail" class="img-rounded" alt="avatar">
                </div>
                <div class="list-item-detail">
                    <div class="list-item-date" id="idPostedDateDetail"></div>
                    <div onclick='selectMe(event,"#")' class="list-item-username" style="width:0%">
                        <div id="idPostNameDetail"></div>

                    </div>
                    <span id="idStmDetail"></span>
                    <div class="list-item-status-content" id="idPostMessenge"></div>


                    <div class="list-item-control">
                        @*<a class="button" href="#"><i class="fa fa-comments"></i></a>
                        <a class="button btn-answer" href="#" title="Trả lời">Thích</a>*@
                        <div id="facebookLikeAndShare"></div>

                    </div>
                </div>
            </div>
            <div style="display: block;" class="list-comment">
                <div class="comment-item">
                    <div class="avata-genaral-size">
                        <img style="left:15px" src="@ViewBag.AvataEmage?width=35&height=35&mode=crop" class="img-rounded" alt="avatar">
                    </div>
                    <div id="input-comment" class="input-status">
                        <form name="frmComment">

                            <div class="input-status-text">
                                <textarea data-bind="value : newReply, valueUpdate : 'afterkeydown' , limitCharacters : 140" class="status-cm" id="comment-text" name="comment" rows="5" placeholder="Nhập trả lời ở đây" title="Nhập trả lời" autocomplete="off"></textarea>
                            </div>
                            <div class="status-control">
                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <div id="btnPhim" class="f-right">
                                            <span data-bind="text : countReply"></span>
                                            <button id="btAddReply" style="cursor:pointer" class="button-phim" data-bind=" enable: enablePhimHangReply , click : addReply ">Trả lời</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="btnPhim" class="f-right">
                                            <a class="logoutbutton" href="/Account/Register?ReturnUrl=/@ViewBag.UserName">Đăng ký</a>
                                            <a class="logoutbutton" href="/Account/Login?ReturnUrl=/@ViewBag.UserName">Đăng nhập</a>
                                        </div>
                                    }
                                }

                            </div>
                        </form>
                    </div>
                </div>
                <div class="scroll-div">
                    <div data-bind="foreach : replys">
                        <div class="comment-item">
                            <div class="avata-genaral-size">
                                <img data-bind="attr: { src: ReplyByAvatar },click : function() {  location.href='/' + ReplyByName  }" class="img-rounded" alt="avatar">
                            </div>
                            <div class="list-item-detail">
                                <div class="list-item-date" data-bind="text : ReplyDate"></div>
                                @*<div class="list-item-username" data-bind="text: ReplyByName"></div>*@
                                <div class="list-item-username">
                                    <a style="cursor:pointer" data-bind="attr : { href : '/' + ReplyByName  }, text : ReplyByName"></a>
                                    <span class="itemVerify" data-bind="html: ReplyBrkVip"></span>
                                </div>
                                    <div class="list-item-status-content" data-bind="html: ReplyMessage"></div>
                                    <div class="list-item-control-cm">
                                        <a class="button f-right" href="#" title="Vi phạm">Vi phạm</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="comment-loadmore">
                    <a id="IdLoadMoreConversation" href="#" target="_blank">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px">

    </div>
</div>
<!-- gia co phieu real time-->
<!-- Comment-->

@Scripts.Render("~/bundles/User")