@model ShareHolderCore.Domain.Model.Facility
@{
    ViewBag.Title = "Chi tiết dịch vụ";
}

<div id="content">

            <h2><span>Dịch vụ khách sạn : Chi tiết dịch vụ</span></h2>

            <!-- tab -->
            <ul id="tab">
                <li><a href="#" title="Property 100 (rows)">Property 100 (rows)</a></li>
                <li class="Active">
                    <span>New property</span>
                    <a href="#" title="Close" class="Close">Close</a>
                </li>
            </ul>
            <!-- tab.end -->

            <!-- panel -->
            <div class="Panel">

                <!-- functions -->
                <ul class="Functions">
                    <li><a href="#" id="submit_link">Save</a>
                    @*<li>@Html.ActionLink("Save", "Save", "Home", new { actionpage = "Save", idhotel = "" }, null)</li>*@
                    <li>@Html.ActionLink("Save & New", "Save", "Home", new { actionpage = "SaveNew", idhotel = "" }, null)</li>
                    <li>@Html.ActionLink("Cancel", "CancelHotel", "Home", new { actionpage = "Cancel", idhotel = "" }, null)</li>
                    <li>
                        <span>Actions</span>
                        <ul>
                            <li><a href="#" title="Approve property">Approve property</a></li>
                            <li><a href="#" title="View facilities">View facilities</a></li>
                            <li>
                                <span>Translation</span>
                                <ul>
                                    <li><a href="#" title="Tiếng Việt">Tiếng Việt</a></li>
                                    <li><a href="#" title="French">French</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- functions.end -->

            </div>
            <!-- panel.end -->

            <!-- subtab -->
            <ul id="subtab">
                <li class="Active"><span>General Info</span></li>
                <li><a href="#" title="Detail Info">Detail Info</a></li>
            </ul>
            <!-- subtab.end -->

            <!-- mainContent -->
            
            <div id="mainContent">
             @using (Html.BeginForm("SaveEdit", "Home", FormMethod.Post, new { id = "Submitform" }))
             {
                 @Html.ValidationSummary()
                <fieldset>
                 <div>                     
                     <input type="hidden" value="@Model.FacilityId" id="GetHotelId" name="GetHotelId" />  
                    </div>
                    <div class="Input">
                        <label for="code">Tên khách sạn:</label>
                        @*<input type="text" id="HotelName" name="HotelName" class="Medium" required />*@
                        @Html.TextBoxFor(m => m.Name, new { id = "FacilityName", @class = "Large" })
                        @Html.ValidationMessageFor(m => m.Name)
                        
                        <span class="Required">*</span>
                    </div>
                
                    <div class="Input">
                        <label for="price">Ngày tạo:</label>
                        <input type="date" id="CreatedDate" name="CreatedDate" class="Medium" value='@AquilaAd.Ext.CustomHelpers.parstFormatToYYYY_MM_DD(Model.CreatedDate)' />
                        
                    </div>
                    <div class="Input">
                        <label for="code">Người tạo:</label>                        
                         @Html.TextBoxFor(m => m.CreatedBy, new { id = "CreatedBy", name = "CreatedBy", @class = "Medium" })
                    </div>
                    @*<input type="submit" value="sumit" id="submittest" style="background:none"/>*@
                </fieldset>                 
             }
                
            </div>
            <!-- mainContent.end -->

            <!-- panel -->
            <div class="Panel">

                <!-- functions -->
                <ul class="Functions">
                    <li><a href="#" id="submit_link">Save</a>
                        
                    </li>
                    <li>@Html.ActionLink("Save & New", "Save", "Home", new { actionpage = "SaveNew", idhotel = "" }, null)</li>
                    <li>@Html.ActionLink("Cancel", "CancelHotel", "Home")</li>
                    <li>
                        <span>Actions</span>
                        <ul>
                            <li><a href="#" title="Approve property">Approve property</a></li>
                            <li><a href="#" title="View facilities">View facilities</a></li>
                            <li>
                                <span>Translation</span>
                                <ul>
                                    <li><a href="#" title="Tiếng Việt">Tiếng Việt</a></li>
                                    <li><a href="#" title="French">French</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- functions.end -->

            </div>
            <!-- panel.end -->

        </div>
<script type="text/javascript">
    $(function () {
        $('a#submit_link').click(function () {
            $('form#Submitform').submit();
        });
    });
</script>