
@{
    ViewBag.Title = "Danh sách khuyến nghị theo mã chứng khoán";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
@model PagedList.IPagedList<PhimHang.Models.StockCode>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>
    Danh sách mục cổ phiếu
</h2>
<div id="example_length" class="dataTables_length1">
    <table class="form">
        @using (Html.BeginForm("", "Ticker", FormMethod.Get))
        {
            <tr>

                <td><b>Mã chứng khoán:</b></td>
                <td>@Html.TextBox("stockCode", ViewBag.stockCode as string, new { maxlength = 10 })</td>   
                <td><b>Sàn giao dịch:</b></td>
                <td>@Html.DropDownList("marketType", @ViewBag.marketTypeList as SelectList, new { @name = "marketType" })</td>             
                <td></td>
                <td><input type="submit" value="Tìm kiếm" class="btn btn-blue"></td>

            </tr>
        }
    </table>
</div>
<div id="mainContent">
    <fieldset>
        <div class="Table">
            <table>
                <thead>
                    <tr>
                        <th>Mã cổ phiếu</th>
                        <th>Tên ngắn</th>
                        <th>Tên dài</th>
                        <th>Sàn giao dịch</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Code
                            </td>
                            <td>
                                @item.ShortName
                            </td>
                            <td>
                                @item.LongName
                            </td>
                            <td>
                                @item.IndexName
                            </td>
                            <td style="font-weight: bold; color: #328AC5">
                                <a href="/Ticker/detail?tickerid=@item.Id&returnUrl=@ViewBag.linkAbsolutePath">update</a>
                            </td>
                            <td style="font-weight: bold; color: #328AC5">
                                <a href="/Ticker/delete?tickerid=@item.Id&returnUrl=@ViewBag.linkAbsolutePath">delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model,
                                       page => Url.Action("Index", new { page, stockCode = ViewBag.stockCode, marketType = ViewBag.marketType }))


        </div>
    </fieldset>
</div>
