@using Microsoft.AspNet.Identity
@model PhimHang.Models.ManageUserViewModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
      <span style="color:red">@Html.ValidationSummary()</span>
    <div class="account-details tab-pane" id="changePassword">
        <div class="control-group">
            <label class="control-label" for="oldPassword">Current Password</label>
            <div class="controls">
                @*<input type="password" id="oldPassword" name="oldPassword" value="" class="input-xlarge" placeholder="Current Password" />*@
                @Html.PasswordFor(m => m.OldPassword, new { @class="input-xlarge", @placeholder="Mật khẩu hiện tại"  })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                @*<input type="password" id="password" name="password" value="" class="input-xlarge" placeholder="Password" />*@
                @Html.PasswordFor(m => m.NewPassword, new { @class = "input-xlarge", @placeholder = "Mật khẩu mới" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="confirmPassword">Confirm Password</label>
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-xlarge", @placeholder = "Nhập lại mật khẩu mới" })
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn" value="Lưu lại" />
                <p class="text-success">@ViewBag.StatusMessage</p>
            </div>
        </div>        
    </div>
}

