@model PhimHang.Models.ResetPassConfirm
@{
    ViewBag.Title = "Đặt mật khẩu mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="outer-frame">
    <div id="page-content">
        <div id="login-or-register-page-content">
            <div class="top-sidebar">
                <div class="login-register-container  standard">
                    <div class="login-register-login-part">
                        <div class="clearfix">
                            <div class="login-register-header">Đặt lại mật khẩu mới</div>
                            <div class="login-register-switch">
                                <a href="/Account/Login/?ReturnUrl=@ViewBag.ReturnUrl" class="login-register-switch-link">Đăng nhập</a>
                            </div>

                        </div>
                        <div class="login-form-container  standard">
                            @*<form action="/" method="post" class="clearfix login-form">*@
                            @using (Html.BeginForm("confirm_password_reset", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "clearfix login-form", id = "registerFormSubmit" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="text-input login-password login-text-input standard">
                                    <div class="text-input-error-wrapper">@Html.ValidationMessageFor(m => m.NewPassword)</div>
                                    <div class="text-input-wrapper">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "password-input text-input-input", placeholder = "Mật khẩu mới" })
                                    </div>
                                </div>
                                <div class="text-input login-password login-text-input standard">
                                    <div class="text-input-error-wrapper">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
                                    <div class="text-input-wrapper">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "password-input text-input-input", placeholder = "Nhập lại mật khẩu mới" })
                                    </div>
                                </div>
                               @Html.TextBoxFor(m => m.Token, new { @type = "hidden", @value = @ViewBag.Token })
                                <div class="clearfix">
                                    <div class="sso-description"></div>                                  
                                    <button id="registerSumbit" type="submit" class="login-button button-primary">
                                        <div class="sign-in-text">Đồng ý</div>
                                    </button>
                                </div>
                                <p class="text-success">@ViewBag.StatusMessage</p>
                                <div class="login-need-help"><a style="float:right" href="/">Trang chủ</a></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
