@model PhimHang.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Thêm thông tin đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="outer-frame">
    <div id="page-content">
        <div id="login-or-register-page-content">
            @*<img src="/images/Untitled.png" class="login-or-register-img">*@
            <div class="top-sidebar">
                <div class="login-register-container  standard">
                    <div class="login-register-login-part">
                        <div class="clearfix">
                            <div class="login-register-header">Chọn tên đăng nhập tại phố chứng khoán</div>
                        </div>
                        <div class="login-form-container  standard">
                            @*<form action="/" method="post" class="clearfix login-form">*@
                            @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="text-input login-text-input standard">
                                    <div class="text-input-error-wrapper">@Html.ValidationSummary(true) @Html.ValidationMessageFor(m => m.UserName)</div>

                                    <div class="text-input-wrapper">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "text-input-input autofocus", placeholder = "Username" })
                                        
                                    </div>
                                    @Html.TextBoxFor(m => m.Token, new { @class = "text-input-input autofocus", placeholder = "Username", @type= "hidden" })

                                </div>   
                                 <div class="clearfix">                            
                                      <button type="submit" class="login-button button-primary">
                                                    <div class="sign-in-text">Sign in</div>
                                       </button>
                                </div>
                                <div class="login-need-help"><a href="/forgot">Forgot your password?</a><a style="float:right" href="/">Trang chủ</a></div>

                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



