@using Microsoft.AspNet.Identity
@model PhimHang.Models.ProfileUserViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout_MyProfile_Setting.cshtml";
}

<script src="~/ThemeBlue/js/Extention.js"></script>
                        <div class="account-details tab-pane active" id="profile">     
                           @using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()                               
                                @*<div class="control-group">
                                    <label class="control-label" for="username">AVATAR:</label>
                                    <div class="controls">
                                        <img class="gravatar" id="AvataImage" src="@Model.Avata?width=48&height=48&mode=crop" />                                       
                                    </div>
                                    <div class="controls">
                                        <input id="idchartFileUpload" name="Select File" accept="image/*" type="file" onchange="uploadAvata(files)" />
                                    </div>
                                </div>*@
                                if (Request.Cookies["FacebookLogin"] != null)
                                {
                                    if (Request.Cookies["FacebookLogin"].Value == "F")
                                    {
                                          <div class="control-group">
                                            <label class="control-label" for="username">Cập nhật tự động:</label>
                                            <div class="controls" >                                        
                                                @Html.DropDownListFor(m => m.AvatarSyn, ViewBag.ListavataSyn as SelectList, string.Empty, new { style = "width:80px" })
                                                (Tự cập nhật hình đại diện từ Facebook)
                                            </div>
                                        </div>
                                    }
                                }
                              
                                @*<div class="control-group">
                                    <label class="control-label" for="confirmUsername">Cover:</label>
                                    <div class="controls">
                                        <input onchange="uploadCover(files)" accept="image/*" type="file" id="coverInput" name="coverInput" value="" class="input-xlarge"/>
                                    </div>
                                </div>*@
                              
                                <div class="control-group">
                                    <label class="control-label" for="username">Họ và tên:</label>
                                    <div class="controls">
                                        @*<input type="text" id="mobileInput" name="username" value="" class="input-xlarge" />*@
                                        @Html.TextBoxFor(m => m.FullName, new { @class = "input-xlarge" })
                                        @Html.ValidationMessageFor(m => m.FullName, "", new { @style = "color: #D81D35;" })
                                    </div>
                                </div>
                                      <div class="control-group">
                                    <label class="control-label" for="username">Ngày sinh:</label>
                                    <div class="controls"> 
                                        @Html.EditorFor(model => model.BirthDay) (tháng/ngày/năm)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="username">Điện thoại:</label>
                                    <div class="controls">                                        
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "input-xlarge" })
                                        @Html.ValidationMessageFor(m => m.Mobile, "", new { @style = "color: #D81D35;" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="username">Email:</label>
                                    <div class="controls">
                                        @*<input type="text" id="emailInput" name="username" value="" class="input-xlarge" />*@
                                        @Html.TextBoxFor(m => m.Email, new { @class = "input-xlarge", @type="email" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color: #D81D35;" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="username">Nghề nghiệp:</label>
                                    <div class="controls">
                                        @*<input type="text" id="jobInput" name="username" value="" class="input-xlarge" />*@
                                        @Html.DropDownListFor(m => m.JobTitle, ViewBag.ListJob as SelectList, string.Empty)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="username">Status:</label>
                                    <div class="controls">
                                        @*<textarea id="statusInput" name="statustextArea" class="form-control" placeholder="Chia sẽ cảm nghĩ về thị trường?" rows="3" style="width:500px"></textarea>*@
                                        @Html.TextAreaFor(m => m.Status, new { @class="form-control" ,@placeholder="Chia sẻ cảm nghĩ về thị trường?", @rows="3" ,@style="width:500px" })
                                        @Html.ValidationMessageFor(m => m.Status , "", new { @style = "color: #D81D35;" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="username" data-toggle="tooltip" title="Địa chỉ trang cá nhân: facebook, twitter, blog, website...">Trang cá nhân:</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.URLFacebook, new { @class = "input-xlarge" })
                                        @Html.ValidationMessageFor(m => m.URLFacebook, "", new { @style = "color: #D81D35;" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="username">Giới thiệu bản thân:</label>
                                    <div class="controls">
                                        @*<textarea id="statusInput" name="statustextArea" class="form-control" placeholder="Sở thích, thế mạnh...?" rows="3" style="width:500px"></textarea>*@
                                        @Html.TextAreaFor(m => m.CVInfo, new { @class = "form-control", @placeholder = "Sở thích, thế mạnh...?", @rows = "3", @style = "width:500px" })
                                        @Html.ValidationMessageFor(m => m.CVInfo, "", new { @style = "color: #D81D35;" })
                                    </div>
                                </div>
                                  <div class="control-group">
                                    <label class="control-label" for="username">Số năm kinh nghiệm:</label>
                                    <div class="controls">
                                        @*<input type="text" id="jobInput" name="username" value="" class="input-xlarge" />*@
                                        @Html.DropDownListFor(m => m.NumberExMarketYear, ViewBag.ListNumberExMarketYear as SelectList, string.Empty)
                                    </div>
                                </div>
                                  <div class="control-group">
                                    <label class="control-label" for="username">Trường phái đầu tư:</label>
                                    <div class="controls">
                                        @*<input type="text" id="jobInput" name="username" value="" class="input-xlarge" />*@
                                        @Html.DropDownListFor(m => m.PhilosophyMarket, ViewBag.ListPhilosophyMarket as SelectList, string.Empty)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="submit" class="btn" value="Lưu lại" />
                                        
                                    </div>
                                </div>                                
                            }
                        </div>                      
    <script type="text/javascript">

    $('#profileli').addClass("active");
    //function uploadAvata(files) {
    //    file = files[0];
    //    if (file == null) {
    //        return;
    //    }
    //    if (file.size > 3000000) {
    //        showNotification('File hình quá lớn, xin vui lòng chọn hình khác?');
    //        return;
    //    }
    //    var ext = file.name.split('.').pop().toLowerCase();
    //    if ($.inArray(ext, ['png', 'jpg', 'jpeg']) == -1) {
    //        showNotification('File hình không đúng định dạng!. Chỉ hỗ trợ file hình png, jpg, jpeg');
    //        return;
    //    }
    //    // Add the uploaded image content to the form data collection
    //    if (files.length > 0) {
    //        var formData = new FormData();
    //        formData.append("UploadedImage", file);
    //        //upload via ajax
    //        $.ajax({
    //            url: '/Account/AvataUpload',
    //            type: 'POST',
    //            data: formData,
    //            cache: false,
    //            contentType: false,
    //            processData: false,
    //            crossDomain: false
    //        }).done(function (data) {
    //            if (data === "error") {
    //                showNotification('Có lỗi khi upload ảnh, vui lòng thử lại');
    //                $('#avataInput').val('');
    //                return
    //            }
    //            else {
    //                $('#AvataImage').attr("src", "../" + data.replace("YES|", "") + "?width=48&height=48&mode=crop");
    //                showNotification('Cập nhật avata thành công');
    //                $('#avataInput').val('');
    //            }

    //        }).fail(function () {
    //            showNotification('Có lỗi khi upload ảnh, vui lòng thử lại:');
    //            $('#avataInput').val('');
    //        })
    //    }

    //}
    //function uploadCover(files) {
    //    file = files[0];
    //    if (file == null) {
    //        return;
    //    }
    //    if (file.size > 5000000) {
    //        showNotification('File hình quá lớn, xin vui lòng chọn hình khác?');
    //        return;
    //    }
    //    var ext = file.name.split('.').pop().toLowerCase();
    //    if ($.inArray(ext, ['png', 'jpg', 'jpeg']) == -1) {
    //        showNotification('File hình không đúng định dạng!. Chỉ hỗ trợ file hình png, jpg, jpeg');
    //        return;
    //    }
    //    // Add the uploaded image content to the form data collection
    //    if (files.length > 0) {
    //        var formData = new FormData();
    //        formData.append("UploadedImage", file);
    //        //upload via ajax
    //        $.ajax({
    //            url: '/Account/CoverUpload',
    //            type: 'POST',
    //            data: formData,
    //            cache: false,
    //            contentType: false,
    //            processData: false,
    //            crossDomain: false
    //        }).done(function (data) {
    //            if (data === "error") {
    //                showNotification('Có lỗi khi upload ảnh, vui lòng thử lại');
    //                $('#coverInput').val('');
    //                return
    //            }
    //            else {
    //                showNotification('Cập nhật hình cover thành công, có thể về profile để xem');
    //                $('#coverInput').val('');
    //            }

    //        }).fail(function () {
    //            showNotification('Có lỗi khi upload ảnh, vui lòng thử lại:');
    //            $('#coverInput').val('');
    //        })
    //    }

    //}

    </script>
