@model PhimHang.Models.RegisterViewModel
   
    @{
        ViewBag.Title = "Đăng ký tài khoản mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="outer-frame">
        <div id="page-content">
            <div id="login-or-register-page-content">                
                <div class="top-sidebar">
                    <div class="login-register-container  standard">
                        <div class="login-register-login-part">
                            <div class="clearfix">
                                <div class="login-register-header">Tài khoản mới</div>
                                <div class="login-register-switch">
                                    <a href="/Account/Login/?ReturnUrl=@ViewBag.ReturnUrl" class="login-register-switch-link">Đăng nhập</a>
                                </div>
                            </div>
                            <div class="login-form-container  standard">
                                @*<form action="/" method="post" class="clearfix login-form">*@
                                @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "clearfix login-form" , id ="registerFormSubmit"}))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="text-input login-text-input standard">
                                        <div class="text-input-error-wrapper">@Html.ValidationSummary(true) @Html.ValidationMessageFor(m => m.UserName)</div>

                                        <div class="text-input-wrapper">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "text-input-input autofocus", placeholder = "Tên đăng nhập" })
                                        </div>
                                    </div>
                                    <div class="text-input login-password login-text-input standard">
                                        <div class="text-input-error-wrapper">@Html.ValidationMessageFor(m => m.FullName)</div>
                                        <div class="text-input-wrapper">
                                            @Html.TextBoxFor(m => m.FullName, new { @class = "password-input text-input-input", placeholder = "Họ và tên" })                                            
                                        </div>
                                    </div>
                                     <div class="text-input login-password login-text-input standard">
                                        <div class="text-input-error-wrapper">@Html.ValidationMessageFor(m => m.Email)</div>
                                        <div class="text-input-wrapper">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "password-input text-input-input", placeholder = "Email", @type="email"  })                                            
                                        </div>
                                    </div>
                                    <div class="text-input login-password login-text-input standard">
                                        <div class="text-input-error-wrapper">@Html.ValidationMessageFor(m => m.Password)</div>
                                        <div class="text-input-wrapper">
                                            @Html.PasswordFor(m => m.Password, new { @class = "password-input text-input-input", placeholder = "Mật khẩu" })                                            
                                        </div>
                                    </div>
                                    <div class="text-input login-password login-text-input standard">
                                        <div class="text-input-error-wrapper">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
                                        <div class="text-input-wrapper">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "password-input text-input-input", placeholder = "Nhập lại mật khẩu" })                                            
                                        </div>
                                    </div>
                                     <div class="text-input login-text-input standard">
                                        <div class="text-input-error-wrapper">@Html.ValidationMessageFor(m => m.TermsAndConditions)</div>
                                        <div class="">
                                            @Html.CheckBoxFor(m => m.TermsAndConditions)
                                            <strong>@Html.LabelFor(m => m.TermsAndConditions)<a target="_blank" href="/documents/ThoathuanCungcapDichvu.pdf">tại đây</a></strong>
</div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="sso-description"></div>
                                        <div class="checkbox checkbox-inline standard remember-me">
                                            <div class="text-input-error-wrapper"></div>                                            
                                        </div>
                                        <button id="registerSumbit" type="submit" class="login-button button-primary">
                                            <div class="sign-in-text">Đăng ký</div>
                                        </button>
                                    </div>
                                    <div class="login-need-help"><a style="float:right" href="/">Trang chủ</a></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
