@model PhimHang.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset your password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="outer-frame">
    <div id="page-content">
        <div id="login-or-register-page-content">
            @*<img src="/images/Untitled.png" class="login-or-register-img">*@
            <div class="top-sidebar">
                <div class="login-register-container  standard">
                    <div class="login-register-login-part">
                        <div class="clearfix">
                            <div class="login-register-header">Vui lòng nhập Email để reset mật khẩu</div>
                        </div>
                        <div class="login-form-container  standard">
                            @*<form action="/" method="post" class="clearfix login-form">*@
                            @using (Html.BeginForm("request_password_reset", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="text-input login-password login-text-input standard">
                                    <div class="text-input-error-wrapper">@Html.ValidationMessageFor(m => m.Email)</div>
                                    @if (@ViewBag.Info == 0)
                                    {
                                        <div class="text-input-wrapper">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "password-input text-input-input", placeholder = "Email address", @type = "email" })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="text-input-wrapper">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "password-input text-input-input", placeholder = "Email address", @type = "email", @disabled = "disabled" })
                                        </div>

                                    }

                                </div>
                                <div class="clearfix">
                                    @if (@ViewBag.Info == 0)
                                    {
                                        <button type="submit" class="login-button button-primary">
                                            <div class="sign-in-text">Gửi Email</div>
                                        </button>
                                    }
                                    else
                                    {
                                        <button disabled type="submit" class="login-button button-primary">
                                            <div class="sign-in-text">Gửi Email</div>
                                        </button>
                                    }

                                </div>
                                <br />
                                <strong>@ViewBag.Status</strong>
                                <div class="login-need-help"><a href="/Account/request_password_reset">Quên mật khẩu?</a><a style="float:right" href="/">Trang chủ</a></div>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

