
@{
    ViewBag.Title = "Danh mục PIN bài viết";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

@using PagedList.Mvc;
@model PagedList.IPagedList<PhimHang.Controllers.PinModel>


<h2>
    PIN bài viết hay
</h2>

<div id="example_length" class="dataTables_length1">
    <table class="form">
        @using (Html.BeginForm("", "Pin", FormMethod.Get))
        {
            <tr>

                <td><b>Tên cổ phiếu:</b></td>
                <td>@Html.TextBox("stockName", ViewBag.stockName as string)</td>

                <td></td>
                <td><input type="submit" value="Tìm kiếm" class="btn btn-blue"></td>

            </tr>
        }
    </table>
</div>
<div id="mainContent">
    <fieldset>
        <div class="Table">
            <table>
                <thead>
                    <tr>
                        <th>Mã cổ phiếu</th>
                        <th>Ngày tạo</th>
                        <th>Nội dung bài viết</th>                        
                        <th>Update</th>
                        <th>Xóa</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:left">
                                @item.StockName
                            </td>
                            <td style="text-align:center">
                                @item.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")
                            </td>
                            <td style="text-align: left">
                                @Html.Raw(@item.PostContain)
                            </td>

                            <td style="font-weight: bold; color: #328AC5">
                                <a href="/Pin/detail?pinid=@item.Id&returnUrl=@ViewBag.linkAbsolutePath">update</a>
                            </td>
                            <td style="font-weight: bold; color: #328AC5">
                                <a href="/Pin/delete?pinid=@item.Id&returnUrl=@ViewBag.linkAbsolutePath">delete</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model,
                                      page => Url.Action("Index", new { page, username = ViewBag.stockName }))


        </div>
    </fieldset>
</div>
