@{
    Layout = null;
}
@model AquilaAd.Models.LogOnModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="../../Scripts/jquery-1.7.1.js" type="text/javascript"></script>
    <link href="../../styles/Login/login.css" rel="stylesheet" type="text/css" />
    <link href="../../styles/Login/theme1.css" rel="stylesheet" type="text/css" />

    <title>LogOn</title>
  
</head>
<body>

@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { id = "logon" }))
{   
   
 @*    <div class="logon">
        <fieldset>
        
            <table>
                <tr>
                    <td> @Html.LabelFor(m => m.UserName)</td>
                    <td> @Html.TextBoxFor(m => m.UserName) </td>
                    <td> @Html.ValidationMessageFor(m => m.UserName)</td>
                    
                </tr>
                <tr>
                    
                        <td>@Html.LabelFor(m => m.Password)</td>
                        <td>@Html.PasswordFor(m => m.Password)</td>
                        <td>@Html.ValidationMessageFor(m => m.Password)</td>
                    
                </tr>
                <tr>
                   
                </tr>
            </table> 
            <div class="Rememberme">
                 <li>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                
                        @Html.ActionLink("Quên mật khẩu", "ResetPassword", "Account")
                 </li>
            </div>     
        <div i >            
            <div class="buttonwrapper">
            <table style="margin:0px; padding:0px">
                <tr>
                    <td>
                       <a id="logonButton" class="submitbutton" style="cursor:pointer" title="Đăng nhập">Đăng nhập</a>      
                                         
                    </td>
                </tr>
             
            </table>
                               
              
            </div>
             
        </div>
       
    </fieldset>
    </div>*@
    
        <!-- login -->
    <div id="login">
        <h1><span>User Login</span></h1>
        <fieldset>
            <div>
                <label for="username">Username:</label>
                @*<input type="text" id="username" name="username" />*@
                @Html.TextBoxFor(m => m.UserName)
            </div>
            <div>
                <label for="password">Password:</label>
                @*<input type="password" id="password" name="password" />*@
                @Html.PasswordFor(m => m.Password)
            </div>
            <div class="Submit">
               @* <input type="submit" value="Log in" />*@
                <a id="logonButton" class="submitbutton" style="cursor:pointer" title="Đăng nhập">Đăng nhập</a>    
            </div>
            <p class="Error">@Html.ValidationSummary(true, Resources.UserInterface.logonFailed) </p>
            <p class="Support"><a href="#" title="Forget password">Forget password</a> / <a href="#" title="Register here">Register here</a></p>
        </fieldset>
    </div>
    <!-- login.end -->
}
</body>

</html>
   <script type="text/javascript">
       $("#logonButton").click(function () {
           
           submitForm();
       });

       function submitForm() {
           $("#logon").submit();
       }
</script>