@{
    ViewBag.Title = @Resources.Resource.home;
}

<div class="box-cart" style="margin-top: 30px;">
    <table cellpadding="0" cellspacing="0" class="pricing">
        <tr>
        <th>@Resources.Resource.HotelName</th>
        <th>@Resources.Resource.RoomType</th>
        <th>@Resources.Resource.fromDate</th>
        <th>@Resources.Resource.toDate</th>
        <th>@Resources.Resource.numberOfDate</th>
        <th>@Resources.Resource.quantity</th>
        <th>@Resources.Resource.PriceHotel</th>
        <th>@Resources.Resource.vat</th>
        <th>@Resources.Resource.amount</th>
       
        <th></th>
    </tr>
       @{
           int numberofCart = int.Parse(ViewData["NumberCartItem"].ToString());
           decimal? totalMoney = 0;   
        }
    @foreach (var item in Model)
    {
        totalMoney += item.Subtotal;
        <tr>
            <td>
            @item.Prod.Availability.Hotel.Name
        </td>
        <td>
            @item.Prod.Availability.RoomType.Name
            
        </td>
        <td>
            @item.FromDate
           
        </td>
        <td>
            @item.ToDate
           
        </td>
         <td>
            @item.TotalDate
           
        </td>
            <td>
            
            @item.NoRoom
           
        </td>
        <td>
            
            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", @item.Prod.Availability.Price)
           
        </td>
        <td>
            10%
            
        </td>
        <td>          
            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", @item.Subtotal)
        </td>
        <td>
            @Html.ActionLink(" ", "RemoveShoppingCart", "ShoppingCart", new { idbooking = @item.Prod.Availability.AvailabilityId }, new { style = "background: url('" + Url.Content("~/images/deletecart.gif") + "') no-repeat center right; display:block;  height: 17px; width: 16px;" })                                                                                                        
            
        </td>
        </tr>
    }
</table>
    <table cellpadding="0" cellspacing="0" class="pricing">
@*<tr>
<td colspan="3">
NHẬP MÃ SỐ ƯU ĐÃI
</td>
</tr>*@
<tr>
@*<td>
Đăng ký nhận mã ưu đãi
</td>*@
<td>
@Resources.Resource.totalPayment
</td>
<td>
 <b>@string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", @totalMoney)</b>
</td>
</tr>
<tr>
<td colspan="3">
@Html.ActionLink(@Resources.Resource.pay, "", "Payment", null, new { @class = "botton", id = "pamentButton" })
</td>
</tr>
</table>
</div>
 <div id="messageinfoCart" title="Thông tin" style="display:none">
              <p id>
                <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0; "></span>
                    @Resources.Resource.noItemsInCart
              </p>
             
            </div>
 <script type="text/javascript">
     $().ready(function () {
         $("#pamentButton").click(function (e) {             
             if ('@numberofCart' == 0) {
                 $("#messageinfoCart").dialog("open");
                 e.preventDefault();
                 return;
             }
         });
         $("#messageinfoCart").dialog({
             autoOpen: false,
             modal: true,
             buttons: {
                 Ok: function () {
                     $(this).dialog("close");
                 }
             }
         });

     });
       </script>  