@model PhimHang.Models.StockRealTime
<div class="cp-banner">
    <div class="cp-top">
        <span>@ViewBag.StockCode </span> <br />        
        
        @{
            if (Model.Diff == 0)
            {
                <span class="NoChangeTicker cp-index">
                    @decimal.Round(@Model.FinishPrice, 1) (@Model.DiffRate%)
                </span>
            }
            else if (Model.Diff > 0)
            {
                <span class="bullishTicker cp-index">
                    @decimal.Round(@Model.FinishPrice, 1) (@Model.DiffRate%)
                </span>
            }
            else
            {
                <span class="bearishTicker cp-index">
                    @decimal.Round(@Model.FinishPrice, 1) (@Model.DiffRate%)
                </span>
            }
        }

    </div>
    <div class="cp-detail clear">
        <h4>@ViewBag.StockName</h4>
        <div class="cp-detail-sub">
            <div class="f-left">
                <div style="margin-top: 5px;margin-bottom:5px"><b>Bài Phím:</b> @ViewBag.PostNumber</div>
                <div><b>Được theo dõi:</b> @ViewBag.StockFollowNumber</div>
            </div>
            <div class="cp-detail-sub-fl f-right">                
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        if (ViewBag.CheckStockExist == "Y")
                        {
                            <a href="#" class="button-flow"><i class="fa fa-minus"></i>Đang theo dõi</a>
                        }
                        else
                        {
                            <a href="#" class="button-flow"><i class="fa fa-plus"></i>Theo dõi</a>
                        }
                        @Scripts.Render("~/bundles/FollowStock") 
                    }
                    else
                    {
                        <a href="/Account/Login?ReturnUrl=/Ticker/@ViewBag.StockCode" class="button-flow"><i class="fa fa-plus"></i>Theo dõi</a>

                    }                    
                }
                
            </div>
        </div>
    </div>
</div>

