@model PhimHang.Models.UserLogin
@*<div class="top-menu-2">
    <div class="area-left"></div>
    <div class="area-center">
        <div class="category-top">
            <a href="/user/@Model.UserNameCopy/tab/1" class="category-tab category-tab-active">
                <span>
                    <span class="category-tab-name">Bài phím</span>
                    <span class="strong">@ViewBag.TotalPost</span>
                </span>
            </a>
            <a href="/user/@Model.UserNameCopy/tab/2" class="category-tab" style="width: 130px;">
                <span>
                    <span class="category-tab-name">Danh mục đầu tư</span>
                    <span class="strong">@ViewBag.followStock</span>
                </span>
            </a>
            <a href="/user/@Model.UserNameCopy/tab/3" class="category-tab">
                <span>
                    <span class="category-tab-name">Theo dõi</span>
                    <span class="strong">@ViewBag.Follow</span>
                </span>
            </a>
            <a href="/user/@Model.UserNameCopy/tab/4" class="category-tab">
                <span>
                    <span class="category-tab-name">Được theo dõi</span>
                    <span class="strong">@ViewBag.Follower</span>
                </span>
            </a>
        </div>
    </div>
    <div class="area-right">
        <div class="btn-right-top">
            <a href="#" class="button-flow"><i class="fa fa-plus"></i>Theo dõi</a>
        </div>
    </div>
</div>*@

<div class="area-left"></div>
<div class="area-center">
    <div class="category-top">
        <a href="/user/@ViewBag.UserName/tab/1" id="tab-baiphim" class="category-tab category-tab-active">
            <span>
                <span class="category-tab-name">Bài phím</span>
                <span class="strong">@ViewBag.TotalPost</span>
            </span>
        </a>
        <a href="/user/@ViewBag.UserName/tab/2" id="tab-DauTu" class="category-tab" style="width: 130px;">
            <span>
                <span class="category-tab-name">Danh mục đầu tư</span>
                <span class="strong">@ViewBag.followStock</span>
            </span>
        </a>
        <a href="/user/@ViewBag.UserName/tab/3" id="tab-TheoDoi" class="category-tab">
            <span>
                <span class="category-tab-name">Theo dõi</span>
                <span class="strong">@ViewBag.Follow</span>
            </span>
        </a>
        <a href="/user/@ViewBag.UserName/tab/4" id="tab-DuocTheoDoi" class="category-tab">
            <span>
                <span class="category-tab-name">Được theo dõi</span>
                <span class="strong">@ViewBag.Follower</span>
            </span>
        </a>
    </div>
</div>
<div class="area-right">
    <div class="btn-right-top">
        @*<a href="#" class="button-flow"><i class="fa fa-plus"></i>Theo dõi</a>*@
        @{
            if (User.Identity.IsAuthenticated)
            {
                if (ViewBag.CheckUserExist == "E")
                {
                    
                }
                else if (ViewBag.CheckUserExist == "Y")
                {
                    <a href="#" class="button-flow"><i class="fa fa-minus"></i>Đang theo dõi</a>
                }
                else
                {
                    <a href="#" class="button-flow"><i class="fa fa-plus"></i>Theo dõi</a>
                }
            }
            else
            {
                <a href="/Account/Login?ReturnUrl=/user/@ViewBag.UserName/tab/1" class="button-flow"><i class="fa fa-plus"></i>Theo dõi</a>

            }
}
    </div>
</div>
   
<script type="text/javascript">
        $(document).ready(function () {
            $(".button-flow").click(function () {
                var userid = '@ViewBag.UserId';
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '@Url.Action("CreateUserFollow", "FollowStock")',
                    data: { userid: userid },
                    beforeSend: function (xhr) {
                        //Add your image loader here

                    },
                    success: function (data) {
                        if (data == "A") {
                            alert('Theo dõi người này thành công');
                            $(".button-flow").html("<i class='fa fa-minus'></i>Đang theo dõi");
                        }
                        else if (data == "R") {
                            alert('Đã loại khỏi danh mục theo dõi thành công');
                            $(".button-flow").html("<i class='fa fa-plus'></i>Theo dõi");
                        } else {
                            alert('Lỗi');
                        }
                    }
                })
            });
        });
</script>