@model PhimHang.Models.UserLogin

<div class="user-info2">
    <div class="user-profile">
        <div class="user-img-2">
            <img src="@ViewBag.AvataImageUrlCurrent?width=98&height=98&mode=crop" alt="cover">
        </div>
    </div>
    <div class="user-name2">
        @Model.FullName   
        
    </div>
    
    <div class="user-info-detail">
        <div class="user-info-intro">
            <div title="Cập nhật trong hồ sơ cá nhân của bạn"><b>STATUS</b></div>
            <hr />
            @{
                if (string.IsNullOrEmpty(Model.Status))
                {
                    @: ...
                }
                else
                {
                    @: @Model.Status
                }
            }
        </div>
        <div>
            <i class="fa fa-map-marker"></i>&nbsp;Trường phái đầu tư:
            @{
                if (Model.PhilosophyMarket != null)
                {
                    @: @Model.Philosophy.PhilosophyName
            }
                else
                {
                    @: ...
            }
            }
        </div>
        <div>
            <i class="fa fa-map-marker"></i> &nbsp;Nghề nghiệp:
            @{
                if (Model.JobTitle != null)
                {
                    @: @Model.JobTitile.JobName
                }
                else
                {
                    @: ...
                }
            }
        </div>
        <div>
            <i class="fa fa-unlink"></i> Kinh nghiệm chứng trường:
            @{

                if (Model.NumberExMarketYear != null)
                {
                    @:@Model.NumberExMarketYear năm
                }
                else
                {
                    @: ...
                }
            }
        </div>
        <div><i class="fa fa-clock-o"></i> Giới thiệu bản thân</div>
        <div class="user-info-intro">
            @{
                if (string.IsNullOrEmpty(Model.CVInfo))
                {
                    @: ...
                }
                else
                {
                    @: @Model.CVInfo
                }
            }
        </div>
        <div class="user-info-mypage">
            <p><i class="fa fa-home"></i> Homepage:</p>
            @{
                if (!string.IsNullOrEmpty(Model.URLFacebook))
                {
                    @: <a target="_blank" href="https://@Model.URLFacebook.Replace("https://", "").Replace("http://", "").Replace("www.", "")">@Model.URLFacebook</a>    
                }
                else
                {
                    @:...
                }
                
            }
        </div>
        <div class="user-info-mypage">
            <div style="float: left; overflow: hidden" class="fb-like" data-href="@Request.Url.AbsoluteUri" data-colorscheme='dark' data-layout='button_count' data-action='like' data-show-faces='true' data-share='true'></div>
        </div>
    </div>
</div>
          