@using PhimHang.Models;

@model ApplicationUser
<div class="user-info">
    <div class="cover-img">
        <img src="@ViewBag.CoverImage?width=280&height=91&mode=crop" alt="cover">
    </div>
    <div class="user-profile">
        <div class="user-img">
            <img src="@ViewBag.AvataEmage?width=62&height=62&mode=crop" alt="cover">
        </div>
        <div class="user-name">
            <a href="/@ViewBag.UserName"> @Model.UserExtentLogin.FullName.ToUpper() </a>
            <i class="fa  fa-check-circle">&nbsp;</i> <br />
            <a style="font-size: 1.4rem;color: #328AC5; text-decoration: none; font-weight:normal " href="/@ViewBag.UserName">@Html.Raw("@")@ViewBag.UserName</a>
        </div>
    </div>
    <div class="user-sumary-info">
        <span>
            Bài Phím<br>
            <a href="/@ViewBag.UserName">@ViewBag.TotalPost </a>
        </span>
        <span>
            Theo dõi<br>
            <a href="/@ViewBag.UserName/followers">@ViewBag.Follow</a>
        </span>
        <span>
            Được theo dõi<br>
            <a href="/@ViewBag.UserName/following">@ViewBag.Follower</a>
        </span>
    </div>
</div>  