
@{
    ViewBag.Title = "MessagesCenter";
    Layout = "~/Views/Shared/_Layout_MyProfile.cshtml";
}

@section scripts{
    <script src="~/Scripts/jquery.timeago.js"></script>
    <script src="~/ThemeBlue/js/Extention.js"></script>
}

<div id="CommentForKoLoad">
    <div class="area-center">        
        <input type="hidden" id="HiddentCureentUserId" value='@ViewBag.CureentUserId' />
        @*<input type="hidden" id="HiddentUserName" value='@ViewBag.UserName' />
        <input type="hidden" id="HiddentAvataEmage" value='@ViewBag.AvataEmage' />*@
        <div class="bg-white" style="padding-top: 10px; padding-bottom: 3px;">
            <div class="filer-bar">                
                <div class="toSpan filer-bar-item"> <a href="#" class="active">Trung tâm tin nhắn</a> </div>                
            </div>
            <div class="ajaxLoadingInit" style="text-align:center"><img src="~/images/ajax-loader_cungphim.gif" /></div>
        </div>

        <div class="list-status">
            <!--pin ma co phieu o day-->            
            <!---->         
            <div data-bind="foreach : posts">
                <div class="bg-white" data-bind=" attr : { style : XemYN > 0 ? 'Background-color:#ECF2F5' : ''  }">
                    <div class="list-item-status" tabindex="-1" data-bind=" click: function(data, event) { $parent.detailPost(data, event); }">
                        @*click: function(data, event) { $parent.detailPost; event.stopPropagation(); }*@
                        <div class="avata-genaral-size">
                            <img data-bind="attr: { src: PostedByAvatar }" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">
                            <div class="list-item-date" data-bind="text : PostedDate"></div>
                            <div class="list-item-username" style="width:0%">
                                <a style="cursor:pointer" onclick='selectMe(event,"#")' data-bind="attr : { href : '/' + PostedByName }, text : PostedByName"></a>
                            </div>
                            <span data-bind="html : Stm"></span>
                            <div class="list-item-status-content" data-bind="html : Message"></div>
                            <div class="list-item-control">
                                @*<a style="border-color:transparent; background-color:transparent" class="button" href="#"><i data-bind="text :notification, visible: notification() > 0" class="fa fa-comments"></i></a>*@
                                @*<span class="StarRedNew">
                            <i class="fa fa-star-o" data-bind="visible: XemYN > 0"></i>
                        </span>*@
                                <a class="button btn-answer" href="#" title="Trả lời">Trả lời</a>
                                <a class="button" href="#" style="cursor:text" data-bind="visible: SumReply() > 0" title="Tổng số trả lời"><i title="Tổng số trả lời" class="fa fa-comments" data-bind=" text : SumReply"></i></a>  
                                <span class="likeAndPin" style="">

                                    <span data-bind="text : SumLike, visible : SumLike() > 0 "></span>
                                    <button class="fa fa-thumbs-o-up" data-bind=" click : function(data, event) { $parent.AddLike(data, event) ;   } , attr : {id : 'PostId' + PostId} , enable : DiableLike"></button>
                                    <!--click like thi doi class thanh fa fa-thumbs-o-up-->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ajaxLoadingImage" style="text-align:center"></div>
    </div>

    <!--post detail & reply-->
    <div id="dialog" title="Basic dialog">
        <div class="bg-white open">
            <div class="list-item-status" tabindex="-1">
                <div class="avata-genaral-size">
                    <img id="idImgPostDetail" class="img-rounded" alt="avatar">
                </div>
                <div class="list-item-detail">
                    <div class="list-item-date" id="idPostedDateDetail"></div>
                    <div onclick='selectMe(event,"#")' class="list-item-username" style="width:0%">
                        <div id="idPostNameDetail"></div>

                    </div>
                    <span id="idStmDetail"></span>
                    <div class="list-item-status-content" id="idPostMessenge"></div>

                </div>
            </div>
            <div style="display: block;" class="list-comment">
                <div class="comment-item">
                    <div class="avata-genaral-size">
                        <img style="left:15px" src="@ViewBag.AvataEmage?width=35&height=35&mode=crop" class="img-rounded" alt="avatar">
                    </div>
                    <div id="input-comment" class="input-status">
                        <form name="frmComment">

                            <div class="input-status-text">
                                <textarea data-bind="value : newReply, valueUpdate : 'afterkeydown' , limitCharacters : 140" class="status-cm" id="comment-text" name="comment" rows="5" placeholder="Nhập trả lời ở đây" title="Search" autocomplete="off"></textarea>
                            </div>
                            <div class="status-control">
                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <div id="btnPhim" class="f-right">
                                            <span data-bind="text : countReply"></span>
                                            <button id="btAddPost" style="cursor:pointer" class="button-phim" data-bind=" enable: enablePhimHangReply , click : addReply ">Trả lời</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="btnPhim" class="f-right">
                                            <a class="logoutbutton" href="/Account/Register?ReturnUrl=/@ViewBag.UserName">REGISTER</a>
                                            <a class="logoutbutton" href="/Account/Login?ReturnUrl=/@ViewBag.UserName">LOGIN</a>
                                        </div>
                                    }
                                }

                            </div>
                        </form>
                    </div>
                </div>
                <div class="scroll-div">
                    <div data-bind="foreach : replys">
                        <div class="comment-item">
                            <div class="avata-genaral-size">
                                <img data-bind="attr: { src: ReplyByAvatar },click : function() {  location.href='/' + ReplyByName  }" class="img-rounded" alt="avatar">
                            </div>
                            <div class="list-item-detail">
                                <div class="list-item-date" data-bind="text : ReplyDate"></div>
                                <div class="list-item-username">
                                    <a style="cursor:pointer" data-bind="attr : { href : '/' + ReplyByName  }, text : ReplyByName"></a>
                                </div>
                                <div class="list-item-status-content" data-bind="html: ReplyMessage"></div>
                                <div class="list-item-control-cm">
                                    <a class="button f-right" href="#" title="Vi phạm">Vi phạm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-loadmore">
                    <a id="IdLoadMoreConversation" href="#" target="_blank">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- gia co phieu real time-->
<!-- Comment-->
@Scripts.Render("~/bundles/MessagesCenter")
