<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <!--Jquery-->
    @Scripts.Render("~/bundles/standardCoreRT") 
    <!---->
    <!--For desgin layout-->

   @Styles.Render("~/bundles/StyleStandard")  
    <!--for chart-->
    <link href="~/ThemeBlue/css/chart.css" rel="stylesheet" type="text/css">
    <!--End-->
    <link href="~/ThemeBlue/css/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/ThemeBlue/css/jquery.dropdown.css" rel="stylesheet">  
    <script src="~/ThemeBlue/js/jquery.dropdown.js"></script>
    <script src="~/ThemeBlue/js/action.js"></script>
    <script src="~/ThemeBlue/js/action2.js"></script>

    <!-- End For desgin-->
    <link href="~/ThemeBlue/css/Notification.css" rel="stylesheet" />
    <link href="~/ThemeBlue/css/newstyle2.css" rel="stylesheet" />
    <!-- Objects of facebook-->
    

    <meta property="fb:app_id" content="934180333272963" />
    <meta property="og:type" content="business.business" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:title" content="Trang nhà tại cùng phím của @ViewBag.UserName" />
    <meta property="og:image" content="@ViewBag.AbsolutePathHostName@ViewBag.AvataImageUrlCurrent?width=98&height=98&mode=crop" />
    <meta property="og:description" content="Trang nhà tại cùng phím" />
    <meta property="business:contact_data:street_address" content="117 nguyễn Du" />
    <meta property="business:contact_data:locality" content="Bến Thành" />
    <meta property="business:contact_data:postal_code" content="Quận 1" />
    <meta property="business:contact_data:country_name" content="Việt Nam" />
    <!-- Objects of facebook-->
</head>
<body style="background-color: #f5f8fa;">    
   
    @*<script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=934180333272963&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>*@

    <!--facebook plugin-->
    <div class="NotificationCenter">
        <span id="textNoti"></span>
    </div>
    <!--Top banner -->
    <div id="top-banner" class="w100p bg-blue">
        <div class="content-main-top">
            <div class="f-left" id="top-banner-left">
                <div class="toSpan f-left">
                    @Html.Partial("_Partial_Area_Search_Profile")
                </div>
            </div>
            <div class="f-left" id='top-center'>
                @Html.Partial("_Partial_Area_Logo")
            </div>
            <div class="f-right" id="top-banner-right">
                <div class="toSpan top-banner-icon f-right">
                    @Html.Partial("_Partial_Area_Menu_Right")
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Partial("_Partial_Area_Right_User_Info")
                }
            </div>
        </div>
    </div>
    <!---->
    <!--Top Menu -->
    <div class="menu-top-bar">
        <div class="top-menu-2 top-menu-2-custom">
            <a href="/ThiTruong?g=HOTSTOCK" class="link-menu-top-active bold hidden-xs-button">
                Cổ phiếu nóng
            </a>
            <ul class="nav navbar-nav top-panel-left2">
                @Html.Partial("_Partial_HotStock")
            </ul>
            <ul class="nav navbar-nav pull-right top-panel-right2">
                @Html.Partial("_Partial_Area_Index")
            </ul>
            <a href="/ThiTruong?g=A" class="link-menu-top-active bold hidden-xs-button2">
                Toàn thị trường
            </a>
        </div>
    </div>
    <div class="cover-div">
        @Html.Partial("_Partial_Area_Cover_User")
    </div>    
    <!---->
    <div>
        @*<div style="margin-top:0px;">*@
            <div class="menu-top-bar2">
                <div class="top-menu-2">
                    @Html.Partial("_Partial_Area_MenuBar_User")
                </div>
            </div>
            <div class="content-main" style="margin-top: 0px;">
                <div class="area-left">
                    @Html.Partial("_Partial_Area_Left_User")
                </div>
                <div class="area-center">
                    @RenderBody()
                </div>
                <div id="areaRandomProBrokerId" class="area-right">
                    @*@Html.Partial("_Partial_Area_Right_User1", ViewData["DanPhimRandom"])*@
                    <img src="/img/uploading.gif" /> Loading ... 
                </div>
                <script>                   
                    $(document).ready(function () {                        
                        $("#areaRandomProBrokerId").load('/user/RandomProBroker');
                    })
                </script>
            </div>
        </div>
    @*</div>*@
    
    @RenderSection("scripts", required: false)
    <!--facebook plugin-->
    @*<script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '934180333272963',
                xfbml: true,
                version: 'v2.2'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>*@
</body>
</html>


