<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <!--Jquery-->
   
    <!---->   
    <!--Knockout for refesh ui-->
    @Scripts.Render("~/bundles/standardCoreRT") @*mã hóa làm cho khó đoc*@
    @*<script src="~/signalr/hubs"></script> đã có trong standardCoreRT
        Neu sau nay them ham trong proxy phai cap nhat lai SignalHubproxy*@ 
    <!---->
    <!--For desgin layout-->
    <!--for chart-->
    <link href="~/ThemeBlue/css/chart.css" rel="stylesheet" type="text/css">
    <!--End-->
    <link href="~/ThemeBlue/css/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/ThemeBlue/css/jquery.dropdown.css" rel="stylesheet">
    @Styles.Render("~/bundles/StyleStandard")          @* mã hóa làm cho khó đoc-->    *@    
    <script src="~/ThemeBlue/js/jquery.dropdown.js"></script>   
    <script src="~/ThemeBlue/js/action.js"></script>
    <script src="~/ThemeBlue/js/action2.js"></script>
    
    <!-- End For desgin-->
    <link href="~/ThemeBlue/css/Notification.css" rel="stylesheet" />
    <!-- Objects of facebook-->
    <meta property="fb:app_id" content="934180333272963" />
    <meta property="og:type" content="article" />    
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />  
    <meta property="og:title" content="Các bài viết mới nhất về mã cổ phiếu @ViewBag.StockCode tại phochungkhoan.com" />
    <meta property="og:image" content="@ViewBag.AbsolutePathHostName/images/LOGO/Ticker_@ViewBag.StockCode@ViewBag.ImgEx" />
    <meta property="og:description" content="@ViewBag.StockCode @ViewBag.StockName" />
   
    <!-- Objects of facebook-->
</head>
<body style="background: url('/img/bg.png');">
    <div class="NotificationCenter">
        <span id="textNoti"></span>
    </div>
    <!--Top banner -->
    <div id="top-banner" class="w100p bg-blue">
        <div class="content-main-top">
            <div class="f-left" id="top-banner-left">
                <div class="toSpan f-left">
                    @Html.Partial("_Partial_Area_Search_Profile")
                </div>
            </div>
            <div class="f-left" id='top-center'>
                @Html.Partial("_Partial_Area_Logo")
            </div>
            <div class="f-right" id="top-banner-right">
                <div class="toSpan top-banner-icon f-right">
                    @Html.Partial("_Partial_Area_Menu_Right")<!--facebook plugin here-->
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Partial("_Partial_Area_Right_User_Info")
                }
                else
                {
                    @Html.Partial("_Partial_Area_Menu_Reposive")
                }
            </div>
        </div>
    </div>
    <!---->
    <!--Top Menu -->
    <div class="menu-top-bar">
        <div class="top-menu-2 top-menu-2-custom">
            <a href="/ThiTruong?g=HOTSTOCK" class="link-menu-top-active bold hidden-xs-button">
                Cổ phiếu nóng
            </a>
            <ul class="nav navbar-nav top-panel-left2">
                @Html.Partial("_Partial_HotStock")
            </ul>
            <ul class="nav navbar-nav pull-right top-panel-right2">
                @Html.Partial("_Partial_Area_Index")
            </ul>
            <a href="/ThiTruong?g=A" class="link-menu-top-active bold hidden-xs-button2">
                Toàn thị trường
            </a>
        </div>
    </div>

    <!---->
    <div class="content-main content-main2">
        <div class="area-left">
            @Html.Partial("_Partial_Area_Left_Stock_Ticker")
        </div>

        @RenderBody()
        <div class="area-right">
            <div class="banner-right-first" style="padding: 0px; border-radius: 5px; background-color: #F8F8F8;">
                @Html.Partial("_Partial_Area_Right_Stock_Ticker")
            </div>
            <div class="banner-info">
                <div>
                    <a href="/gioithieu">Giới thiệu</a>
                    <a href="/quydinh">Quy định</a>
                    <a href="/huongdansudung">Trợ giúp</a>
                    <a href="/lienhe">Liên hệ</a>
                </div>
                <p>
                    Bản quyền thuộc về Phố chứng khoán<br>
                    Copyright © phochungkhoan.com
                </p>
            </div>
        </div>
    </div>


    @Html.Partial("_Partial_Area_MenuReposive")
    @RenderSection("scripts", required: false)
   
</body>

</html>
