@model PhimHang.Models.UserLogin
@{
    ViewBag.Title = "Cập nhật tài khoản: " + Model.UserNameCopy;
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<h2>
    Chi tiết và cập nhật tài khoản: @Model.UserNameCopy
</h2>

<div id="example_length" class="dataTables_length1">
    <table class="form">
        <tr>
            <td class="col1"><label> Tên đăng nhập:</label></td>
            <td class="col2">
                <input type="text" id="grumble" name="StockCode" value="@Model.UserNameCopy" disabled />                
            </td>

        </tr>
        <tr>
            <td class="col1"><label> Tên người dùng:</label></td>
            <td class="col2">
                <input type="text" id="grumble" name="StockCode" value="@Model.FullName" disabled />
            </td>

        </tr>
        <tr>
            <td class="col1"><label> Ngày sinh:</label></td>
            <td class="col2">
                <input type="text" id="grumble" name="StockCode" value="@Model.BirthDate" disabled />
            </td>

        </tr>
        <tr>
            <td class="col1"><label> Di động:</label></td>
            <td class="col2">
                <input type="text" id="grumble" name="StockCode" value="@Model.Mobile" disabled />
            </td>

        </tr>
        <tr>
            <td class="col1"><label> Email:</label></td>
            <td class="col2">
                <input type="text" id="grumble" name="StockCode" value="@Model.Email" disabled />
            </td>

        </tr>
        <tr>
            <td class="col1"><label> Ngày tạo:</label></td>
            <td class="col2">
                <input type="text" id="grumble" name="StockCode" value="@Model.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")" disabled />
            </td>

        </tr>
        @*<tr>
            <td class="col1"><label> Lock/Unlock:</label></td>
            <td class="col2">
                <input type="text" id="grumble" name="StockCode" value="@Model.LockAccount" disabled />
            </td>

        </tr>*@
        <tr>
            <td class="col1" style="vertical-align: top;"><label>Status:</label></td>
            <td class="col2">
                @Html.Raw(@Model.Status)
            </td>
        </tr>
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
        <tr>
            <td class="col1"><label> Môi giới VIP:</label></td>
            <td class="col2">
                @Html.DropDownList("typeBroker", @ViewBag.listTypeBroker as SelectList, new { @name = "typeBroker" })
            </td>

        </tr>
    
        <tr>
            <td>                
            </td>
            <td>
                <input onclick="return confirm('Cập nhật tài khoản?');" type="submit" value="Cập nhật" class="btn btn-default" /> |
                <a style="color: #328AC5" href="@ViewBag.linkAbsolutePath">Back/Cancel</a>
            </td>
        </tr>
    }
    </table>
    

        @*<div class="form-actions no-color">
            <input onclick="return confirm('Cập nhật tài khoản?');" type="submit" value="Cập nhật" class="btn btn-default" /> |
            <a style="color: #328AC5" href="@ViewBag.linkAbsolutePath">Back/Cancel</a>
        </div>*@
    
</div>
<br />