@model IEnumerable<ShareHolderCore.Domain.Model.HotelExtent>

@{
    ViewBag.Title = "Xin chào bạn đến quản trị Aquila";
}
<div id="content">

            <h2><span>Danh sách thông tin khách sạn</span></h2>

            <!-- tab -->
            <ul id="tab">
                <li class="Active"><span>@string.Format("Tổng cộng {0} khách sạn", 20)</span></li>
            </ul>
            <!-- tab.end -->

            <!-- panel -->
            <div class="Panel">

                <!-- functions -->
                <ul class="Functions">
                    <li>@Html.ActionLink("New", "Create", "Hotel")</li>
                    <li><a href="#" title="Delete" name="deleteHotelLink"  class="deleteHotelLink">Delete</a></li>
                    <li><a href="#" title="View">View</a></li>
                    <li>
                        <span>Actions</span>
                        <ul>
                            <li><a href="#" title="Approve property">Approve property</a></li>
                            <li><a href="#" title="View facilities">View facilities</a></li>
                            <li>
                                <span>Translation</span>
                                <ul>
                                    <li><a href="#" title="Tiếng Việt">Tiếng Việt</a></li>
                                    <li><a href="#" title="French">French</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- functions.end -->

                <!-- pager -->
                <ul class="Pager">
                    <li class="RangePrevious"><a href="#" title="Previous range">&lt;&lt;</a></li>
                    <li class="Previous"><a href="#" title="Previous">&lt;</a></li>
                    <li><span>1</span></li>
                    <li><a href="#" title="2">2</a></li>
                    <li><a href="#" title="3">3</a></li>
                    <li><a href="#" title="4">4</a></li>
                    <li><a href="#" title="5">5</a></li>
                    <li><a href="#" title="6">6</a></li>
                    <li><a href="#" title="7">7</a></li>
                    <li><a href="#" title="8">8</a></li>
                    <li><a href="#" title="9">9</a></li>
                    <li class="Next"><a href="#" title="Next">&gt;</a></li>
                    <li class="RangeNext"><a href="#" title="Next range">&gt;&gt;</a></li>
                </ul>
                <!-- pager.end -->

            </div>
            <!-- panel.end -->

            <!-- mainContent -->
            <div id="mainContent">
                <fieldset>
                    <div class="Filter">
                        <label for="property">Filter:</label>
                        <select id="property" name="property" class="Medium">
                            <option>Property</option>
                        </select>
                        <a rel="shadowbox?width=619;height=218" href="#newFilter" title="New">New</a>
                        <a href="#" title="Delete" onclick="messageBox(); return false;">Delete</a>
                        <a href="#" title="Edit">Edit</a>
                    </div>

                    <!-- filter -->
                    <div id="newFilter">
                        <div id="filter">
                            <h3><span>Define your filter</span></h3>
                            <fieldset>
                                <div>
                                    <label for="keyword">Description:</label>
                                    <input type="text" id="keyword" name="keyword" class="TextInput2" />
                                </div>
                                <ul>
                                    <li>
                                        <select id="description" name="description" class="DropDown1">
                                            <option>Description</option>
                                        </select>
                                        <select id="operator1" name="operator1" class="DropDown2">
                                            <option>Like</option>
                                            <option>=</option>
                                            <option>&gt;=</option>
                                            <option>&lt;=</option>
                                        </select>
                                        <input type="text" id="keyword1" name="keyword1" class="TextInput1" />
                                        <select id="logical1" name="logical1" class="DropDown2">
                                            <option>Or</option>
                                            <option>And</option>
                                            <option>Not</option>
                                        </select>
                                    </li>
                                    <li>
                                        <select id="price" name="price" class="DropDown1">
                                            <option>Price</option>
                                        </select>
                                        <select id="operator2" name="operator2" class="DropDown2">
                                            <option>Like</option>
                                            <option>=</option>
                                            <option>&gt;=</option>
                                            <option>&lt;=</option>
                                        </select>
                                        <input type="text" id="keyword2" name="keyword2" class="TextInput1" />
                                        <select id="logical2" name="logical2" class="DropDown2">
                                            <option>Or</option>
                                            <option>And</option>
                                            <option>Not</option>
                                        </select>
                                    </li>
                                    <li>
                                        <select id="leased" name="leased" class="DropDown1">
                                            <option>Leased</option>
                                        </select>
                                        <select id="operator3" name="operator3" class="DropDown2">
                                            <option>Like</option>
                                            <option>=</option>
                                            <option>&gt;=</option>
                                            <option>&lt;=</option>
                                        </select>
                                        <input type="text" id="keyword3" name="keyword3" class="TextInput1" />
                                        <select id="logical3" name="logical3" class="DropDown2">
                                            <option>Or</option>
                                            <option>And</option>
                                            <option>Not</option>
                                        </select>
                                    </li>
                                </ul>
                                <div class="Submit">
                                    <span class="Button"><span><input type="submit" value="Search" /></span></span>
                                    <span class="Button"><span><input type="button" value="Save and Close" /></span></span>
                                    <span class="Button"><span><input type="button" value="Close" /></span></span>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!-- filter.end -->

                    <div class="Table">
                        <table cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Photos</th>
                                    <th>Description</th>
                                    <th>Price <img src="images/ico-sort-down.gif" alt="Down" /></th>
                                    <th>Star</th>
                                    
                                    <th>Facility<img src="images/ico-sort-up.gif" alt="Up" /></th>
                                    <th>Status</th>
                                    <th>Order</th>
                                    <th>Order #</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {                                
                           
                                <tr>
                                    <td><input type="checkbox" class="Checkbox" id="checkBoxDeltelHotel" name="checkBoxDeltelHotel" value="@item.HotelId" /></td>                                    
                                    <td><img class="imageHotel" src="../../images/Hotel/@item.ImagePath" alt="Image @item.Name" /></td>
                                    <td class="Desc">
                                        <h3>@Html.ActionLink(@item.Name, "Edit_Detail_Hotel", "Home", new {  idhotel = @item.HotelId }, null)</h3>
                                        <p>@AquilaAd.Utils.TinyAddress(@item.HotelAddress)@*<br />*@
                                        @*@item.Province.Name*@</p>
                                    </td>
                                    <td>@string.Format("{0,0:N0}", @item.price)</td>
                                    <td>@item.Star</td>
                                    <td>@AquilaAd.Utils.CountFacilityOfHotel(@item.HotelId)</td>
                                    
                                    <td><img src="../../images/ico-status-active.gif" alt="Active" /></td>
                                    <td><a href="#" title="Down"><img src="../../images/ico-order-down.gif" alt="Down" /></a></td>
                                    <td><input type="text" value="12345" class="Tiny" /></td>                                    
                                    <td>@Html.Raw(@Html.ActionLink("[replacetext]", "Edit_Detail_Hotel", "Home", new { idhotel = @item.HotelId }, null).ToHtmlString().Replace("[replacetext]", "<img src=\"../../images/ico-edit.gif\" ... />")) </td>                                     
                                </tr>
                            } 
                                
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
            <!-- mainContent.end -->

            <!-- panel -->
            <div class="Panel">

                <!-- functions -->
                <ul class="Functions">
                    <li>@Html.ActionLink("New", "Create", "Hotel")</li>
                     <li><a href="#" title="Delete" name="deleteHotelLink"  class="deleteHotelLink">Delete</a></li>
                    <li><a href="#" title="View">View</a></li>
                    <li>
                        <span>Actions</span>
                        <ul>
                            <li><a href="#" title="Approve property">Approve property</a></li>
                            <li><a href="#" title="View facilities">View facilities</a></li>
                            <li>
                                <span>Translation</span>
                                <ul>
                                    <li><a href="#" title="Tiếng Việt">Tiếng Việt</a></li>
                                    <li><a href="#" title="French">French</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- functions.end -->

                <!-- pager -->
                <ul class="Pager">
                    <li class="RangePrevious"><a href="#" title="Previous range">&lt;&lt;</a></li>
                    <li class="Previous"><a href="#" title="Previous">&lt;</a></li>
                    <li><span>1</span></li>
                    <li><a href="#" title="2">2</a></li>
                    <li><a href="#" title="3">3</a></li>
                    <li><a href="#" title="4">4</a></li>
                    <li><a href="#" title="5">5</a></li>
                    <li><a href="#" title="6">6</a></li>
                    <li><a href="#" title="7">7</a></li>
                    <li><a href="#" title="8">8</a></li>
                    <li><a href="#" title="9">9</a></li>
                    <li class="Next"><a href="#" title="Next">&gt;</a></li>
                    <li class="RangeNext"><a href="#" title="Next range">&gt;&gt;</a></li>
                </ul>
                <!-- pager.end -->

            </div>
            <!-- panel.end -->

        </div>

<script type="text/javascript">


    $().ready(function () {
        $(".deleteHotelLink").click(function (e) {
            var selected = "";
            $("input:checkbox[name=checkBoxDeltelHotel]:checked").each(function () {
                //            selected.push($(this).val());
                selected = selected + ";" + $(this).val()
            });
            url = '@Url.Action("Delete")';
            //alert(url);
            $.ajax({
                type: 'POST',
                url: url,
                data: { "id": selected },
                success: function () { }
            });

            //window.location.reload(true);
        });
    });

</script>