<link href="../../Content/style-min.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/jquery.form.js" type="text/javascript"></script>

<h3 id="comment">
	@Resources.Resource.review (<label style="margin:0px; padding:0px"> @ViewData["HotelCommentDataCount"] </label>)
	<a id="commenttoggle" style="float:right;width:20px;height:20px;border:1px solid #ccc;text-decoration:none;text-align:center" href="javascript:toggle_visibility('commentlist', 'commenttoggle');">-</a>
</h3>

@Html.Partial("_PartialAjaxCommentList")
<div id="comment-form">
	<div class="commentForm">
		<span id="WanningCommentInput" class="bbcode" title="BBCode tags" style="display:none; "></span>
		<ul id="commentMenu">
			<li id="compose" class="selected" onclick="BlogEngine.composeComment()">@Resources.Resource.yourReview</li>
			
		</ul>
        @using (Ajax.BeginForm("UploadComment", "Book", new AjaxOptions
        {
                                                                        HttpMethod = "post",
                                                                        InsertionMode = InsertionMode.InsertBefore,
                                                                        UpdateTargetId = "commentlist"
                                                                    }, new { id = "SubmitformComment" }))
        {                                                                            
            <input type="hidden" value="@ViewData["hotelIdResearch"]" id="HoteIdComment" name="HoteIdComment"/>
			<div id="commentCompose" style="display: block;">
				<label for="ctl00_cphBody_CommentView1_txtContent" class="lbl-content" style="display:none">Bình luận</label>
                
				    <textarea name="txtContentCommentView" rows="10" cols="50" id="txtContentCommentView" tabindex="7" class="txt-content"></textarea>
               
			</div>
		

		    <p style="text-align:right">
            @{
                if (User.Identity.IsAuthenticated)
                {
			            @:<input type="submit" id="btnSaveAjax" class="InputComment" style="margin-top:10px" value="@Resources.Resource.saveReview" tabindex="10" />
                }
                else
                {
                        @:@Resources.Resource.logonNeeded @Html.ActionLink(@Resources.Resource.logOn, "Logon", "Account", null, new { @class = "langue" }) @Resources.Resource.serviceNeeded
                }

			 }
                
		    </p>
        }
	</div>
</div>
        <div id="messageinDeleteCommnet" title="@Resources.Resource.deleteCommentTitle" style="display:none">
              <p>
                <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0; "></span>
                    @Resources.Resource.deleteCommentYN
              </p>
        </div>
<script type="text/javascrpt">
    function toggle_visibility(id, id2) {
        var e = document.getElementById(id);
        var h = document.getElementById(id2);
        if (e.style.display == 'block') {
            e.style.display = 'none';
            h.innerHTML = "+";
        }
        else {
            e.style.display = 'block';
            h.innerHTML = "-";
            
        }
    }
</script>
   <script type="text/javascript">
       $().ready(function () {
           $("#btnSaveAjax").click(function (e) {

               if ($("#txtContentCommentView").val() == '') {
                   document.getElementById('WanningCommentInput').innerHTML = '@Resources.Resource.reviewValidation';
                   document.getElementById('WanningCommentInput').style.color = 'red';
                   document.getElementById('WanningCommentInput').style.display = 'block';
                   e.preventDefault();
               }
               else {

                   document.getElementById('WanningCommentInput').innerHTML = '@Resources.Resource.saveReviewSuccess';
                   document.getElementById('WanningCommentInput').style.color = 'green';
               }

           });
       });

    </script>       
    
     <script type="text/javascript">
         function deleteComment(commentid) {
             $(function () {
                 $("#messageinDeleteCommnet").dialog({
                     resizable: false,
                     height: 240,
                     modal: true,
                     buttons: {
                         "@Resources.Resource.deleteComment": function () {
                             $.get('@Url.Action("DeleteComment")',{CommentId: commentid}, function (data) {
                                 if (data == "S") {
                                     $("#messageinDeleteCommnet").dialog("close");
                                      document.getElementById('vcard$Comement$Id$' + commentid).style.display = 'none';                                                                           
                                  }
                                  else {
                                      alert('Xóa comment lỗi');
                                  }
                              })    
                         },
                         Cancel: function () {
                             $(this).dialog("close");
                         }
                     }
                 });
             });         
             
             }
         

         </script> 
        @* <script>
             $(function () {
                 $("#messageinDeleteCommnet").dialog({
                     resizable: false,
                     height: 140,
                     modal: true,
                     buttons: {
                         "Delete all items": function () {
                             $(this).dialog("close");
                         },
                         Cancel: function () {
                             $(this).dialog("close");
                         }
                     }
                 });
             });
        </script>*@