@model IEnumerable<ShareHolderCore.Domain.Model.CompareListDetail>

@{
    ViewBag.Title = "Index";
}

<div class="content">
    <div class="left">
        @Html.Partial("_ShortSearchPartial")

    <div class="box box-box">
        @Html.Partial("_CompareListPartial")
    </div><!--box-->

    <div class="box box-box">
    <ul class="menu-left">
    <li><a href="#">Your last viewed hotels</a></li>
    <li><a href="#">Sammy Hotel Dalat</a></li>
    <li><a href="#">Khách sạn Đà Lạt Palace</a></li>
    <li><a href="#">Đà Lạt Eden Lake Resort & Spa</a></li>
    </ul>
    </div><!--box-->

    <div class="box">
    <div class="title">  @Resources.UserInterfaceVN.HelpFromUs</div>
    <ul class="menu-left box-box">
    <li><a href="#">  <strong>3 8494 4484</strong></a></li>
    <li><a href= "@Url.Action("Index", "BookingHistory")" class="botton"> @Resources.UserInterfaceVN.ShortCheckingHotelBooking</a></li>
    </ul>
    <div class="hinh-pro">	
    <img src="../../images/hinh3.jpg" alt="" />
    </div>
    </div><!--box-->

    </div><!--left-->
    <div class="right">

        <div class="box">
            <div class="title"> Sammy Hotel Dalat <img src="../../images/sao.jpg" align="absmiddle"><span class="review">Review 6</span></span></div>
            <div class="text">
                <ul class="line-chay line-review">
                    <li>
                    <img src="../../images/hinh2.jpg" alt="" />
                    <a href="#">phòng 1 giường</a>
                    </li>
                    <li>
                    <img src="../../images/hinh2.jpg " alt="" />
                    <a href="#">phòng 1 giường</a>
                    </li>
                    <li>
                    <img src="../../images/hinh2.jpg" alt="" />
                    <a href="#">phòng 1 giường</a>
                    </li>
                    <li>
                    <img src="../../images/hinh2.jpg" alt="" />
                    <a href="#">phòng 1 giường</a>
                    </li>
                </ul>
            </div>
        </div><!--box-->

    <div class="box">
    <div class="title"> Availability</div>
        <div class="text">
            <table cellpadding="0" cellspacing="0" class="table-re">
                <tr>
                <th>Compare</th>
                <th>Room type</th>
                <th>Max</th>
                <th>Rate</th>
                <th>No. Room</th>
                <th>&nbsp;</th>
                </tr>
                <tr>
                <td><img src="../../images/compare.jpg"  alt=""/></td>
                <td><img src="../../images/hinh2.jpg"  alt="" class="img-bo"/><br />Phòng tiêu chuẩn giường đôi</td>
                <td>4</td>
                <td>3.700.000</td>
                <td><select name="select8" class="select8">
                        <option selected="selected">01 </option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        <option>10</option>
                     </select>
                </td>
                <td><a href="../Book/BookingDetails" class="botton">Book</a></td>
                </tr>

            </table>

        <h3>Description</h3>
        <p>
        Khách sạn Đà Lạt Palace tọa lạc ngay trung tâm Đà Lạt - thành phố hoa với khí hậu ôn đới quanh năm. Khách sạn được thiết kế theo phong cách cổ điển sang trọng của pháp...
        </p>
        </div>
    </div><!--box-->


    <div class="box">
    <div class="title"> Sammy Hotel Dalat <img  alt="" src="../../images/sao.jpg" align="absmiddle" /><span class="review">Review 6</span></div>
    <div class="text">

    <div class="box-check">
    <div class="title-check">CÁC ĐẶC ĐIỂM CỦA KHÁCH SẠN <div class="kiem-check"><span class="co">Có</span><span class="khong">Không</span></div></div>
    <table cellpadding="0" cellspacing="0" class="table-tngh">
    <tr>
    <td colspan="3"><strong>TIỆN NGHI KHÁCH SẠN	</strong></td>
    </tr>
    <tr>
    <td class="check">Tầng cao cấp</td>
    <td class="check">Câu lạc bộ đêm</td>
    <td class="check">Cho phép mang theo vật nuôi</td>
    </tr>
    <tr>
    <td class="no">Cho thuê xe đạp</td>
    <td class="no">Cửa hàng lưu niệm</td>
    <td class="no">Dịch vụ ăn tại phòng 24 giờ</td>
    </tr>
    <tr>
    <td class="no">Dịch vụ du lịch	</td>
    <td class="no">Dịch vụ đưa đón	</td>
    <td class="no">Dịch vụ giặt là/giặt khô</td>
    </tr>
    <tr>
    <td class="check">Dịch vụ internet</td>
    <td class="check">Dịch vụ làm đẹp	</td>
    <td class="check">Dịch vụ trông trẻ</td>
    </tr>
    <tr>
    <td class="no">Đưa đón khách sạn/sân bay</td>
    <td class="no">Két sắt	</td>
    <td class="no">Người vận chuyển hành lý</td>
    </tr>
    <tr>
    <td class="check">Nhà hàng</td>
    <td class="check">Phòng gia đình</td>
    <td class="check">Phòng hút thuốc	</td>
    </tr>
    <tr>	
    <td class="check">Phục vụ ăn tại phòng</td>
    <td class="check">Quán bar</td>
    <td class="check">Quán bar cạnh bể bơi</td>
    </tr>
    <tr>
    <td class="check">Quán cà phê	</td>
    <td class="check">Sòng bài</td>
    <td class="check">Thang máy</td>	
    </tr>
    <tr>
    <td class="no">Thiết bị cho người tàn tật</td>
    <td class="no">Thiết bị phòng họp</td>
    <td class="no">wi-fi ở khu vực công cộng</td>
    </tr>
    

    </table>
    </div><!--bx-check-->

    </div>
    </div><!--box-->

    </div><!--right-->
</div><!--content-->
