   @{   foreach (var item in (IEnumerable<ShareHoderFrontEndV2.Models.HotDealModel>)ViewData["returnvalueHotdeal"])
                               {
            //decimal minPrice = ShareHoderFrontEndV2.Ext.ApplicationHelper.
                                    @:  @Html.ActionLink(@item.Name, "", "Book/Details/" + @item.HotelId,null, new { style = "color:white" })   @Html.ActionLink("Book Now", "", "Book/Details/" + @item.HotelId,null, new { style = "color:white; float:right" })  <br /> 

                                    @:  Giá từ: @string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", item.MinPrice) <br />
                                    @:  Giảm @ShareHoderFrontEndV2.Ext.ApplicationHelper.GetSaleOffRateHotDeal(@item.HotelId)  % <br />


                                    <div class="line"></div>
                               }
                           }  
                            @{
                                #region Paging Ajax
                                
                                int count = Convert.ToInt32(ViewData["countSearchHotdeal"]);
                                int page = 0;
                                if (count % 3 == 0)
                                {
                                    page = count / 3;
                                }
                                else
                                {
                                    page = count / 3 + 1;
                                }

                                for (int ii = 1; ii <= page; ii++) // paging
                                {
                                                                       
                                       @: <a  class="page" runat="server" style="cursor:pointer" onclick="myFunction('@ii.ToString()')" rel="@ii.ToString()" >@ii.ToString()</a>
                                   
                                }
                                      @*@:<strong style="float:right">page: @ViewData["pageNo"]</strong>  *@
                               #endregion
}                                 