@model PhimHang.Models.TickerHotModel
@{
    ViewBag.Title = "Thêm cổ phiếu nóng hổi";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<h2>Thêm cổ phiếu nóng hổi</h2>

<div id="example_length" class="dataTables_length1">
    <table class="form">


        @using (Html.BeginForm("Add","TickerHot", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
             @Html.ValidationSummary(true)
            <tr>
                <td class="col1"><label> Mã cổ phiếu:</label></td>
                <td class="col2">                    
                    @Html.TextBoxFor(model => model.THName, new { placeholder = "Mã cổ phiếu" })
                </td>
                <td>@Html.ValidationMessageFor(model => model.THName)</td>
                

            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Cập nhật" class="btn btn-default" /> |
                    <a style="color: #328AC5" href="/TickerHot">Back/Cancel</a>
                </td>
            </tr>
        }
    </table>


    @*<div class="form-actions no-color">
            <input onclick="return confirm('Cập nhật tài khoản?');" type="submit" value="Cập nhật" class="btn btn-default" /> |
            <a style="color: #328AC5" href="@ViewBag.linkAbsolutePath">Back/Cancel</a>
        </div>*@

</div>
<br />
<script>

</script>

