@{
    ViewBag.Title = "Chi tiết bài tin " + ViewBag.StockPrimary + " " + ViewBag.PostId;
    Layout = "~/Views/Shared/_Layout_Post_Detail.cshtml";
}
@section scripts{    
    <script src="~/Scripts/jquery.timeago.js"></script>    
}
<div id="CommentForKoLoad">
    <input type="hidden" id="hiddenPostId" value="@ViewBag.PostId" />
    @*<input type="hidden" id="HiddentCureentUserId" value='@ViewBag.CureentUserId' />*@
    @*<input type="hidden" id="HiddentUserName" value='@ViewBag.UserName' />
    <input type="hidden" id="HiddentAvataEmage" value='@ViewBag.AvataEmage' />*@

    <input type="hidden" id="HiddentPostedDate" value='@ViewBag.PostedDate' />
    <input type="hidden" id="HiddentPostedByName" value='@ViewBag.PostedByName' />
    <input type="hidden" id="HiddentPostedByAvatar" value='@ViewBag.PostedByAvatar' />
    <input type="hidden" id="HiddentsumLike" value="@ViewBag.SumLike" />  
    <div class="area-center">
        <div class="bg-white open">
            <div class="list-item-status" tabindex="-1">
                <div class="avata-genaral-size">
                    <img id="idImgPostDetail" class="img-rounded" alt="avatar">
                </div>
                <div class="list-item-detail">
                    <div class="list-item-date" id="idPostedDateDetail"></div>
                    <div onclick='selectMe(event,"#")' class="list-item-username">
                        <div id="idPostNameDetail" style="float:left"></div>
                        @if (ViewBag.BrkVip == true)
                        {
                            <span class="itemVerify"><i title="Đã xác thực - dân phím chuyên nghiệp" class="fa  fa-check-circle"></i></span>
                        }
                    </div>
                    <span id="idStmDetail">                        
                        @{
                            if (ViewBag.Stm == 1)
                            {
                                <span class='divBear-cm'>Giảm</span>
                            }
                            else if (ViewBag.Stm == 2)
                            {
                                <span class='divBull-cm'>Tăng</span>
                            }                            
                        }
                    </span>
                    <div class="list-item-status-content" id="idPostMessenge">@Html.Raw(ViewBag.Message)
                    @{
                        if (ViewBag.ChartYN == true)
                        {
                            <br/><br/><a target="_blank" href='@ViewBag.Chart'><img class="imageChartDetail" src='@ViewBag.Chart?maxwidth=465'></a>
                        }
                    }
                    </div>
                    <div class="list-item-control">
                        @{
                            if (ViewBag.SumReply > 0) // tong relpy
                            {
                                <a class="button" href="#"><i class="fa fa-comments">@ViewBag.SumReply</i></a>
                            }
                        }
                        <!--tổng like and like-->                        
                        
                        <span class="likeAndPin" style="float:none">
                            <span data-bind="text : SumLike, visible : SumLike() > 0 "></span>
                            <button class="fa fa-thumbs-o-up" data-bind=" click : AddLike  , enable : DiableLike"></button>
                        </span>
                        <!--end function-->
                        <div style="float: right; overflow: hidden; " class="fb-like" data-href="/PostDetail?postid=@ViewBag.PostId" data-layout='button_count' data-action='like' data-show-faces='true' data-share='true'></div>                        
                    </div>
                </div>
            </div>
            <div style="display: block;" class="list-comment">
                <div class="comment-item">
                    <div class="avata-genaral-size">
                        <img style="left:15px" src="@ViewBag.AvataEmage?width=35&height=35&mode=crop" class="img-rounded" alt="avatar">
                    </div>
                    <div id="input-comment" class="input-status">
                        <form name="frmComment">

                            <div class="input-status-text">
                                <textarea data-bind="value : newReply, valueUpdate : 'afterkeydown' " class="status-cm" id="comment-text" name="comment" rows="5" placeholder="Nhập trả lời ở đây" title="Nhập trả lời bài viết" autocomplete="off"></textarea>
                            </div>
                            <div class="status-control">
                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <div id="btnPhim" class="f-right">
                                            <span data-bind="text : countReply"></span>
                                            <button id="btAddReply" style="cursor:pointer" class="button-phim" data-bind=" enable: enablePhimHangReply , click : addReply ">Trả lời</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="btnPhim" class="f-right">
                                            <a class="logoutbutton" href="/Account/Register?ReturnUrl=/PostDetail?postid=@ViewBag.PostId">Đăng ký</a>
                                            <a class="logoutbutton" href="/Account/Login?ReturnUrl=/PostDetail?postid=@ViewBag.PostId">Đăng nhập</a>
                                        </div>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
                <div><!--<div class="scroll-div"> -->                    
                    <div data-bind="foreach : replys">
                        <div class="comment-item">
                            <div class="avata-genaral-size">
                                <img data-bind="attr: { src: ReplyByAvatar },click : function() {  location.href='/' + ReplyByName  }" class="img-rounded" alt="avatar">
                            </div>
                            <div class="list-item-detail-post">
                                <div class="list-item-date" data-bind="text : ReplyDate"></div>
                                <div class="list-item-username">
                                    <a style="cursor:pointer" data-bind="attr : { href : '/' + ReplyByName  }, text : ReplyByName"></a>
                                    <span class="itemVerify" data-bind="html: ReplyBrkVip"></span>
                                </div>
                                <div class="list-item-status-content" data-bind="html: ReplyMessage"></div>
                                <div class="list-item-control-cm">
                                    <a class="button f-right" href="#" title="Báo cáo vi phạm">Vi phạm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Comment-->

@Scripts.Render("~/bundles/PostDetail")