
@{
    ViewBag.Title = "Profile";
}

<ul style="margin:20px">
    <li>@Html.ActionLink("Đổi mật khẩu", "Manage", "Account")</li>
    <li>@Html.ActionLink("Cập nhật thông tin", "Profile", "Account")</li>

</ul>

<link href="~/Content/Profile.css" rel="stylesheet" />
@Html.Partial("_UploadAvata")
<hr />
@Html.Partial("_UploadCover")

@Html.Partial("_UpdateProfile")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


