@model IEnumerable<ShareHolderCore.Domain.Model.Booking>
@{
    ViewBag.Title = @Resources.Resource.home + ", " + @Resources.Resource.bookingHistory;
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="../../Content/tableBook.css" rel="stylesheet" type="text/css" />
<div class="main-content" style="margin-top: 30px;">
    <div class="left-menu">
        @Html.Partial("ProfileLeftMenuPartial")
    </div>
    <div class="contentLogin">
       @*@Html.ValidationSummary(true, "Hồ sơ lưu không thành công. vui lòng nhập đầy đủ thông tin dưới đây.")*@

@using (Html.BeginForm("MyProfile", "Account", FormMethod.Post, new { id = "ProfileFrm" }))
{
    <fieldset>
    <br />
        <div style="margin-left:20px;color:#2F77FD"> <b>@Resources.Resource.yourBookingDetails</b></div>
       
          @{
        foreach (var item in Model)
        {
            <div class="contentLogin">
            <fieldset>
                 <table>
                     <tr>
                        <td><label>@Resources.Resource.bookingCode</label></td>
                        <td>@item.ViewCode</td>
                        
                    </tr>
                    <tr>
                        <td><label>@Resources.Resource.bookingDate</label></td>
                        <td>@ShareHoderFrontEndV2.Ext.CustomHelpers.parstFormatTo_DD_MM_YYYY(@item.BookingDate)</td>
                        
                    </tr>
                     <tr>
                        <td>@Resources.Resource.fullName</td>
                        <td>@item.FullName</td>
                        
                    </tr>
                     <tr>
                        <td>@Resources.Resource.phoneNumber</td>
                        <td>@item.PhoneNumber</td>
                        
                    </tr>
                     <tr>
                        <td>@Resources.Resource.ipAddress</td>
                        <td>@item.IpAddress</td>
                        
                    </tr>
                    @{
                            string viewOrderStatus = string.Empty;
                            string viewSumOrder = string.Empty;
                            string viewDispositOrder = string.Empty;
                            decimal? orderSum =0;
                            foreach (var detail in ShareHoderFrontEndV2.Ext.ApplicationHelper.getBookingDetailFromBookingid(item.BookingId))
                            {
                                 int totalDate;
                                    decimal? linetotal = 0;
                                    decimal? vatAmount = 0;
                                    decimal? linetotalWithVAT = 0;            
                                    totalDate = int.Parse(detail.ToDate) - int.Parse(detail.FromDate);
                                    linetotal = totalDate * detail.Quantity * detail.Price;
                                    vatAmount = linetotal * (decimal?)0.1;
                                    linetotalWithVAT = linetotal + vatAmount;
                                    orderSum += linetotalWithVAT;
                                    
                                
                            }
                           
                            viewSumOrder = string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", orderSum);
                            ShareHolderCore.IPaymentRepository<ShareHolderCore.Domain.Model.Payment> irPayment = new ShareHolderCore.Domain.Repositories.PaymentRepository();
                            var Payment = irPayment.GetByBookingCode(item.ViewCode);

                            if (Payment != null)
                            {
                                if (Payment.PaymentStatus == 1)
                                {
                                    viewOrderStatus = "Thanh toán thành công";
                                }
                                else
                                {
                                    viewOrderStatus = "Thanh toán thất bại";
                                }

                                viewDispositOrder = string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", Payment.DispositAmount);
                            }
                            else
                            {
                                viewOrderStatus = "chua thanh toan";

                                viewDispositOrder = string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", 0);
                            }                           
                        }
                    
                     <tr>
                        <td>@Resources.Resource.bookingStatus</td>
                        <td>@viewOrderStatus</td>
                        
                    </tr>
                    <tr>
                        <td>@Resources.Resource.totalAmount</td>
                        <td>@viewSumOrder VND</td>
                        
                    </tr> 
                    <tr>
                        <td>@Resources.Resource.depositAmount</td>
                        <td>@viewDispositOrder</td>
                        
                    </tr>
                </table>
            </fieldset>
            </div>
           
                
                  <!-- BOOKING DETAIL -->
               <div id="mainContent">
                <fieldset>
                      <div class="Table">
                                <table cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                          <th>@Resources.Resource.fromDate</th>
                                          <th>@Resources.Resource.toDate</th>                                          
                                          <th>@Resources.Resource.HotelName</th>
                                          <th>@Resources.Resource.RoomType</th>
                                          <th>@Resources.Resource.numberOfDate</th>
                                          <th>@Resources.Resource.quantity</th>
                                          <th>@Resources.Resource.PriceHotel</th>
                                          <th>@Resources.Resource.amount</th>
                                          <th>@Resources.Resource.vat</th>
                                          <th>@Resources.Resource.amountWithVAT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var detail in ShareHoderFrontEndV2.Ext.ApplicationHelper.getBookingDetailFromBookingid(item.BookingId))
                                    {
                                        int totalDate;
                                        decimal? linetotal = 0;
                                        decimal? vatAmount = 0;
                                        decimal? linetotalWithVAT = 0;
                                        decimal? totalWithVAT = 0;                       
                                       <tr>
                                            <td>@ShareHoderFrontEndV2.Ext.CustomHelpers.parstFormatTo_DD_MM_YYYY(@detail.FromDate)</td>
                                            <td>@ShareHoderFrontEndV2.Ext.CustomHelpers.parstFormatTo_DD_MM_YYYY(@detail.ToDate)</td>
                                            <td>@ShareHoderFrontEndV2.Ext.CustomHelpers.getNameHotel(@detail.HotelId)</td>                                                                                                  
                                            <td>@detail.RoomType.Name</td>
                                            @{
                                        totalDate = int.Parse(detail.ToDate) - int.Parse(detail.FromDate);
                                        linetotal = totalDate * detail.Quantity * detail.Price;
                                        vatAmount = linetotal * (decimal?)0.1;
                                        linetotalWithVAT = linetotal + vatAmount;
                                        totalWithVAT += linetotalWithVAT;
                                            }
                                            <td>@totalDate</td>
                                            <td>@detail.Quantity</td>
                                            <td >@string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", @detail.Price)</td>                                            
                                            <td style="text-align:right">@string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", @linetotal)</td>
                                            <td style="text-align:right">@string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", @vatAmount)</td>
                                            <td style="text-align:right">@string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", @linetotalWithVAT)</td>                    
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="9" style="text-align:right"><strong>@Resources.Resource.totalAmount (VND)</strong></td>                                        
                                        <td style="text-align:right"><strong>@string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0,0:N0}", @orderSum)</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                              </div>
                              </fieldset>
                        </div>
                    <!-- end booking detail -->
                <hr style="border: #FFA200 solid 1px;border-collapse: collapse; " />
                
        }
            }
       
       
       
    </fieldset>
}
    </div>
</div>
<script type="text/javascript">

    $("#submitButton").click(function () {
        submitForm();
    });

    function submitForm() {
        $("#ProfileFrm").submit();
    }
</script>


