@model PhimHang.Models.Post

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PostId)

        <div class="form-group">
            @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message)
                @Html.ValidationMessageFor(model => model.Message)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostedBy, "PostedBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PostedBy", String.Empty)
                @Html.ValidationMessageFor(model => model.PostedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostedDate)
                @Html.ValidationMessageFor(model => model.PostedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChartImageURL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChartImageURL)
                @Html.ValidationMessageFor(model => model.ChartImageURL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NhanDinh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NhanDinh)
                @Html.ValidationMessageFor(model => model.NhanDinh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vir, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vir)
                @Html.ValidationMessageFor(model => model.Vir)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StockPrimary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StockPrimary)
                @Html.ValidationMessageFor(model => model.StockPrimary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChartYN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChartYN)
                @Html.ValidationMessageFor(model => model.ChartYN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SumLike, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SumLike)
                @Html.ValidationMessageFor(model => model.SumLike)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SumReply, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SumReply)
                @Html.ValidationMessageFor(model => model.SumReply)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
