
@{
    ViewBag.Title = @Resources.UserInterface.home;    
}
    <div class="box-main">
		<div class="box-left">
       
		        @Html.Partial("_LongSearchAirTicketPartial")
        
		</div><!--box-left-->
		<div class="box-right">
		    <div class="slider">	   
                 @Html.Partial("_SliderPartial")
		    </div>
		</div><!--box-right-->
		</div><!--box-main-->


<div class="box-main">
    <div class="box-left">

        <div class="box">
        <div class="title center">Hot deals</div>
            <div class="text hot-deal-airticket">
                <div class="deal-phan">
                 @*<select name="select7" class="select7">
                        <option selected="selected">Tất cả</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>

                     </select>*@
                      @using (Ajax.BeginForm("SearchHotdeal", "", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updateAjaxId", LoadingElementDuration = 1 }, new { id = "updateIDHotdel" }))
                      {
                       // @Html.DropDownList("SelectedHotdeal", (SelectList)ViewData["SelectedListHotelHotdeal"], "Tất cả", new { id = "SelectedHotdeal", @class = "hotdealoption" })
                      
                     
                     <br />
                     <div id="updateAjaxId">
                      
                           @Html.Partial("_HotdealAirTicketPartial")
                                                     
                      </div>    
                      }     
                        
                </div>
            </div><!--text-->
        </div><!--box-->

    </div><!--box-left-->
<div class="box-right">
  
    <div class="box cols cols-la">
        
        <a href="ymsgr:SendIM?thoapk77"><img border="0" src="http://opi.yahoo.com/online?u=thoapk77&m=g&t=1"></a> Aquila 1 
        <a href="ymsgr:SendIM?aquilabookinga"><img border="0" src="http://opi.yahoo.com/online?u=aquilabookinga&m=g&t=1"></a> Aquila 2 <br/>
        <label><span>@Resources.Resource.HelpFromUs</span></label>84-8 5445 6823<br />
        <label><a href= "@Url.Action("Index", "BookingHistory")"><span>kiem tra thong tin dat ve chi voi 1 click</span></a></label><br />
    </div><!--box-->
    <div class="box">
        <div class="title">Latest booking </div>
        <div class="text  box-de">
            <img src="../../images/hinh2.jpg" />
            
            <div class="clear"></div>
            <a href="#" class="read-more">@Resources.Resource.ReadMore</a>
        </div>
     </div>   
         <div class="box">
            <div class="title"> @Resources.Resource.MostView</div>
            <div class="text  box-de">
                <img src="../../images/hinh2.jpg" alt="Most viewed hotels" />
              
                <div class="clear">
                </div>
                <a href="#"  class="read-more"> @Resources.Resource.ReadMore</a>
            </div>
         </div>
    </div>
    <!--</b>ox-->
    <!--Load menu defaul !-->
     
    <script type="text/javascript">
        $(document).ready(function () {
            $(".FavouritDestinationId").click(function () {
                $("#searchInput").val($(this).text());
            });

           

        });
    </script>
    
       <script type="text/javascript">
           $().ready(function () {
               $("#SelectedHotdeal").change(function () {

                   submitForm();
               });
               
               function submitForm() {
                   $("#updateIDHotdel").submit();

               }
           });
//           $(document).ready(function () {
//               $(".page").click(function () {
//                   
//                   var page = parseInt($(this).html());
//                   var SelectedHotdeal = $('#SelectedHotdeal').val();
//                   alert(page);
//                   $.ajax({
//                       url: '@Url.Action("SearchHotdeal")',
//                       data: { "page": page, "SelectedHotdeal": SelectedHotdeal },

//                       success: function (data) {

//                           $("#updateAjaxId").html(data);
//                       }
//                   });
//                   //submitForm();
//               });
//           });
           function myFunction(value) {
               var page = value;
               
               var SelectedHotdeal = $('#SelectedHotdeal').val();

               $.ajax({
                   url: '@Url.Action("SearchHotdeal")',
                   data: { "page": page, "SelectedHotdeal": SelectedHotdeal },

                   success: function (data) {

                       $("#updateAjaxId").html(data);
                   },
                   complete: function () {
                      
                    }

               });
           }
            </script>
</div><!--box-main-->
<div class="clear"></div>


