@model IEnumerable<ShareHolderCore.Domain.Model.Province>
@{
    ViewBag.Title = "Tỉnh thành";
}

<div id="content">

            <h2><span>Danh sách dịch vụ khách sạn</span></h2>

            <!-- tab -->
            <ul id="tab">
                <li class="Active"><span>@string.Format("Tổng cộng {0} loại phòng", @Model.Count())</span></li>
            </ul>
            <!-- tab.end -->

            <!-- panel -->
            <div class="Panel">

                <!-- functions -->
                <ul class="Functions">
                    <li>@Html.ActionLink("New", "Create", "Province")</li>
                    <li><a href="#" title="Delete" name="deleteHotelLink"  class="deleteHotelLink">Delete</a></li>
                    <li><a href="#" title="View">View</a></li>
                    <li>
                        <span>Actions</span>
                        <ul>
                            <li><a href="#" title="Approve property">Approve property</a></li>
                            <li><a href="#" title="View facilities">View facilities</a></li>
                            <li>
                                <span>Translation</span>
                                <ul>
                                    <li><a href="#" title="Tiếng Việt">Tiếng Việt</a></li>
                                    <li><a href="#" title="French">French</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- functions.end -->

                <!-- pager -->
                <ul class="Pager">
                    <li class="RangePrevious"><a href="#" title="Previous range">&lt;&lt;</a></li>
                    <li class="Previous"><a href="#" title="Previous">&lt;</a></li>
                    <li><span>1</span></li>
                    <li><a href="#" title="2">2</a></li>
                    <li><a href="#" title="3">3</a></li>
                    <li><a href="#" title="4">4</a></li>
                    <li><a href="#" title="5">5</a></li>
                    <li><a href="#" title="6">6</a></li>
                    <li><a href="#" title="7">7</a></li>
                    <li><a href="#" title="8">8</a></li>
                    <li><a href="#" title="9">9</a></li>
                    <li class="Next"><a href="#" title="Next">&gt;</a></li>
                    <li class="RangeNext"><a href="#" title="Next range">&gt;&gt;</a></li>
                </ul>
                <!-- pager.end -->

            </div>
            <!-- panel.end -->

            <!-- mainContent -->
            <div id="mainContent">
                <fieldset>
                    <div class="Filter">
                        <label for="property">Filter:</label>
                        <select id="property" name="property" class="Medium">
                            <option>Property</option>
                        </select>
                        <a rel="shadowbox?width=619;height=218" href="#newFilter" title="New">New</a>
                        <a href="#" title="Delete" onclick="messageBox(); return false;">Delete</a>
                        <a href="#" title="Edit">Edit</a>
                    </div>

                    <!-- filter -->
                    <div id="newFilter">
                        <div id="filter">
                            <h3><span>Define your filter</span></h3>
                            <fieldset>
                                <div>
                                    <label for="keyword">Description:</label>
                                    <input type="text" id="keyword" name="keyword" class="TextInput2" />
                                </div>
                                <ul>
                                    <li>
                                        <select id="description" name="description" class="DropDown1">
                                            <option>Description</option>
                                        </select>
                                        <select id="operator1" name="operator1" class="DropDown2">
                                            <option>Like</option>
                                            <option>=</option>
                                            <option>&gt;=</option>
                                            <option>&lt;=</option>
                                        </select>
                                        <input type="text" id="keyword1" name="keyword1" class="TextInput1" />
                                        <select id="logical1" name="logical1" class="DropDown2">
                                            <option>Or</option>
                                            <option>And</option>
                                            <option>Not</option>
                                        </select>
                                    </li>
                                    <li>
                                        <select id="price" name="price" class="DropDown1">
                                            <option>Price</option>
                                        </select>
                                        <select id="operator2" name="operator2" class="DropDown2">
                                            <option>Like</option>
                                            <option>=</option>
                                            <option>&gt;=</option>
                                            <option>&lt;=</option>
                                        </select>
                                        <input type="text" id="keyword2" name="keyword2" class="TextInput1" />
                                        <select id="logical2" name="logical2" class="DropDown2">
                                            <option>Or</option>
                                            <option>And</option>
                                            <option>Not</option>
                                        </select>
                                    </li>
                                    <li>
                                        <select id="leased" name="leased" class="DropDown1">
                                            <option>Leased</option>
                                        </select>
                                        <select id="operator3" name="operator3" class="DropDown2">
                                            <option>Like</option>
                                            <option>=</option>
                                            <option>&gt;=</option>
                                            <option>&lt;=</option>
                                        </select>
                                        <input type="text" id="keyword3" name="keyword3" class="TextInput1" />
                                        <select id="logical3" name="logical3" class="DropDown2">
                                            <option>Or</option>
                                            <option>And</option>
                                            <option>Not</option>
                                        </select>
                                    </li>
                                </ul>
                                <div class="Submit">
                                    <span class="Button"><span><input type="submit" value="Search" /></span></span>
                                    <span class="Button"><span><input type="button" value="Save and Close" /></span></span>
                                    <span class="Button"><span><input type="button" value="Close" /></span></span>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!-- filter.end -->

                    <div class="Table">
                        <table cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class="CheckAll" /></th>
                                    
                                    <th>Tên Tiếng Việt</th>
                                  <th>Tên Tiếng Anh</th>
                                   <th>Nước</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {                                
                           
                                <tr>
                                    <td><input type="checkbox" class="Checkbox" id="checkBoxDeltelHotel" name="checkBoxDeltelHotel" value="@item.ProvinceId" /></td>                                    
                                    
                                    <td class="Desc">
                                        <h3>@Html.ActionLink(@item.Name, "Edit", "Province", new { id = @item.ProvinceId }, null)</h3>                                                                               
                                    </td>                                                                
                                    <td>@item.EnglishName</td>
                                    <td>@item.Country.Name</td>
                                    <td>@Html.Raw(@Html.ActionLink("[replacetext]", "Edit", "Province", new { id = @item.ProvinceId }, null).ToHtmlString().Replace("[replacetext]", "<img src=\"../../images/ico-edit.gif\" ... />")) </td>                                     
                                </tr>
                            }
                                
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
            <!-- mainContent.end -->

            <!-- panel -->
            <div class="Panel">

                <!-- functions -->
                <ul class="Functions">
                     <li>@Html.ActionLink("New", "Create", "Province")</li>
                     <li><a href="#" title="Delete" name="deleteHotelLink"  class="deleteHotelLink">Delete</a></li>
                    <li><a href="#" title="View">View</a></li>
                    <li>
                        <span>Actions</span>
                        <ul>
                            <li><a href="#" title="Approve property">Approve property</a></li>
                            <li><a href="#" title="View facilities">View facilities</a></li>
                            <li>
                                <span>Translation</span>
                                <ul>
                                    <li><a href="#" title="Tiếng Việt">Tiếng Việt</a></li>
                                    <li><a href="#" title="French">French</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- functions.end -->

                <!-- pager -->
                <ul class="Pager">
                    <li class="RangePrevious"><a href="#" title="Previous range">&lt;&lt;</a></li>
                    <li class="Previous"><a href="#" title="Previous">&lt;</a></li>
                    <li><span>1</span></li>
                    <li><a href="#" title="2">2</a></li>
                    <li><a href="#" title="3">3</a></li>
                    <li><a href="#" title="4">4</a></li>
                    <li><a href="#" title="5">5</a></li>
                    <li><a href="#" title="6">6</a></li>
                    <li><a href="#" title="7">7</a></li>
                    <li><a href="#" title="8">8</a></li>
                    <li><a href="#" title="9">9</a></li>
                    <li class="Next"><a href="#" title="Next">&gt;</a></li>
                    <li class="RangeNext"><a href="#" title="Next range">&gt;&gt;</a></li>
                </ul>
                <!-- pager.end -->

            </div>
            <!-- panel.end -->

        </div>

