@using PhimHang.Models;

@model ApplicationUser


<div class="user-info">
    <div class="cover-img">
        <img src="~/@ViewBag.CoverImage?width=280&height=91&mode=crop" alt="cover">
    </div>
    <div class="user-profile">
        <div class="user-img">
            <img src="~/@ViewBag.AvataEmage?width=62&height=62&mode=crop" alt="cover">
       </div>
        <div class="user-name">
            <a href="/user/@ViewBag.UserName/tab/1"> @Model.UserExtentLogin.FullName.ToUpper() </a>
            <i class="fa  fa-check-circle">&nbsp;</i>
        </div>
    </div>
    <div class="user-sumary-info">
        <span>
            Bài Phím<br>
            <a href="/user/@ViewBag.UserName/tab/1">@ViewBag.TotalPost </a>
        </span>
        <span>
            Theo dõi<br>
            <a href="/user/@ViewBag.UserName/tab/3">@ViewBag.Follow</a>
        </span>
        <span>
            Được theo dõi<br>
            <a href="/user/@ViewBag.UserName/tab/4">@ViewBag.Follower</a>
        </span>
    </div>
</div>


@*<div class="second-left-banner">
<div class="banner-header-white">HÀNG NÓNG VỪA XEM</div>
    @foreach (var item in ViewBag.HotStockPriceList as List<StockRealTime>)
    {
        <div class="banner-item1">
        <div class="item-left">
            <a href="/Symbol/@item.CompanyID">$@item.CompanyID<br><span>@item.CompanyID</span></a>
        </div>
        <div class="item-right">
            <strong>@item.FinishPrice</strong>
            @if (item.Diff == 0)
            {
                <span class="none-bullish-bearish">
                    <br>
                    <span class="top-menu-point">
                        @item.Diff (@item.DiffRate)
                    </span>
                </span>
            }
            else if (item.Diff > 0)
            {
                <span class="bullish">
                    <br>
                    <span class="top-menu-point">
                        @item.Diff (@item.DiffRate)
                    </span>
                </span>
            }
            else
            {
                <span class="bearish">
                    <br>
                    <span class="top-menu-point">
                        @item.Diff (@item.DiffRate)
                    </span>
                </span>              
            }
            
        </div>
    </div>
    }



    </div>
    *@
<div class="second-left-banner">
    <div class="banner-header-white">NGƯỜI DÙNG VỪA XEM</div>
    <div class="banner-item-user-detail">
        <div class="avata-genaral-size">
            <img src="~/img/avatar2.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail">
            <div class="list-item-username">Tom Truong 1</div>
            <div class="list-item-control">
                <a class="button" href="#">PhimHang <i class="fa  fa-check-circle">&nbsp;</i></a>
            </div>
        </div>
    </div>
    <div class="banner-item-user-detail">
        <div class="avata-genaral-size">
            <img src="~/img/avatar2.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail">
            <div class="list-item-username">Tom Truong</div>
            <div class="list-item-control">
                <a class="button" href="#">PhimHang <i class="fa  fa-check-circle">&nbsp;</i></a>
            </div>
        </div>
    </div>
    <div class="banner-item-user-detail">
        <div class="avata-genaral-size">
            <img src="~/img/avatar4.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail">
            <div class="list-item-username">Tom Truong</div>
            <div class="list-item-control">
                <a class="button" href="#">PhimHang</a>
            </div>
        </div>
    </div>
    <div class="banner-item-user-detail">
        <div class="avata-genaral-size">
            <img src="~/img/avatar5.jpg" class="img-rounded" alt="avatar">
        </div>
        <div class="list-item-detail">
            <div class="list-item-username">Tom Truong</div>
            <div class="list-item-control">
                <a class="button" href="#">PhimHang <i class="fa  fa-check-circle">&nbsp;</i></a>
            </div>
        </div>
    </div>
</div>