<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/style.css" rel="stylesheet" />
    @*<script src="~/Scripts/knockout-3.2.0.js"></script>*@

    @*<script src="~/Scripts/json2.min.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Post", "Index", "Post")</li>
                    <li>@Html.ActionLink("FollowStock", "Index", "FollowStock")</li>


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            <div id="trending-wrapper" style="margin-top:0px">


                <div class="clearfix" id="scrollingText">
                    <a class="with-ticker-card" data-symbol="CBST" href="#" data-hasqtip="true">HÀNG NÓNG:</a>
                    <a class="with-ticker-card" data-symbol="CBST" href="/symbol/HAG" data-hasqtip="true">$HAG</a>
                    <a class="with-ticker-card" data-symbol="MSFT" href="/symbol/VNM" data-hasqtip="true">$VNM</a>
                    <a class="with-ticker-card" data-symbol="SBUX" href="/symbol/TIG" data-hasqtip="true">$TIG</a>
                    <a class="with-ticker-card" data-symbol="XLF" href="/symbol/KLF" data-hasqtip="true">$KLF</a>
                    <a class="with-ticker-card" data-symbol="BIG" href="/symbol/ASM" data-hasqtip="true">$ASM</a>
                    <a class="with-ticker-card" data-symbol="MOBI" href="/symbol/ITA" data-hasqtip="true">$ITA</a>
                    <a class="with-ticker-card" data-symbol="JRJC" href="/symbol/MCG" data-hasqtip="true">$MCG</a>
                    <a class="with-ticker-card" data-symbol="MANH" href="/symbol/SAM" data-hasqtip="true">$SAM</a>
                    <a class="with-ticker-card" data-symbol="CPG-CA" href="/symbol/BSC" data-hasqtip="true">$BSC</a>
                    <a class="with-ticker-card" data-symbol="FEYE" href="/symbol/CAP" data-hasqtip="true">$CAP</a>
                    <a class="with-ticker-card" data-symbol="LBTYA" href="/symbol/KBC" data-hasqtip="true">$KBC</a>


                </div>
            </div>
        </div>

    </div>
    <div id="content-left" style="margin-top:90px">
        <div class="left-header"><p>Recenly Review<p></div>
        <div class="list1">
            <ul>
                <li>

                    <table>
                        <tr class="line1">
                            <td width="60%" class="cot11">$GAS</td>
                            <td class="cot12" align="center">108.66  </td>
                        </tr>

                        <tr class="line2">
                            <td width="60%" class="cot21">PV GAS</td>
                            <td class="cot22" align="center">0.35 (0.32%)</td>
                        </tr>
                    </table>

                </li>

                <li>

                    <table>
                        <tr class="line1">
                            <td width="60%" class="cot11">$REE</td>
                            <td class="cot12" align="center">117.29  </td>
                        </tr>

                        <tr class="line2">
                            <td width="60%" class="cot21">REE Corp.</td>
                            <td class="cot22 xanh" align="center">2.73 (2.45%)</td>
                        </tr>
                    </table>
                </li>
                <li>
                    <table>
                        <tr class="line1">
                            <td width="60%" class="cot11">$PVD</td>
                            <td class="cot12" align="center">88.37  </td>
                        </tr>

                        <tr class="line2">
                            <td width="60%" class="cot21">Dầu Khí ;</td>
                            <td class="cot22 xanh" align="center">0.35 (0.32%)</td>
                        </tr>
                    </table>
                </li>
                <li>
                    <table>
                        <tr class="line1">
                            <td width="60%" class="cot11">$KBC</td>
                            <td class="cot12" align="center">88.37  </td>
                        </tr>

                        <tr class="line2">
                            <td width="60%" class="cot21">Kinh Bắc Co.</td>
                            <td class="cot22 xanh" align="center">0.35 (0.32%)</td>
                        </tr>
                    </table>
                </li>

            </ul>
        </div>
        <div class="list2">
            <ul>
                <li>
                    <table>
                        <tr>
                            <td width="30%" rowspan="2" class="anh" align="center"></td>
                            <td class="c11">BuiDinhHoa</td>
                        </tr>
                        <tr>

                            <td class="c21 chon">Phimhang</td>
                        </tr>


                    </table>

                </li>

                <li>
                    <table>
                        <tr>
                            <td width="30%" rowspan="2" class="anh" align="center"></td>
                            <td class="c11">Ledangquang</td>
                        </tr>
                        <tr>

                            <td class="c21">Phimhang</td>
                        </tr>


                    </table>

                </li>

                <li>
                    <table>
                        <tr>
                            <td width="30%" rowspan="2" class="anh" align="center"></td>
                            <td class="c11">NguyenDucTruong</td>
                        </tr>
                        <tr>

                            <td class="c21">Phimhang</td>
                        </tr>


                    </table>

                </li>

                <li>
                    <table>
                        <tr>
                            <td width="30%" rowspan="2" class="anh" align="center"></td>
                            <td class="c11">cdck</td>
                        </tr>
                        <tr>

                            <td class="c21 chon">Phimhang</td>
                        </tr>


                    </table>

                </li>

                <li>
                    <table>
                        <tr>
                            <td width="30%" rowspan="2" class="anh" align="center"></td>
                            <td class="c11">Phimphim</td>
                        </tr>
                        <tr>

                            <td class="c21 chon">Phimhang</td>
                        </tr>


                    </table>

                </li>


            </ul>
        </div>

    </div><!-- end of content left -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - congdongchungkhoan.com</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
