<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <script src="~/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <!--For desgin-->

    
    <link href="~/Scripts/jquery-ui/jquery-ui.css" rel="stylesheet" />

    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />

    @*<script src="js/jquery/jquery.js"></script> da co tren min*@
    
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/MyProfile/jquery-ui.min.js"></script>
    <script src="~/Scripts/MyProfile/action.js"></script>

    <!-- End For desgin-->
</head>
 <body>
        <div id="top-banner" class="w100p bg-blue">
            <div class="f-left" id="top-banner-left">
                <a href="/MyProfile" class="logo">
                    Phím Hàng
                </a>
            </div>
            <div class="f-right" id="top-banner-right">
                <div class="toSpan top-banner-icon f-right">
                    <a id="btn-config" href="#"><i class="fa fa-cog"></i></a>
                    <div class="dropdownlist">
                        <div class="dropdown-item">
                            <a href="/MyProfile"><span class="todiv"><i class="fa fa-adn"></i> Profile</span></a>
                        </div>
                        <div class="dropdown-item">
                            <a href="/Account/Profile"><span class="todiv"><i class="fa fa-cog"></i> Setting</span></a>
                        </div>
                        <div class="dropdown-item">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()"><span class="todiv"><i class="fa fa-sign-out"></i> Logout</span></a>
                            }

                        </div>
                    </div>
                </div>
                <div class="toSpan f-right">
                    
                        @Html.Partial("_Partial_Area_Search_Profile")
                    
                </div>
                <div class="toSpan top-banner-icon f-right"><a href="#"><i class="fa fa-envelope"></i></a></div>
                <div class="toSpan top-banner-icon f-right">
                    <a href="#"><i class="fa fa-home"></i></a>
                </div>
            </div>
        </div>
        <div class="menu-top-bar">
            <div class="top-menu-2">
                <ul class="nav navbar-nav top-panel-left2">
                    <li class="hidden-xs">
                        <a href="#" class="link-menu-top-active bold">
                            CỔ PHIẾU NÓNG
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="/Symbol/VNM">
                            $VNM
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="/Symbol/GAS">
                            $GAS
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="/Symbol/KLF">
                            $KLF
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="/Symbol/ACB">
                            $ACB
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="/Symbol/REE">
                            $REE
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="/Symbol/SSI">
                            $SSI
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="/Symbol/HAG">
                            $HAG
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="/Symbol/KBC">
                            $KBC
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="/Symbol/TIG">
                            $TIG
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right top-panel-right2">
                    <li class="hidden-xs">
                        <a href="index.html" class="top-menu-2-active">CHỈ SỐ</a>
                    </li>
                    <li class="hidden-xs">
                        <a href="/Symbol/VnIndex">
                            VNI
                            <span class="bullish">
                                <!--<i class="fa  fa-sort-up "></i>-->
                                &nbsp;
                                <span class="top-menu-point">
                                    39.81
                                </span>
                            </span>

                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="index.html">
                            VN30
                            <span class="bearish">
                                <!--<i class="fa fa-sort-down"></i>-->
                                &nbsp;
                                <span class="top-menu-point">
                                    39.81
                                </span>
                            </span>

                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="/Symbol/HNXIndex">
                            HNI
                            <span class="none-bullish-bearish">
                                <!--<i class="fa fa-unsorted"></i>-->
                                &nbsp;
                                <span class="top-menu-point">
                                    39.81
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="index.html">
                            HN30
                            <span class="bullish">
                                <!--<i class="fa fa-sort-up"></i>-->
                                &nbsp;
                                <span class="top-menu-point">
                                    39.81
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content-main">
            <div class="area-left">
               @Html.Partial("_Partial_Area_Left_Profile")
            </div>
            <div class="area-center">
                <!--render body here-->
                @RenderBody()
                <!--end render body here-->
            </div>
            <div class="area-right">
                <div class="banner-right-first">
                    @Html.Partial("_Partial_Area_Right_Profile")
                </div>
                <div class="second-left-banner">
                    <div class="banner-header-white">DÂN PHÍM CHUYÊN NGHIỆP</div>
                    <div class="banner-item-user-detail">
                        <div class="avata-genaral-size">
                            <img src="/img/avata3.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">
                            <div class="list-item-username">Tom Truong <i class="fa  fa-check-circle">&nbsp;</i></div>
                            <div class="list-item-control">
                                <a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a>
                            </div>
                        </div>
                    </div>
                    <div class="banner-item-user-detail">
                        <div class="avata-genaral-size">
                            <img src="/img/avatar4.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">
                            <div class="list-item-username">Tom Truong <i class="fa  fa-check-circle">&nbsp;</i></div>
                            <div class="list-item-control">
                                <a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a>
                            </div>
                        </div>
                    </div>
                    <div class="banner-item-user-detail">
                        <div class="avata-genaral-size">
                            <img src="/img/avatar5.jpg" class="img-rounded" alt="avatar">
                        </div>
                        <div class="list-item-detail">
                            <div class="list-item-username">Tom Truong <i class="fa  fa-check-circle">&nbsp;</i></div>
                            <div class="list-item-control">
                                <a href="#" class="button"><i class="fa fa-plus"></i>Theo dõi</a>
                            </div>
                        </div>
                    </div>
                    <div class="loadmore"><a href="#"><i class="fa  fa-angle-double-down"></i></a></div>
                </div>
                <div class="banner-info">
                    <div>
                        <a href="#">Giới thiệu</a>
                        <a href="#">Quy định</a>
                        <a href="#">Trợ giúp</a>
                        <a href="#">Liên hệ</a>
                    </div>
                    <p>
                        Bản quyền thuộc về Công ty TNHH XXXXXXXXXX<br>
                        Theo giấy xác nhận cung cấp dịch vụ MXH trực tuyến số: ....
                    </p>
                </div>
            </div>
        </div>




        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
