@using PhimHang.Models;

@model ApplicationUser

    <div class="banner-header-white">DANH MỤC ĐẦU TƯ</div>
@*
    @{
        foreach (var item in ViewBag.HotStockDMDT as List<StockRealTime>)
        {
             <div class="banner-item1">
            <div class="item-left">
                <a href="/Symbol/@item.CompanyID">$@item.CompanyID<br><span>@item.CompanyID</span></a>
            </div>
            <div class="item-right">
                <strong>@item.FinishPrice</strong>
                @if (item.Diff == 0)
                {
                    <span class="none-bullish-bearish">
                        <br>
                        <span class="top-menu-point">
                            @item.Diff (@item.DiffRate)
                        </span>
                    </span>
                }
                else if (item.Diff > 0)
                {
                    <span class="bullish">
                        <br>
                        <span class="top-menu-point">
                            @item.Diff (@item.DiffRate)
                        </span>
                    </span>
                }
                else
                {
                    <span class="bearish">
                        <br>
                        <span class="top-menu-point">
                            @item.Diff (@item.DiffRate)
                        </span>
                    </span>
                }

            </div>
        </div>
        }
    }
*@
    
 
    <div class="loadmore"><a href="#"><i class="fa  fa-angle-double-down"></i></a></div>

