@model IEnumerable<ShareHolderCore.Domain.Model.TransactionDetailOfShareHolder>


@{
    ViewBag.Title = @Resources.UserInterface.searchCurrentBalance;
}
<meta name="viewport" content="width=device-width" />

 
    @using (Html.BeginForm("SearchCurrentBalance", "TradingTransaction", FormMethod.Get, new { id = "currentBalance" }))
    
    { 
         <div>
         <ul data-role="listview" data-filter="true" data-theme="e">
            @foreach (var m in Model)
            {
                
                <li><p><strong>@string.Join(": ", Resources.UserInterface.transactionNumber, m.TransactionNumber)</strong></p>
                    <p><strong>@string.Join(": ", Resources.UserInterface.date, m.TransactionDate.ToString("dd/MM/yyyy"))</strong></p>
                    <p><strong>@string.Join(": ", Resources.UserInterface.type, m.DescriptionType)</strong></p>                    
                    <p><strong>@string.Join(": ", Resources.UserInterface.shareHolderCode01, m.ShareHolderCode)</strong></p>
                    <p><strong>@string.Join(": ", Resources.UserInterface.creditDescription , m.Credit.Value.ToString("#,#"))</strong></p>
                    <p><strong>@string.Join(": ", Resources.UserInterface.debitDescription , m.Debit.Value.ToString("#,#"))</strong></p>
                    <p><strong>@string.Join(": ", Resources.UserInterface.quantity, ( m.CurrentBalance == 0 ? m.CurrentBalance.ToString() :m.CurrentBalance.Value.ToString("#,#")))</strong></p>
                    <p><strong>@string.Join(": ", Resources.UserInterface.shareHolderCode, m.InteractiveShareHolder)</strong></p>
                </li>
                
            }
        </ul>
        </div>
        <div  data-role="fieldcontain" class="ui-hidden-accessible" theme="e" data-mini="true" >        
                <a href="@Url.Action("CurrentBalance", "TradingTransaction")" data-role="button" data-icon="back" data-theme="e" title="@Resources.UserInterface.goBackHint" >@Resources.UserInterface.goBack</a>
        </div>    
    }

