@model IEnumerable<ShareHolderCore.Domain.Model.TransactionDetailOfShareHolder>

<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Content/WebGrid.css")" rel="stylesheet" type="text/css">
<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")"  type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.datepicker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.datepicker-vi.js")" type="text/javascript"></script>
@{
    ViewBag.Title = @Resources.UserInterface.searchCurrentBalance;
}
<meta name="viewport" content="width=device-width" />
  
<div class="main-content">
    <div class="left-menu">
        @Html.Partial("TransactionLeftMenuPartial")
    </div>
    <div class="content">
 
       <table class="searchHeader"> 
          <tr  >           
            <td class="align-left">@Html.Label(Resources.UserInterface.shareSymbolOrShareHolder)</td>
            <td class="align-left" >@Html.DropDownList("Id",
                 (SelectList)ViewBag.ShareHolderId)</td>
            <td class="align-left">@Html.Label(Resources.UserInterface.toDate)</td>
            <td class="align-left">@Html.TextBox("todatepicker", ViewData["todatepicker"], htmlAttributes: new { @readonly = "true" })</td>            
        </tr>
        <tr style="text-align:center">            
            <td colspan="4" class="align-center">
            </td>
        </tr>
        </table>
        <div style="margin-left: 380px; margin-top: 10px; margin-bottom: 10px">            
            <div class="buttonwrapper">
                <a class="ovalbutton" id="searchButton" style="cursor:pointer" title="@Resources.UserInterface.viewHint"><span>@Resources.UserInterface.view</span></a>
            </div>
        </div>
    } 
    <div style="margin-bottom: 10px ">
        <table style="text-align:left">
            <tr>
                <td  style="width:100px">@Html.Label(Resources.UserInterface.shareHolderCode01)</td>       
                <td>@ViewData["ShareHolderCode"]</td>
            </tr>

            <tr>
                <td>@Html.Label(Resources.UserInterface.shareHolderName)</td>
                <td>@ViewData["ShareHolderName"]</td>
            </tr>

            <tr>
                <td>@Html.Label(Resources.UserInterface.ssn)</td>
                <td>@ViewData["Ssn"]</td>
            </tr>
            <tr>
                <td>@Html.Label(Resources.UserInterface.address)</td>
                <td>@ViewData["Address"]</td>
            </tr>
        </table>
    </div>   
    <div id="myGrid">
            @Html.Partial("_currentBalance", Model)
        </div>
    </div>
      <script type="text/javascript">
          
          $().ready(function () {
            
              $('#todatepicker').datepicker({
                  dateFormat: 'dd/mm/yy',
                  buttonImage: '@Url.Content("~/Content/themes/calendar.gif")',
                  buttonImageOnly: true,
                  showOn: "button"
              });
          });
          $("#searchButton").click(function () {
              submitForm();
          });

          function submitForm() {
              $("#currentBalance").submit();
        
</script>

    
</div>

