@model ShareHolderCore.Domain.Model.TransactionDetailHistory

@{
    ViewBag.Title = @Resources.UserInterface.searchTradingTransaction;
}
<meta name="viewport" content="width=device-width" />

 
    @using (Html.BeginForm("SearchTradingTransaction", "TradingTransaction", FormMethod.Get, new { id = "searchTrans" }))
    //using (Ajax.BeginForm(new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "myGrid" }))
    { 
        <div >
            <ul data-role="listview" data-filter="true" data-theme="e">
                @foreach (var tranDetail in Model)
                {
                
                    <li><a href="@Url.Action("SearchTradingTransactionDetail", "TradingTransaction", new { tranDetail.TransactionId })" >
                        <p><strong>@string.Join(" : ", Resources.UserInterface.date, tranDetail.TransactionDate.ToString("dd/MM/yyyy"))</strong></p>
                        <p><strong>@string.Join(" : ", Resources.UserInterface.buy, tranDetail.CreditShareHolderCode)</strong></p>
                        <p><strong>@string.Join(" : ", Resources.UserInterface.sell, tranDetail.DebitShareHolderCode)</strong></p>
                        <p><strong>@tranDetail.TypeDescription</strong></p>
                        <p><strong>@tranDetail.Quantity.Value.ToString("#,#")</strong></p></a>
                    </li>
                
                }
            </ul>
        </div> 
        <div  data-role="fieldcontain" class="ui-hidden-accessible" theme="e" data-mini="true" >        
                <a href="@Url.Action("Index","TradingTransaction")" data-role="button" data-icon="back" data-theme="e" title="@Resources.UserInterface.goBackHint" >@Resources.UserInterface.goBack</a>
        </div>    
    } 

