@model  IEnumerable<ShareHolderCore.Domain.Model.TransactionBalance>
@{
    ViewBag.Title = @Resources.UserInterface.searchSummaryCurrentBalance;
}
<meta name="viewport" content="width=device-width" />
  

    @using (Html.BeginForm("SearchSummaryCurrentBalance", "TradingTransaction", FormMethod.Get, new { id = "searchSummaryCurrentBalance" }))
    {
        <div>
            <ul data-role="listview" data-filter="true" data-theme="e">
                @foreach (var m in Model)
                {                
                    <li>
                        <h3>@string.Join(" : ", Resources.UserInterface.shareHolderCode01, m.ShareHolderCode)</h3>
                        <p><strong>@string.Join(": ", Resources.UserInterface.shareHolderName, m.Name)</strong></p>
                        <p><strong>@string.Join(": ", Resources.UserInterface.shareSymbol, m.ShareSymbol)</strong></p>
                        <p><strong>@string.Join(": ", Resources.UserInterface.ssn, m.SSN)</strong></p>
                        <p><strong>@string.Join(": ", Resources.UserInterface.beginBalance, m.OpenningBalance.ToString("#,#"))</strong></p>
                        <p><strong>@string.Join(": ", Resources.UserInterface.creditDescription, m.Credit.ToString("#,#"))</strong></p>
                        <p><strong>@string.Join(": ", Resources.UserInterface.debitDescription, m.Debit.ToString("#,#"))</strong></p>
                        <p><strong>@string.Join(": ", Resources.UserInterface.quantity, (m.Balance == 0 ? m.Balance.ToString() : m.Balance.ToString("#,#")))</strong></p>
                    </li>                
                }
            </ul>
        </div>
         <div  data-role="fieldcontain" class="ui-hidden-accessible" theme="e" data-mini="true" >        
                <a href="@Url.Action("SummaryCurrentBalance", "TradingTransaction")" data-role="button" data-icon="back" data-theme="e" title="@Resources.UserInterface.goBackHint" >@Resources.UserInterface.goBack</a>
        </div>      
    }
       
