@model  IEnumerable<ShareHolderCore.Domain.Model.TransactionBalance>


@{
    ViewBag.Title = @Resources.UserInterface.searchSummaryCurrentBalance;
}
<meta name="viewport" content="width=device-width" />
  
 
    @using (Html.BeginForm("SearchSummaryCurrentBalance", "TradingTransaction", FormMethod.Get, new { id = "searchSummaryCurrentBalance" }))
    {
        <div data-role="fieldcontain" class="ui-hidden-accessible" theme="e" data-mini="true">
            @Html.Label(Resources.UserInterface.shareSymbolOrShareHolder)
            @Html.DropDownList("Id", (SelectList)ViewBag.ShareHolderId)
        </div>
        <div data-role="controlgroup" data-type="horizontal" >
            <a href="../Home" data-role="button" data-icon="back" data-theme="e" title="@Resources.UserInterface.goBackHint" >@Resources.UserInterface.goBack</a>        
            <input id="search" type="submit"  value='@Resources.UserInterface.view' title="@Resources.UserInterface.viewHint" data-icon="check" data-theme="e"/>
        </div> 
    }